<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <wallet-confirm
      v-if="!isLoading"
      @onSign="onSign"
      @onReject="onReject"
      :metaData="meta"
      :networkData="network"
      :wallet="wallet"
      :payload="payload"
      :payloadType="payloadType"
      :dontBroadcast="dontBroadcast"
    />
  </transition>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeMount, onUnmounted, computed } from 'vue'
import WalletConfirm from 'src/components/WalletConfirm.vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import * as bson from 'bson'
import jsend from 'jsend'
import browser from 'webextension-polyfill'
import assert from 'assert'

export default defineComponent({
  name: 'ConfirmSign',
  components: {
    WalletConfirm,
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const tabId = ref(null)
    const meta = ref(null)
    const wallet = ref(null)
    const network = ref(null)
    const payload = ref(null)
    const payloadType = ref(null)
    const dontBroadcast = ref(null)
    const isLoading = ref(true)
    $q.loading.show()

    let dataStorage
    onBeforeMount(async () => {
      try {
        const tab = await browser.tabs.getCurrent()
        if (!tab.id) {
          window.close()
        }
        tabId.value = tab.id
        const { data } = await $q.bex.send('storage.get', { key: 'confirmsign' })
        dataStorage = data.find((d) => d.tabId === tabId.value && d.winType === 'sign')
        assert(dataStorage.conn.dapp.permissions.includes('sign'), 'invalid permissions')

        meta.value = {
          address: dataStorage.conn.onConnect.account.address,
          chainId: dataStorage.conn.dapp.chainId,
          dappName: dataStorage.conn.dapp.dappName,
          origin: dataStorage.conn.origin,
          permissions: dataStorage.conn.dapp.permissions || [],
          favIconUrl: dataStorage.conn.favIconUrl,
        }
        network.value = dataStorage.conn.onConnect.network
        // get the most up to date keystore
        const aryWallets = store.getters.walletState
        const walletConnected = aryWallets.find((w) => w.address === dataStorage.conn.onConnect.wallet.address)
        assert(walletConnected, `Connected wallet address has been removed`)
        const keystore = walletConnected.keystore
        wallet.value = { ...dataStorage.conn.onConnect.wallet, keystore }

        payload.value = dataStorage.dappPayloadDecrypted.payload
        payloadType.value = dataStorage.dappPayloadDecrypted.payloadType
        dontBroadcast.value = dataStorage.dappPayloadDecrypted.dontBroadcast || false

        isLoading.value = false
      } catch (error) {
        $q.notify({ type: 'negative', message: error.message })
      } finally {
        $q.loading.hide()
      }
    })

    $q.bex.on('close.from.dom', (evt) => {
      if (evt.data.tabId === tabId.value) window.close()
    })

    return {
      isLoading,
      meta,
      network,
      wallet,
      payload,
      payloadType,
      dontBroadcast,
      onReject: () => {
        $q.bex.send('on.confirm.connection.event', jsend.error({ code: 3, message: 'user rejected', data: { tabId: tabId.value } }))
      },
      onSign: (objPayload) => {
        const hd_idx = dataStorage.conn.hd_idx
        const hd = partisiaCrypto.wallet.walletFromXPub(dataStorage.conn.xpub, hd_idx)
        const payload = partisiaCrypto.wallet.encryptMessage(hd.publicKey, bson.serialize(objPayload)).toString('hex')

        $q.bex.send(
          'on.confirm.connection.event',
          jsend.success({
            tabId: tabId.value,
            hd_idx,
            payload,
          })
        )
      },
    }
  },
})
</script>
<style lang="scss" scoped></style>
