<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <template v-if="isLoading">&nbsp;</template>
    <template v-else>
      <div v-if="!walletState.length">
        <q-card class="my-card text-white bg-green q-ma-md">
          <q-card-section>
            <div class="text-h6">No Wallets Found</div>
            <div class="text-subtitle2">You do not have any wallets. Please Create or Import a wallet before you can connect to</div>
            <br />
            <div class="text-overline">{{ meta.dappName }}</div>
            <div>
              {{ meta.origin }}
            </div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="text-caption">To create a wallet please click the partisia wallet extention icon on the Top Right of the browser to Get Started</div>
          </q-card-section>

          <q-separator />

          <q-card-actions align="around">
            <q-btn flat @click="onReject">Close</q-btn>
          </q-card-actions>
        </q-card>
      </div>
      <div v-else-if="!isWalletUnlocked">
        <WalletUnlock class="dims-confirm" />
      </div>
      <div v-else-if="!network">
        <q-card class="my-card text-white bg-deep-orange q-ma-md">
          <q-card-section>
            <div class="text-h6">{{ meta.origin }}</div>
            <div class="text-subtitle2">Requesting Interaction on an Unknown Network</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="text-caption">If this is correct you will need to add their chainId and url as a custom network</div>
          </q-card-section>

          <q-separator />

          <q-card-actions align="around">
            <q-btn flat @click="onReject">Close</q-btn>
          </q-card-actions>
        </q-card>
      </div>
      <div v-else>
        <div class="dims-confirm">
          <div class="full-width row justify-center items-center q-py-md">
            <q-icon size="xs" name="las la-exclamation-triangle" />
            <div class="text-subtitle1 q-px-sm" style="font-size: 1rem">Confirm Connection</div>
            <q-icon size="xs" name="las la-exclamation-triangle" />
          </div>
          <div class="full-width row justify-center items-center">
            <q-img class="rounded-borders" style="height: 46px; max-width: 46px" ratio="1" :src="meta.favIconUrl">
              <template v-slot:error>
                <div class="absolute-full content-center flex flex-center bg-negative text-white">-</div>
              </template>
            </q-img>
          </div>
          <div class="full-width row justify-center items-center">
            <div class="text-overline">
              {{ meta.dappName }}
            </div>
          </div>
          <!-- <div class="full-width row justify-center items-center q-pt-md">
          <div class="text-caption">Do you trust this site?</div>
        </div> -->
          <div class="full-width row justify-center items-center q-pb-md">
            <!-- <div class="text-subtitle2">{{ meta.origin }}</div> -->
            <q-field readonly color="grey-3" bg-color="grey-3" outlined label="Do you trust this site?" stack-label style="min-width: 190px">
              <template v-slot:append>
                <q-icon size="sm" name="las la-link" color="darkgrey-5" />
              </template>
              <template v-slot:control>
                <div class="self-center full-width no-outline">
                  <b>{{ meta.origin }}</b>
                </div>
              </template>
            </q-field>
          </div>
          <div class="full-width row justify-left content-center q-px-xs">
            <q-chip :clickable="false" :ripple="false">
              <q-avatar color="light-green" text-color="white"></q-avatar>
              <!-- <div class="text-caption">Network:&nbsp;</div> -->
              <div class="text-subtitle2">{{ network }}</div>
            </q-chip>
          </div>
          <div class="full-width row justify-left content-center q-pa-sm">
            <div class="text-caption">This site is requesting access:</div>
            <q-item class="permission-item">
              <!-- <q-item-section side>
                <q-icon size="sm" name="las la-asterisk" />
              </q-item-section> -->
              <q-item-section>
                <q-item-label>View Address</q-item-label>
                <q-item-label caption>See your Partisia Account Address and Public Key</q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-if="meta.permissions.includes('sign')" class="permission-item">
              <!-- <q-item-section side>
                <q-icon size="sm" name="las la-asterisk" />
              </q-item-section> -->
              <q-item-section>
                <q-item-label>Sign Transaction</q-item-label>
                <q-item-label caption>Send a Transaction or Interact with a Contract. You will always be notified and required to provide final confirmation before any transaction.</q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-if="meta.permissions.includes('private_key')" class="permission-item">
              <q-item-section side>
                <q-icon size="sm" name="las la-asterisk" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Reveal Private Key</q-item-label>
                <q-item-label caption>Allowing this permission will expose your Private Key. You should only allow this permission if you really trust the DApp</q-item-label>
              </q-item-section>
            </q-item>
            <div
              class="full-width row justify-left content-start q-ma-md"
              style="border: 1px solid lightgrey; overflow-y: scroll"
              v-bind:style="{ height: meta.permissions.length < 2 ? `120px` : `37px` }"
            >
              <q-list class="full-width">
                <template v-for="(wallet, idx) in walletState" :key="idx">
                  <q-item clickable @click="onSelectAccount(idx)" v-bind:style="{ 'background-color': idx === walletIdx ? 'palegreen' : '' }">
                    <q-item-section class="full-width">
                      <q-item-label caption>{{ wallet.name }}</q-item-label>
                      <q-item-label style="white-space: nowrap">
                        <q-badge outline align="middle" color="indigo">
                          {{ `${getAccount(wallet).address}` }}
                        </q-badge>
                      </q-item-label>
                    </q-item-section>
                    <q-item-section side no-wrap v-if="idx === walletIdx">
                      <q-icon size="xs" name="las la-check" color="positive" />
                    </q-item-section>
                  </q-item>
                  <q-separator v-if="idx !== wallet.length - 1" />
                </template>
              </q-list>
            </div>

            <div class="full-width row justify-between">
              <div class="full-width row justify-between">
                <div class="col-6 q-pr-xs">
                  <q-btn class="btn-partisia-secondary full-width" no-caps @click="onReject" label="Reject" />
                </div>
                <div class="col-6 q-pl-xs">
                  <q-btn class="btn-partisia-primary full-width" no-caps @click="onConnect" label="Connect" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </transition>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeMount, onUnmounted, onBeforeUnmount } from 'vue'
import { useStore, mapGetters } from 'vuex'
import { useQuasar } from 'quasar'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import * as bson from 'bson'
import jsend from 'jsend'
import WalletUnlock from 'src/components/WalletUnlock.vue'
import browser from 'webextension-polyfill'
import { PartisiaAccount } from 'partisia-blockchain-applications-rpc'

export default defineComponent({
  name: 'ConfirmConnection',
  components: {
    WalletUnlock,
  },
  computed: {
    ...mapGetters(['isWalletUnlocked']),
  },
  methods: {},
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    // this was for testing
    const isLoading = ref(true)
    const tabId = ref(null)
    const walletState = ref(JSON.parse(JSON.stringify(store.getters.walletState)))
    const walletIdx = ref(store.getters.walletActiveIdx)
    const msgId = ref(null)
    const wallet_seed = ref(null)
    const time = ref(null)
    const network = ref(null)
    const meta = ref({
      chainId: '',
      dappName: '',
      origin: '',
      permissions: [],
      favIconUrl: '',
    })

    onBeforeUnmount(async () => {
      const tab = await browser.tabs.getCurrent()
      const window = await browser.windows.getCurrent()
      // alert(JSON.stringify({ tab: tab.id, window: window.id }))
    })
    let findNetwork
    onBeforeMount(async () => {
      const tab = await browser.tabs.getCurrent()

      if (!tab.id) {
        window.close()
      }
      tabId.value = tab.id
      const { data } = await $q.bex.send('storage.get', { key: 'confirmbox' })
      const metaData = data.find((d) => d.tabId === tabId.value && d.winType === 'connection')
      // alert(Object.keys(metaData))
      msgId.value = metaData.msgId
      wallet_seed.value = metaData.wallet_seed
      time.value = metaData.time
      // alert(metaData.dapp.favIconUrl)
      // alert(metaData.dapp.chainId)
      meta.value = {
        chainId: metaData.dapp.chainId,
        dappName: metaData.dapp.dappName,
        origin: metaData.origin,
        permissions: metaData.dapp.permissions || [],
        favIconUrl: metaData.favIconUrl,
      }
      const aryNetworks = store.getters.aryNetworkPartisia
      findNetwork = aryNetworks.concat([{ name: 'Custom Network', ...store.getters.networkCustom }]).find((n) => n.chainId === meta.value.chainId)
      network.value = findNetwork ? findNetwork.name : null

      isLoading.value = false
    })

    const getAccount = (wallet) => {
      const isWalletHD = wallet.pub.substr(0, 4) === 'xpub'

      const obj = {
        address: null,
        pub: null,
        shard_id: null,
      }
      if (isWalletHD) {
        const walletPublic = partisiaCrypto.wallet.walletFromXPub(wallet.pub, 0)
        obj.address = walletPublic.address
        obj.pub = walletPublic.publicKey
      } else {
        // torus
        obj.address = wallet.address
        obj.pub = wallet.pub
      }
      const aryUrls = findNetwork.ary_urls
      const rpcAccount = PartisiaAccount(aryUrls, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })

      obj.shard_id = store.getters.walletBalances[obj.address]?.account?.shard_id ?? rpcAccount.deriveShardId(obj.address)
      return obj
    }

    $q.bex.on('close.from.dom', (evt) => {
      if (evt.data.tabId === tabId.value) window.close()
    })

    return {
      isLoading,
      meta,
      network,
      walletState,
      walletIdx,
      getAccount,
      onSelectAccount: (idx) => {
        walletIdx.value = idx
      },
      onReject: () => {
        $q.bex.send('on.confirm.connection.event', jsend.error({ code: 3, message: 'user rejected', data: { tabId: tabId.value } }))
      },
      onConnect: async () => {
        try {
          const wallet = walletState.value[walletIdx.value]
          const account = getAccount(wallet)
          const payload = partisiaCrypto.wallet.encryptMessage(msgId.value, bson.serialize(account)).toString('hex')
          if (process.env.DEV) console.log(JSON.stringify({ ...account }, null, 2))

          // remove some extraneous data from wallet
          const { activity, tokensErc20, keystore, ...x } = wallet

          if (process.env.DEV) console.log('wallet', JSON.stringify(x, null, 2))
          const payloadWalletConnect = JSON.parse(
            JSON.stringify({
              tabId: tabId.value,
              network: findNetwork,
              account,
              wallet: {
                name: x.name,
                pub: x.pub,
                address: x.address,
                torusType: x.torusType,
                verifierId: x.verifierId,
                torusName: x.torusName,
                hardwareWallet: x.hardwareWallet,
              },
            })
          )
          if (process.env.DEV) console.log('set.wallet.connect', payloadWalletConnect)

          await $q.bex.send('set.wallet.connect', payloadWalletConnect)

          $q.bex.send(
            'on.confirm.connection.event',
            jsend.success({
              tabId: tabId.value,
              payload,
            })
          )
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
    }
  },
})
</script>

<style lang="scss" scoped>
.dims-confirm {
  font-family: 'F37 Bolton';
  margin: 0 auto;
  width: 360px;
  min-height: 600px;
  // border: 1px solid darkgrey;
}
.permission-item {
  font-family: 'F37 Bolton';
  font-size: 11px;
  border-bottom: 1px grey dotted;
}
</style>
