<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <div v-if="!isLoading" class="dims-confirm">
      <div class="full-width row justify-center items-center q-py-md">
        <q-icon size="xs" name="las la-exclamation-triangle" />
        <div class="text-subtitle1 q-px-sm" style="font-size: 1.25rem">Confirm Reveal Private Key</div>
        <q-icon size="xs" name="las la-exclamation-triangle" />
      </div>
      <div v-if="!fromWallet" class="full-width row justify-center items-center q-pb-md">
        <q-field filled readonly color="grey-3" bg-color="grey-3" label="Request from" stack-label style="min-width: 190px">
          <q-img class="rounded-borders" style="height: 24px; max-width: 24px" ratio="1" :src="meta.favIconUrl">
            <template v-slot:error>
              <div class="absolute-full content-center flex flex-center bg-negative text-white">-</div>
            </template>
          </q-img>
          <template v-slot:control>
            <div class="self-center full-width no-outline" style="padding-right: 24px">
              <b>{{ meta.origin }}</b>
            </div>
          </template>
        </q-field>
      </div>
      <div class="full-width row justify-left content-center q-pl-md">
        <q-field borderless readonly stack-label label="Account">
          <template v-slot:control>
            {{ meta.address }}
          </template>
        </q-field>
      </div>
      <div class="row justify-left content-center q-px-sm">
        <q-card class="full-width bg-red-2" style="height: 380px" bordered>
          <q-card-section>
            This action will reveal your private key to this DApp. Please be very careful that you trust this DApp as revealing your private key will allow the DApp to execute on chain transactions
            for you including transferring of funds</q-card-section
          >
        </q-card>
      </div>

      <div>
        <div class="full-width row justify-around q-pt-md">
          <div class="col-4">
            <q-btn class="full-width" color="negative" label="Reject" outline @click="onReject" />
          </div>
          <div class="col-4">
            <q-btn class="full-width" color="secondary" label="Reveal" @click="onKey" />
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeMount, onUnmounted, computed } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import * as bson from 'bson'
import jsend from 'jsend'
import browser from 'webextension-polyfill'
import assert from 'assert'
import { promptPassword } from 'src/boot/landing'

export default defineComponent({
  name: 'ConfirmSign',
  components: {},
  props: {
    fromWallet: {
      type: Boolean,
      default: false,
    },
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const tabId = ref(null)
    const meta = ref(null)
    const wallet = ref(null)
    const isLoading = ref(true)
    const keystore = ref(null)
    $q.loading.show()

    let dataStorage
    onBeforeMount(async () => {
      try {
        const tab = await browser.tabs.getCurrent()
        if (!tab.id) {
          window.close()
        }
        tabId.value = tab.id
        const { data } = await $q.bex.send('storage.get', { key: 'confirmsign' })
        dataStorage = data.find((d) => d.tabId === tabId.value && d.winType === 'private_key')
        assert(dataStorage.conn.dapp.permissions.includes('private_key'), 'invalid permissions')

        meta.value = {
          address: dataStorage.conn.onConnect.account.address,
          chainId: dataStorage.conn.dapp.chainId,
          dappName: dataStorage.conn.dapp.dappName,
          origin: dataStorage.conn.origin,
          permissions: dataStorage.conn.dapp.permissions || [],
          favIconUrl: dataStorage.conn.favIconUrl,
        }
        // network.value = dataStorage.conn.onConnect.network
        wallet.value = dataStorage.conn.onConnect.wallet

        const aryWallets = store.getters.walletState
        const walletConnected = aryWallets.find((w) => w.address === dataStorage.conn.onConnect.wallet.address)
        assert(walletConnected, `Connected wallet address has been removed`)
        keystore.value = walletConnected.keystore

        isLoading.value = false
      } catch (error) {
        $q.notify({ type: 'negative', message: error.message })
      } finally {
        $q.loading.hide()
      }
    })

    $q.bex.on('close.from.dom', (evt) => {
      if (evt.data.tabId === tabId.value) window.close()
    })

    return {
      isLoading,
      meta,
      wallet,
      onReject: () => {
        $q.bex.send('on.confirm.connection.event', jsend.error({ code: 3, message: 'user rejected', data: { tabId: tabId.value } }))
      },
      onKey: async () => {
        const getWif = async () => {
          if (wallet.value.privateKey) {
            return wallet.value.privateKey
          } else if (wallet.value.hardwareWallet) {
            return 'unavailable'
          } else {
            return await promptPassword(JSON.stringify(keystore.value))
          }
        }

        try {
          const objPayload = {
            address: wallet.value.address,
            public_key: wallet.value.pub,
            private_key: await getWif(),
          }
          const hd_idx = dataStorage.conn.hd_idx
          const hd = partisiaCrypto.wallet.walletFromXPub(dataStorage.conn.xpub, hd_idx)
          const payload = partisiaCrypto.wallet.encryptMessage(hd.publicKey, bson.serialize(objPayload)).toString('hex')

          $q.bex.send(
            'on.confirm.connection.event',
            jsend.success({
              tabId: tabId.value,
              hd_idx,
              payload,
            })
          )
        } catch (error) {
          $q.notify({ type: 'negative', message: typeof error === 'string' ? error : error.message })
        }
      },
    }
  },
})
</script>
<style lang="scss" scoped></style>
