<template>
  <div class="fullscreen text-center q-pa-md flex flex-center">
    <div>Options page</div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Full',
})
</script>
