<template>
  <div class="dims">
    <q-layout view="lHh lpR fFf" v-bind:class="{ 'fixed-content': windowType !== 'popup' }">
      <q-page-container v-if="!walletState.length">
        <Welcome />
      </q-page-container>
      <template v-else>
        <q-header v-if="isWalletUnlocked && !isDapps" class="top-header">
          <q-toolbar>
            <q-btn v-if="getRoute !== null" dense flat round icon="las la-chevron-circle-left" @click="onBack" />
            <q-btn v-else dense flat round icon="menu" @click="toggleLeftDrawer">
              <q-menu square class="menu-left" :offset="[20, 10]" :style="{ 'min-height': '545px', 'max-height': '545px', height: '545px' }" fit v-model="isMenuShow">
                <div class="menu-list full-height column justify-between">
                  <div class="">
                    <q-list dense>
                      <q-item :clickable="false" class="q-mt-md">
                        <q-item-section>
                          <q-select
                            color="secondary"
                            input-class="full-width text-bold"
                            dense
                            no-wrap
                            v-model="accountSelected"
                            :options="accountDropdown"
                            @update:model-value="onUpdateAccount"
                            :option-label="(opt) => walletState[opt].name"
                            class="select-wallet q-mb-lg max-width-ellipsis"
                            borderless
                          >
                            <template v-slot:selected>
                              <span class="inner-select">
                                {{ walletState[accountSelected].name }}
                              </span>
                            </template></q-select
                          >
                        </q-item-section>
                      </q-item>
                      <q-item clickable>
                        <q-item-section v-close-popup @click="onAccountRename">
                          <div class="menu-text row items-center no-wrap">
                            <div>Edit account</div>
                          </div>
                        </q-item-section>
                      </q-item>
                      <q-item clickable>
                        <q-item-section v-close-popup @click="onAccountBackup">
                          <div class="menu-text row items-center no-wrap">
                            <div>Back up account</div>
                          </div>
                        </q-item-section>
                      </q-item>
                      <q-item clickable>
                        <q-item-section v-close-popup @click="onAccountRemove">
                          <div class="menu-text row items-center no-wrap">
                            <div>Remove account</div>
                          </div>
                        </q-item-section>
                      </q-item>
                      <q-separator inset color="gray" class="q-my-md" />
                      <q-item clickable v-if="isWalletPasswordProtected">
                        <q-item-section v-close-popup @click="onAccountCreate">
                          <div class="menu-text row items-center no-wrap">
                            <div>Create account</div>
                          </div>
                        </q-item-section>
                      </q-item>
                      <q-item clickable v-if="isWalletPasswordProtected">
                        <q-item-section v-close-popup @click="onAccountImport">
                          <div class="menu-text row items-center no-wrap">
                            <div>Import account</div>
                          </div>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </div>
                  <div class="">
                    <q-list dense>
                      <q-item clickable v-if="windowType !== 'popup'">
                        <q-item-section v-close-popup @click="onPopout">
                          <div class="menu-text row items-center no-wrap">
                            <div>Popout Window</div>
                          </div>
                        </q-item-section>
                      </q-item>
                      <q-item clickable>
                        <q-item-section v-close-popup @click="onOpenSettings">
                          <div class="menu-text row items-center no-wrap">
                            <div>Settings</div>
                          </div>
                        </q-item-section>
                      </q-item>
                      <q-item clickable>
                        <q-item-section v-close-popup @click="onOpenSupport">
                          <div class="menu-text row items-center no-wrap">
                            <div>Support</div>
                          </div>
                        </q-item-section>
                      </q-item>
                    </q-list>
                    <q-item :clickable="false">
                      <q-item-section v-close-popup @click="onWalletLock">
                        <q-btn v-close-popup @click="onWalletLock" no-caps class="btn-partisia-secondary text-bold q-mb-sm" outline label="Lock wallet" />
                      </q-item-section>
                    </q-item>
                  </div>
                </div>
              </q-menu>
            </q-btn>

            <q-toolbar-title class="fit column content-center q-mt-sm">
              <!-- <div class="account-name">{{ walletActive.name }}</div> -->
              <div class="" style="width: 120px; margin-bottom: 1px">
                <div class="row full-width justify-between no-wrap select-wallet cursor-pointer">
                  <div class="max-width-ellipsis">
                    {{ walletActive.name }}
                  </div>
                  <q-icon class="self-center" name="keyboard_arrow_down" />
                </div>
                <!-- <q-input type="text" :value="selectedValue ? walletState[selectedValue].name : ''" readonly /> -->
                <q-menu anchor="bottom right" :menu-anchor="true" self="top right">
                  <q-list dense>
                    <q-item v-for="(option, idx) in accountDropdown" :key="idx" clickable @click="onUpdateAccount(idx)" v-close-popup>
                      <q-item-section>
                        {{ walletState[idx].name }}
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </div>
              <!-- <q-select
                input-class="full-width text-bold"
                no-wrap
                dense
                v-model="accountSelected"
                :options="accountDropdown"
                @update:model-value="onUpdateAccount"
                :option-label="(opt) => walletState[opt].name"
                class="select-wallet q-ma-none max-width-ellipsis"
                borderless
                style="max-height: 20px"
              >
              </q-select> -->
              <!-- <div class="account-address">{{ `${walletActive.address.substr(0, 5)}...${walletActive.address.substr(37)}` }}</div> -->
              <q-btn @click="onCopyAddress" class="account-address q-ma-none q-pa-none" dense size="14px" no-caps :label="`${walletActive.address.substr(0, 5)}...${walletActive.address.substr(37)}`">
                <q-icon name="las la-copy" color="secondary" class="q-pl-sm q-mb-xs" size="16px"></q-icon>
              </q-btn>
            </q-toolbar-title>

            <!-- <q-btn-dropdown color="transparent" class="text-black" dropdown-icon="las la-ellipsis-h"> </q-btn-dropdown> -->
            <q-btn dense flat round icon="las la-ellipsis-h" class="q-pa-none q-ma-none">
              <q-menu auto-close class="" square :offset="[11, 10]" fit style="width: 220px">
                <q-list>
                  <q-item clickable>
                    <q-item-section @click="onAccountUrl">
                      <q-item-label>View in explorer</q-item-label>
                      <q-item-label caption lines="1">browser.partisiablockchain.com</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section @click="onConnectedSites">
                      <q-item-label>Connected Sites</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </q-header>
        <q-header v-else bordered class="text-black" style="background: var(--Blue-10, #ecf1ff)">
          <q-toolbar>
            <q-toolbar-title class="fit row no-wrap justify-center">
              <q-img class="q-pa-none q-ma-none" src="~assets/parti-logo.svg" :no-spinner="true" width="18px" height="22px" />
              <div class="text-header-unlock">Parti Wallet</div>
              <!-- <q-img src="~assets/PB_Logo.png" :no-spinner="true" width="28px" height="22px" />
              <div class="text-header-unlock">MPC<br />Wallet</div> -->
            </q-toolbar-title>
          </q-toolbar>
        </q-header>
        <!-- <q-drawer show-if-above v-model="rightDrawerOpen" side="left" bordered> </q-drawer> -->
        <!-- <q-page-container class="q-pa-md flex flex-center" style="height:598px"> -->
        <q-page-container v-if="isDapps">
          <q-page>
            <Dapps />
          </q-page>
        </q-page-container>
        <q-page-container v-else>
          <q-page v-if="!isWalletUnlocked">
            <WalletUnlock @onUnlock="onUnlock" />
          </q-page>
          <q-page v-else-if="getRoute === 'Create'">
            <!-- <RowBack @onBack="onBack" /> -->
            <WalletCreate />
          </q-page>
          <q-page v-else-if="getRoute === 'Import'">
            <!-- <RowBack @onBack="onBack" /> -->
            <WalletImport />
          </q-page>
          <q-page v-else-if="getRoute === 'Receive'">
            <!-- <RowBack @onBack="onBack" /> -->
            <WalletReceive />
          </q-page>
          <q-page v-else-if="getRoute === 'Backup'">
            <WalletBackup />
          </q-page>
          <template v-else-if="getRoute === 'Settings'">
            <WalletSettings />
          </template>
          <q-page v-else-if="getRoute === 'Support'">
            <WalletSupport />
          </q-page>
          <q-page v-else-if="getRoute === 'SettingsMpc20'">
            <WalletSettingsMpc20 />
          </q-page>
          <q-page v-else-if="getRoute === 'SettingsMpc721'">
            <WalletSettingsMpc721 />
          </q-page>
          <q-page v-else-if="getRoute === 'SendToken'">
            <WalletSendToken :token-id="walletSendTokenProps.tokenId" :contract-address="walletSendTokenProps.contractAddress" :token-type="walletSendTokenProps.tokenType" />
          </q-page>
          <q-page v-else-if="getRoute === 'ManageAssetMpc20'">
            <ManageMpc20 />
          </q-page>
          <q-page v-else-if="getRoute === 'ManageAssetNft'">
            <ManageNfts />
          </q-page>
          <q-page v-else-if="getRoute === 'ShowCollectionNft'">
            <ShowCollectionNft :token-id="tokenNftId" />
          </q-page>
          <q-page v-else-if="getRoute === 'testWalletConfirm'">
            <wallet-confirm
              :wallet="walletActive"
              :payload="'0100a7e41597691d4a46b1871a6d82b32c9a8329b563000000000000000000000000000f4240'"
              :payloadType="'hex_payload'"
              :dontBroadcast="false"
              fromWallet
              :deserialized="{
                actionName: 'transfer',
                arguments: {
                  to: '00a7e41597691d4a46b1871a6d82b32c9a8329b563',
                  amount: '1000000',
                },
              }"
            />
          </q-page>
          <q-page v-else>
            <WalletBox @sendToken="onSendToken" @onNft="tokenNftId = $event" />
          </q-page>

          <!-- <WalletInfo v-else /> -->
        </q-page-container>
      </template>
      <q-footer v-if="getRoute === null && isWalletUnlocked" bordered class="text-black bg-footer">
        <div class="column full-height justify-center">
          <div class="row justify-center q-gutter-x-sm">
            <q-btn icon="las la-wallet" size="lg" flat :color="!isDapps ? 'secondary' : 'grey-7'" class="q-py-none q-px-sm" @click="isDapps = false" />
            <q-btn icon="las la-icons" size="lg" flat :color="isDapps ? 'secondary' : 'grey-7'" class="q-py-none q-px-sm" @click="isDapps = true" />
            <!-- <q-btn icon="las la-icons" size="lg" class="bg-white q-py-none q-px-sm" color="teal" outline /> -->
          </div>
        </div>
      </q-footer>
    </q-layout>
  </div>
</template>
<script>
import { defineComponent, ref, onBeforeMount, onBeforeUnmount, computed, onMounted, getCurrentInstance } from 'vue'
import { mapGetters, mapActions, mapMutations, useStore } from 'vuex'
import browser from 'webextension-polyfill'
import WalletImport from 'src/components/WalletImport.vue'
import WalletSendToken from 'src/components/WalletSendToken.vue'
import WalletBackup from 'src/components/WalletBackup.vue'
import WalletCreate from 'src/components/WalletCreate.vue'
import WalletSettings from 'src/components/WalletSettings.vue'
import WalletSupport from 'src/components/WalletSupport.vue'
import DialogConnectedSites from 'src/components/DialogConnectedSites.vue'
import WalletSettingsMpc20 from 'src/components/WalletSettingsMpc20.vue'
import WalletSettingsMpc721 from 'src/components/WalletSettingsMpc721.vue'
import WalletBox from 'src/components/WalletBox.vue'
import WalletUnlock from 'src/components/WalletUnlock.vue'
import WalletReceive from 'src/components/WalletReceive.vue'
import Welcome from 'src/components/Welcome.vue'
import WalletConfirm from 'src/components/WalletConfirm.vue'
import { useQuasar, openURL, copyToClipboard } from 'quasar'
import assert from 'assert'
import { triggerWalletRefresh } from 'src/boot/landing'
import ManageNfts from 'src/components/ManageNfts.vue'
import ManageMpc20 from 'src/components/ManageMpc20.vue'
import ShowCollectionNft from 'src/components/ShowCollectionNft.vue'
import Dapps from 'src/components/Dapps.vue'
import { is_keystore_password } from 'partisia-rust-keystore'

export default defineComponent({
  name: 'PopupMain',
  components: {
    Welcome,
    // RowBack,
    WalletBackup,
    WalletImport,
    WalletCreate,
    WalletSettings,
    WalletUnlock,
    WalletReceive,
    WalletSettingsMpc20,
    WalletSettingsMpc721,
    WalletSendToken,
    ManageNfts,
    ManageMpc20,
    ShowCollectionNft,
    Dapps,
    WalletConfirm,
    WalletBox,
    WalletSupport,
  },
  data() {
    return {
      $q: useQuasar(),
    }
  },
  computed: {
    ...mapGetters([
      'getOptions',
      'wasmModules',
      'walletState',
      'isWalletUnlocked',
      'walletActive',
      'networkActive',
      'accountActive',
      'aryNetworkPartisia',
      'walletActiveIdx',
      'getRoute',
      'isWalletPasswordProtected',
      'isTestnet',
    ]),
    addressShort() {
      const { address } = this.accountActive
      return `${address.substr(0, 6)}...${address.substr(36)}`
    },
  },
  methods: {
    ...mapActions(['routeChange']),
    accountUrl(address) {
      const link = this.isTestnet ? this.getOptions.blockExplorerAccountTestnet : this.getOptions.blockExplorerAccount
      const url = new URL(link.replace('{0}', address))
      return url.href
    },
    onAccountUrl() {
      openURL(this.accountUrl(this.walletActive.address))
    },
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()
    // store.dispatch('routeChange', 'testWalletConfirm')

    const rightDrawerOpen = ref(false)
    const networkCustomChainId = ref('')
    const networkCustomUrl = ref('')
    const txtAccountRename = ref('')
    const isCloseItem = ref(false)
    const isMenuShow = ref(false)
    const windowType = computed(() => store.getters.winType)
    const walletActive = computed(() => store.getters.walletActive)
    const walletState = computed(() => store.getters.walletState)
    const accountDropdown = computed(() => Array.from({ length: walletState.value.length }, (_, index) => index))
    const accountSelected = computed(() => store.getters.walletActiveIdx)
    const walletSendTokenProps = ref({ tokenId: -1, tokenType: 'MPC' })
    const tokenNftId = ref(null)
    const isDapps = ref(false)

    if (process.env.DEV) console.log('walletState', JSON.stringify(walletState.value, null, 2))

    const onWalletCreated = async ({ data }) => {
      // Get the settings
      if (process.env.DEV) console.log('onWalletCreated data:', JSON.stringify(data, null, 2))
      await store.dispatch('walletCreate', JSON.parse(JSON.stringify(data)))
      await store.dispatch('walletLoggedIn', true)
    }

    // Add listener from WalletNew component
    $q.bex.on('wallet.created', onWalletCreated)

    // user idle status
    let userActivityThrottlerTimeout = null
    let userActivityTimeout = null
    onBeforeUnmount(() => {
      $q.bex.off('wallet.created', onWalletCreated)

      window.removeEventListener('mousemove', userActivityThrottler)
      window.removeEventListener('scroll', userActivityThrottler)
      window.removeEventListener('keydown', userActivityThrottler)
      window.removeEventListener('resize', userActivityThrottler)

      clearTimeout(userActivityTimeout)
      clearTimeout(userActivityThrottlerTimeout)
    })

    const activateActivityTracker = () => {
      window.addEventListener('mousemove', userActivityThrottler)
      window.addEventListener('scroll', userActivityThrottler)
      window.addEventListener('keydown', userActivityThrottler)
      window.addEventListener('resize', userActivityThrottler)
    }
    const LOCK_TIMEOUT = store.getters.getOptions.lockTimeout * 60 * 1000
    const resetUserActivityTimeout = () => {
      // console.log('lockTimeout', store.getters.getOptions.lockTimeout)
      clearTimeout(userActivityTimeout)
      userActivityTimeout = setTimeout(() => {
        inactiveUserAction()
      }, Math.min(2147483647, LOCK_TIMEOUT))
      // max for setTimeout is 32-bit signed integer 2^31-1
    }
    const inactiveUserAction = async () => {
      if (process.env.DEV) console.log('inactiveUserAction', Date.now())
      isDapps.value = false
      await store.dispatch('walletLoggedIn', false)
    }
    const USER_ACTIVITY_THROTTLER_TIME = 5000 // 5 seconds
    const userActivityThrottler = async () => {
      if (!userActivityThrottlerTimeout) {
        if (Date.now() - store.getters.idleTime > LOCK_TIMEOUT) {
          isDapps.value = false
          await store.dispatch('walletLoggedIn', false)
        }

        await store.dispatch('setIdleTime', Date.now())
        // console.log('userActivityThrottler', Date.now())
        userActivityThrottlerTimeout = setTimeout(() => {
          resetUserActivityTimeout()

          clearTimeout(userActivityThrottlerTimeout)
          userActivityThrottlerTimeout = null
        }, USER_ACTIVITY_THROTTLER_TIME)
      }
    }
    const windowPopout = async () => {
      await $q.bex.send('open.popup.window')
      window.close()
    }
    onBeforeMount(async () => {
      try {
        // track idle users
        activateActivityTracker()

        // These will create pollers that will continually query the api for new activity
        triggerWalletRefresh(store, { isRepeat: true })
      } catch (error) {
        $q.notify({ type: 'negative', message: error.message })
      }
    })

    // prompt the user to create a wallet
    // If user wants full
    const openInFullPage = () => {
      const url = 'www/index.html#/full'
      browser.tabs.create({
        url: browser.runtime.getURL(url),
      })
    }

    if (store.getters.getOptions.isFullScreen) {
      openInFullPage()
      window.close()
    }

    store.watch(
      (state, getters) => getters.walletActiveIdx,
      async (newValue, oldValue) => {
        // return the wallet back to main popup page
        await store.dispatch('routeChange', null)
        isMenuShow.value = false

        // now refresh wallet
        triggerWalletRefresh(store, { isRepeat: false })
      }
    )

    store.watch(
      (state, getters) => getters.getRoute,
      async (newValue, oldValue) => {
        if (newValue === null) isMenuShow.value = false
      }
    )

    return {
      accountDropdown,
      accountSelected,
      isMenuShow,
      rightDrawerOpen,
      windowType,
      tokenNftId,
      txtAccountRename,
      isDev: process.env.DEV,
      isDapps,
      walletSendTokenProps,
      model: ref(null),
      onUpdateAccount: async (idx) => {
        await store.dispatch('setWallet', idx)
      },
      onConnectedSites: () => {
        $q.dialog({
          component: DialogConnectedSites,
          componentProps: {},
        })
      },
      onAccountRename: () => {
        $q.dialog({
          // title:'Unlock Wallet',
          seamless: true,
          html: false,
          cancel: true,
          persistent: true,
          message: 'Rename to',
          color: 'secondary',
          prompt: {
            model: '',
            type: 'text',
          },
        }).onOk(async (name) => {
          try {
            assert(name.length > 0, 'Cannot be empty')
            const idx = accountSelected.value
            // const name = 'x' // walletActive.value.name
            // check the name is not in use
            const aryNames = walletState.value.map((x) => x.name)
            const nameIdx = aryNames.indexOf(name)
            if (nameIdx !== idx) {
              assert(nameIdx === -1, 'Wallet name already taken')
              // update the name
              const { data } = await $q.bex.send('wallet.rename', { idx, name_new: name })
              assert(data.data, data.error)
              await store.dispatch('walletRename', { idx, name })
              $q.notify({
                type: 'positive',
                message: 'Renamed Wallet',
              })
            }
          } catch (error) {
            $q.notify({ type: 'negative', message: error.message })
          }
        })
      },
      onUnlock: async () => {
        isMenuShow.value = false
        await store.dispatch('routeChange', null)
      },
      onBack: async () => {
        await store.dispatch('routeChange', null)
      },
      toggleLeftDrawer() {
        rightDrawerOpen.value = !rightDrawerOpen.value
      },
      onOpenSettings: () => {
        // openURL('#/options')
        store.dispatch('routeChange', 'Settings')
      },
      onOpenSupport: () => {
        // openURL('#/options')
        store.dispatch('routeChange', 'Support')
      },
      onSendToken: ({ tokenId, tokenType, contractAddress }) => {
        walletSendTokenProps.value = { tokenId, tokenType, contractAddress }
        store.dispatch('routeChange', 'SendToken')
      },
      onPopout: windowPopout,
      onWalletLock: async () => {
        isDapps.value = false
        await store.dispatch('walletLoggedIn', false)
      },
      networkCustomChainId,
      networkCustomUrl,
      isCloseItem,
      onAccountImport: () => {
        store.dispatch('routeChange', 'Import')
      },
      onAccountCreate: () => {
        store.dispatch('routeChange', 'Create')
      },
      onAccountRemove: async () => {
        $q.dialog({
          // title:'Unlock Wallet',
          seamless: true,
          html: true,
          message: `Are you sure you like to remove account <br /><b style="line-break:anywhere;">${store.getters.accountActive.address}</b><br /><br />Please make sure you have made a backup before removing or you will not be able to access funds again.`,
          cancel: true,
          persistent: true,
          color: 'secondary',
          prompt: {
            model: '',
            isValid: (val) => val.length > 0,
            type: 'password',
            outlined: true,
            standout: true,
            square: true,
            label: 'confirm password',
          },
          options: {
            type: 'toggle',
            model: [],
            isValid: (model) => model.includes('isConfirm'),
            items: [{ label: 'I Understand', value: 'isConfirm' }],
          },
        }).onOk(async (walletPassword) => {
          try {
            const is_valid = is_keystore_password(JSON.stringify(store.getters.walletActive.keystore), Buffer.from(walletPassword))
            assert(is_valid, 'Incorrect Password')
            const { error, data } = (await $q.bex.send('wallet.remove', store.getters.walletActiveIdx)).data
            assert(data, error)
            await store.dispatch('walletRemove', data.walletIdx)
          } catch (error) {
            $q.notify({ type: 'negative', message: error.message })
          }
        })
      },
      onAccountBackup: () => {
        store.dispatch('routeChange', 'Backup')
      },
      onNetworkCustom: () => {
        store.dispatch('setNetworkCustom', { chainId: networkCustomChainId.value, url: networkCustomUrl.value })
      },
      onNetworkShard: (idx) => {
        store.dispatch('networkShard', idx)
      },
      onCopyAddress: () => {
        copyToClipboard(store.getters.accountActive.address)
          .then(() => {
            $q.notify({ type: 'positive', message: 'address copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
    }
  },
  async mounted() {
    this.$forceUpdate()
  },
  watch: {},
})
</script>

<style lang="scss" scoped>
.bex-dialog .q-card {
  background-color: red;
}
.dims {
  overflow-x: hidden;
  // background: linear-gradient(0deg, #f0f1f2, #f0f1f2);
}
.account-active {
  // color: white;
  // margin: 2px;
  background: $green-4;
  border: 1px solid $green-3;
  border-radius: 4px;
  // margin: 1px;
}
.account-edit {
  font-size: 0.75em;
}
.account-edit:hover {
  // font-size: 0.9em;
  color: black;
}
.account-check {
  color: green;
  font-size: 0.75em;
}
.account-check:hover {
  color: green;
}
.text-header-unlock {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
}
.menu-left {
  top: 60px !important;
  left: 0px !important;

  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 16px;
}
.menu-list {
  width: 200px;
}
.fixed-content {
  width: 360px;
  // 600 minus 56 for header
  // min-height: 544px !important;
  // height: 544px !important;
  // max-height: 544px !important;
}

.top-header {
  height: 56px;
  border-bottom: 2px solid var(--black-10, rgba(0, 0, 0, 0.1));
  // background: var(--black-10, rgba(0, 0, 0, 0.1));
  background: #ecf1ff;
  color: #1d70ea;
  // color: var(--black-50, rgba(0, 0, 0, 0.5));
  .account-name {
    font-family: 'F37 Bolton';
    color: #1d70ea;
    // color: var(--black-50, rgba(0, 0, 0, 0.5));
    text-align: center;
    font-size: 12px;
    line-height: 100%;
  }
  .account-address {
    color: var(--black, #000);
    text-align: center;
    font-size: 16px;
    font-family: 'F37 Bolton';
    font-weight: 700;
    line-height: 100%;
  }
}
.max-width-ellipsis {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bg-footer {
  background-color: #ecf1ff;
  height: 62px;
  margin-bottom: 0;
}
.menu-text {
  color: var(--Blue, #1d70ea);
  font-family: 'F37 Bolton';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
}
</style>
