<template>
  <div class="q-mt-xl row justify-center full-width">
    <q-img src="~assets/watching_you.svg" width="164px"/>
  </div>
  <div class="q-mt-lg" style="text-align: center">
    <div class="h">Is anyone watching you?</div>
    <div class="t q-mt-sm">We're about to show you your secret backup. Keep it safe - it controls your funds. Always view it privately, away from cameras.</div>
  </div>
  <q-footer class="q-px-md" style="background-color: transparent">
    <div class="row full-width justify-between" style="margin-top: 130px">
      <div class="col-6 q-pr-xs">
        <q-btn class="full-width btn-partisia-secondary" outline no-caps no-wrap label="Go back" @click="onBack" />
      </div>
      <div class="col-6 q-pl-xs">
        <q-btn class="full-width btn-partisia-primary" no-caps no-wrap label="View secret phrase" @click="onNext" />
      </div>
    </div>
  </q-footer>
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'
import WalletPasswordConfirm from 'src/components/WalletPasswordConfirm.vue'

export default {
  emits: ['onBack', 'onNext'],
  components: {},
  setup(props, context) {
    return {
      onBack() {
        context.emit('onBack')
      },
      onNext() {
        context.emit('onNext')
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.h {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.t {
  color: var(--black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
</style>
