<template>
  <div class="column full-width justify-center no-wrap">
    <q-img class="self-center" src="~assets/sign_up_congratulations.svg" width="130px" style="margin-top: 100px" />
    <div class="t q-mt-lg">Congratulations!</div>
    <div class="t2 q-mt-sm">Your account has been successfully imported.</div>
  </div>

  <q-footer class="q-px-md" style="background-color: transparent">
    <q-form @submit="onFinal" class="q-pa-sm">
      <div class="q-pt-none text-center">
        <q-btn label="Proceed to the wallet" no-caps type="submit" class="full-width btn-partisia-primary" />
      </div>
    </q-form>
  </q-footer>
</template>

<script>
import { ref } from 'vue'
export default {
  emits: ['onCompleteSignUp'],
  // name: 'ComponentName',
  setup(props, context) {
    return {
      onFinal() {
        context.emit('onCompleteSignUp')
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.t {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.t2 {
  color: var(--black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
</style>
