<template>
  <div class="title">Confirm your secret backup phrase</div>
  <div class="sub">Please input each missing word in the designated box.</div>
  <mnemonic-box v-model="mnemonicPhrase" :disable-words="aryWordsDisable" />
  <q-form @submit="onConfirm" class="q-pt-lg">
    <div class="q-pt-none text-center">
      <q-btn :disable="!mnemonicPhrase.every((v) => v.length > 0)" label="Confirm" no-caps type="submit" class="full-width btn-partisia-primary" />
    </div>
  </q-form>
  <!-- <q-footer class="bg-white">
    <q-form @submit="onConfirm" class="q-pa-lg">
      <div class="q-pt-none text-center">
        <q-btn :disable="!mnemonicPhrase.every((v) => v.length > 0)" label="Confirm" no-caps type="submit" class="full-width btn-partisia-primary" />
      </div>
    </q-form>
  </q-footer> -->
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'
import MnemonicBox from 'src/components/MnemonicBox.vue'
import { useQuasar } from 'quasar'
import { useStore } from 'vuex'
import assert from 'assert'

export default {
  emits: ['onMnemonicConfirm'],
  props: {
    mnemonic: {
      type: String,
      required: true,
    },
  },
  components: {
    MnemonicBox,
  },

  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const mnemonicPhrase = ref(new Array(store.getters.getOptions.mnemonicWords).fill(''))
    // only require user to enter in 6 words
    const getRandomInt = (max) => {
      // Returns a random integer between 0 (inclusive) and max (exclusive)
      return Math.floor(Math.random() * (max - 0))
    }
    const aryNums = Array.from({ length: mnemonicPhrase.value.length }, (_, index) => index)
    const aryWordsToConfirm = []
    for (let i = 0; i < 6; i++) {
      const rnd = getRandomInt(aryNums.length)
      aryWordsToConfirm.push(aryNums[rnd])
      aryNums.splice(rnd, 1)
    }
    aryWordsToConfirm.sort((a, b) => a - b)

    // do the inverse for disabled words

    if (process.env.DEV) console.log('aryWordsToConfirm', aryWordsToConfirm)

    // fill in all the words except the 6
    const aryWordsDisable = ref([])
    const mne = props.mnemonic.split(' ')
    for (let i = 0; i < mnemonicPhrase.value.length; i++) {
      if (!aryWordsToConfirm.includes(i)) {
        // mnemonicPhrase.value[i] = mne[i]
        mnemonicPhrase.value[i] = '*****'
        aryWordsDisable.value.push(i)
      }
    }
    // if (process.env.DEV) {
    //   const mne = 'abstract neglect first scrub often choice valley train badge rival fan scatter abstract neglect first scrub often choice valley train badge rival fan scatter'.split(' ')
    //   for (let i = 0; i < mnemonicPhrase.value.length; i++) {
    //     mnemonicPhrase.value[i] = mne[i]
    //   }
    // }
    return {
      mnemonicPhrase,
      aryWordsDisable,
      onConfirm: () => {
        const aryMnemonicConfirm = new Array(mnemonicPhrase.value.length)
        for (let i = 0; i < aryMnemonicConfirm.length; i++) {
          aryWordsDisable.value.includes(i) ? aryMnemonicConfirm[i] = mne[i] : aryMnemonicConfirm[i] = mnemonicPhrase.value[i]
        }
        context.emit('onMnemonicConfirm', aryMnemonicConfirm.join(' '))
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.title {
  text-align: center;
  font-family: 'F37 Bolton';
  font-weight: bold;
  font-size: 18px;
}
.sub {
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 14px;
}
</style>
