<template>
  <div class="heading q-pb-md q-pt-md">Create a Password</div>
  <WalletPasswordConfirm @onLicenseTerms="onViewTerms" @onPassword="onPassword" btn-label="Create Wallet" />
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'
import WalletPasswordConfirm from 'src/components/WalletPasswordConfirm.vue'

export default {
  emits: ['onPassword', 'onLicenseTerms'],
  components: {
    WalletPasswordConfirm,
  },
  setup(props, context) {
    return {
      onViewTerms() {
        context.emit('onLicenseTerms', {})
      },
      onPassword: (v) => {
        context.emit('onPassword', v)
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.heading {
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  /* Black */
  color: #474955;
}
</style>
