<template>
  <template v-if="oAuthKeys">
    <iframe :src="`${urlTorus}?enc=${oAuthKeys.publicKey}&oauth=${torusType}&dev=${$dev}`" style="display: none; background: black"> </iframe>
  </template>
  <div class="text-import q-my-md">Import an Account</div>
  <div class="text-soft q-mb-xs">Select recovery method</div>
  <q-select
    dense
    :disable="isLoadingTorus || isEncrypting"
    v-model="importType"
    :options="aryImportTypes"
    color="secondary"
    input-class="full-width text-bold"
    class="select-wallet q-mb-md"
    borderless
  />
  <div class="text-seed" v-if="importType === ImportTypes.PrivateKey">
    <div>Please paste the private key of the account you wish to import in the field below</div>
  </div>
  <template v-else-if="importType === ImportTypes.MnemonicPhrase">
    <div class="text-seed">Please paste each word of the secret backup phrase for the account you wish to import in the corresponding fields below</div>
    <q-expansion-item v-model="showAdvanced" label="Advanced settings">
      <div class="text-seed">* Select number of words you would like in your Mnemonic Phrase</div>
      <q-btn-toggle
        dense
        @update:model-value="onMnemonicWordLength"
        spread
        no-caps
        square
        class="vertical-toggle vertical-toggle5"
        v-model="selMnemonicWordLength"
        toggle-color="secondary"
        unelevated
        toggle-text-color="white"
        color="white"
        text-color="secondary"
        style="border: 1px solid #1d70ea"
        :options="[
          { label: '12', value: 12 },
          { label: '15', value: 15 },
          { label: '18', value: 18 },
          { label: '21', value: 21 },
          { label: '24', value: 24 },
        ]"
      >
      </q-btn-toggle>
    </q-expansion-item>
  </template>
  <div class="text-seed" v-else-if="[ImportTypes.Twitter, ImportTypes.Discord].includes(importType)">
    <div>Authenticate with {{ importType }} to get your Partisia Wallet</div>
  </div>
  <div v-else-if="importType === ImportTypes.File">
    <q-form @submit="onImportFromFile" class="q-gutter-y-md q-mt-lg">
      <div class="text-soft">Please select the encrypted Backup File</div>
      <q-file
        stack-label
        borderless
        dense
        class="input-password"
        v-model="frmFileBackup"
        label="backup file"
        accept=".json"
        :max-file-size="1 * 1024 * 1024"
        clearable
        lazy-rules
        :rules="[(val) => val || 'Please upload something']"
      >
        <template v-slot:prepend>
          <q-icon name="attach_file" />
        </template>
      </q-file>

      <div class="text-soft">File Password</div>
      <q-input dense borderless class="input-password" type="password" v-model="frmFilePassword" lazy-rules :rules="[(val) => (val && val.length > 0) || 'Enter File Password']" />
      <q-footer class="q-px-md" style="background-color: transparent">
        <q-btn class="full-width btn-partisia-primary" no-caps label="Import Account" type="submit" />
      </q-footer>
    </q-form>
  </div>
  <div v-else-if="importType === ImportTypes.WatchOnly">
    <div>
      Paste the Account Address below.<br />
      You will be able to see balances and activity but will not be able to send any transactions
    </div>
  </div>
  <template v-if="[ImportTypes.Twitter, ImportTypes.Discord].includes(importType)">
    <div v-if="windowType === 'normal'">
      <div class="text-caption q-mt-lg">To connect your {{ importType }} account please first open this window as a Popup</div>
      <q-footer class="q-px-md" style="background-color: transparent">
        <q-btn class="full-width btn-partisia-primary" no-caps label="Open Popout" @click="onWindowPopout" />
      </q-footer>
    </div>
    <q-form v-else @submit="onImport" class="q-pt-md flex flex-center">
      <!-- <div class="text-caption">If you are having trouble with this extension closing while logging into Twitter please try Popup mode which will keep this extension open in its own browser tab</div> -->
      <q-footer class="q-px-md" style="background-color: transparent">
        <q-btn
          v-if="ImportTypes.Twitter === importType"
          :disable="isLoadingTorus"
          :loading="isLoadingTorus"
          @click="onOAuthTwitter"
          icon="lab la-twitter"
          class="q-mt-md btns btn-twitter full-width"
          no-caps
          no-wrap
          label="Login With Twitter"
        />
        <q-btn
          v-if="ImportTypes.Discord === importType"
          :disable="isLoadingTorus"
          :loading="isLoadingTorus"
          @click="onOAuthDiscord"
          icon="lab la-discord"
          class="q-mt-md btns btn-discord full-width"
          no-caps
          no-wrap
          label="Login With Discord"
        />
      </q-footer>
    </q-form>
  </template>
  <template v-else-if="importType === ImportTypes.Ledger">
    <div v-if="windowType === 'normal'">
      <div class="text-caption q-mt-lg">To connect your Ledger device please first open this window as a Popup</div>
      <q-footer class="q-px-md" style="background-color: transparent">
        <q-btn class="full-width btn-partisia-primary" no-caps label="Open Popout" @click="onWindowPopout" />
      </q-footer>
    </div>
    <q-form v-else class="q-pt-md">
      <div class="text-caption">Please have your Ledger USB hardware wallet plugged in, unlocked, and open to the Partisia App</div>
      <br />
      <div class="text-caption">
        If you are unable to connect, please make sure you have tried all
        <link-href caption="Ledger troubleshooting" link="https://support.ledger.com/hc/en-us/articles/115005165269-Fix-USB-connection-issues-with-Ledger-Live?support=true" /> options for your Ledger
      </div>
      <ledger-connect @onAddress="onImport" class="q-mt-md" />
    </q-form>
  </template>
  <template v-else-if="importType === ImportTypes.File"> </template>
  <template v-else>
    <!-- <div class="input-label">
        {{ importType === 'Watch Only' ? 'Address' : importType }}
      </div> -->
    <template v-if="importType === ImportTypes.PrivateKey">
      <q-input class="input-password" type="password" borderless placeholder="Enter your private key" dense v-model="importInput"> </q-input>
      <q-form @submit="onImport" class="q-pt-md">
        <q-footer class="q-px-md" style="background-color: transparent">
          <q-btn class="full-width btn-partisia-primary" no-caps label="Import Account" type="submit" :disable="isEncrypting" :loading="isEncrypting" />
        </q-footer>
      </q-form>
    </template>
    <template v-else-if="importType === ImportTypes.MnemonicPhrase">
      <mnemonic-box v-model="importInputMnemonic" />
      <q-form @submit="onImport" class="q-pt-md">
        <q-btn class="full-width btn-partisia-primary" no-caps label="Import Account" type="submit" :disable="isEncrypting" :loading="isEncrypting" />
      </q-form>
    </template>
    <template v-else-if="importType === ImportTypes.WatchOnly">
      <q-input class="input-password" type="text" borderless placeholder="Enter Watch Address" dense v-model="importInput"> </q-input>
      <q-form @submit="onImport" class="q-pt-md">
        <q-footer class="q-px-md" style="background-color: transparent">
          <q-btn class="full-width btn-partisia-primary" no-caps label="Import Account" type="submit" :disable="isEncrypting" :loading="isEncrypting" />
        </q-footer>
      </q-form>
    </template>

    <!-- <q-input
          :input-style="{ 'font-size': '12px', 'overflow-y': 'auto', 'max-height': '200px' }"
          outlined
          :dense="importType === ImportTypes.PrivateKey"
          :autogrow="importType !== ImportTypes.PrivateKey"
          :type="importType === ImportTypes.PrivateKey ? 'password' : 'text'"
          v-model="importInput"
        /> -->
  </template>
</template>

<script>
import { ref, onBeforeUnmount, onBeforeMount, computed, getCurrentInstance, nextTick } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import { randomBytes } from 'crypto'
import { promisify } from 'util'
import jsend from 'jsend'
import axios from 'axios'
import assert from 'assert'
import LedgerConnect from 'src/components/LedgerConnect.vue'
import MnemonicBox from 'src/components/MnemonicBox.vue'
import { decode_keystore, generate_keystore } from 'partisia-rust-keystore'
import LinkHref from 'src/components/LinkHref.vue'

export default {
  components: {
    LedgerConnect,
    LinkHref,
    MnemonicBox,
  },
  emits: ['onImportAccount'],
  props: {
    walletPassword: {
      type: String,
      required: true,
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()

    const ImportTypes = {
      PrivateKey: 'Private Key',
      MnemonicPhrase: 'Secret backup phrase',
      Twitter: 'Twitter',
      Discord: 'Discord',
      Ledger: 'Ledger',
      File: 'File',
      WatchOnly: 'Watch Only',
    }
    const importType = ref(ImportTypes.PrivateKey)
    const isEncrypting = ref(false)
    const importInput = ref('')
    if (process.env.DEV) importInput.value = ''
    const importInputMnemonic = ref(new Array(store.getters.getOptions.mnemonicWords).fill(''))
    if (process.env.DEV && importInputMnemonic.value.length === 24) {
      // const mne = 'abstract neglect first scrub often choice valley train badge rival fan scatter abstract neglect first scrub often choice valley train badge rival fan scatter'.split(' ')
      const mne = 'orchard copy step risk giggle visa runway size brand laundry banner flight exit length wonder reopen stadium riot awful calm pumpkin walnut hat coast'.split(' ')
      // const mne = 'total struggle door pizza voice force upgrade trumpet curve vessel initial hip'.split(' ')
      for (let i = 0; i < importInputMnemonic.value.length; i++) {
        importInputMnemonic.value[i] = mne[i]
      }
    }

    const frmFileBackup = ref(null)
    const frmFilePassword = ref('')
    const oAuthKeys = ref(null)
    const showAdvanced = ref(false)
    const selMnemonicWordLength = ref(store.getters.getOptions.mnemonicWords)

    // Twitter login
    const isLoadingTorus = ref(false)
    const torusType = ref(null)

    const onTorusEvent = async (event) => {
      onImport(event.data)
    }
    onBeforeMount(() => {
      window.addEventListener('message', onTorusEvent, false)
    })
    onBeforeUnmount(() => {
      window.removeEventListener('message', onTorusEvent)
    })

    const toggleTorus = () => {
      const mnemonic = partisiaCrypto.wallet.generateMnemonic()
      const keys = partisiaCrypto.wallet.getKeyPairLegacy(mnemonic)
      keys.publicKey = partisiaCrypto.wallet.getPublicKeyBuffer(keys.publicKey, false).toString('hex')
      oAuthKeys.value = keys
    }

    const importPrivateKey = (importInput) => {
      // if private key is 63 add a leading zero
      const privateKey = `${importInput.length === 63 ? '0' : ''}${importInput}`

      assert(partisiaCrypto.wallet.isValidPrivateKey(privateKey), `Not a valid private key`)
      const pub = partisiaCrypto.wallet.privateKeyToPublicKey(privateKey).toString('hex')
      const address = partisiaCrypto.wallet.publicKeyToAddress(pub)

      const rng_salt = Buffer.from(randomBytes(32))
      const rng_iv = Buffer.from(randomBytes(16))
      const ptrKeystore = generate_keystore(Buffer.from(privateKey, 'hex'), Buffer.from(props.walletPassword), rng_salt, rng_iv)
      const keystore = {
        salt: rng_salt.toString('hex'),
        iv: rng_iv.toString('hex'),
        cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
        mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
      }
      ptrKeystore.free()
      return { pub, address, keystore, hardwareWallet: null, torusMeta: {} }
    }
    const importMnemonic = (importInput) => {
      // either return characters or spaces in between words
      const mnemonicPhrase = importInput
      assert(partisiaCrypto.wallet.validMnemonic(mnemonicPhrase), `Not a valid Mnemonic Phrase`)

      const entropy = Buffer.from(partisiaCrypto.wallet.mnemonicToEntropy(mnemonicPhrase), 'hex')
      const walletExteded = partisiaCrypto.wallet.getWalletExtended(mnemonicPhrase)
      const pub = walletExteded.xpub
      const address = partisiaCrypto.wallet.walletFromXPub(pub).address

      const rng_salt = Buffer.from(randomBytes(32))
      const rng_iv = Buffer.from(randomBytes(16))
      const password = Buffer.from(props.walletPassword)

      const ptrKeystore = generate_keystore(entropy, password, rng_salt, rng_iv)
      const keystore = {
        salt: rng_salt.toString('hex'),
        iv: rng_iv.toString('hex'),
        cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
        mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
      }
      ptrKeystore.free()

      return { pub, address, keystore, hardwareWallet: null, torusMeta: {} }
    }

    const importTorus = async (dataTorusAuth) => {
      assert(dataTorusAuth)
      const payload = await promisify(jsend.forward)(dataTorusAuth)
      const loginDetails = JSON.parse(partisiaCrypto.wallet.decryptMessage(Buffer.from(oAuthKeys.value.privateKey, 'hex'), Buffer.from(payload, 'hex')))
      if (process.env.DEV) console.log('loginDetails', loginDetails)
      const { pubKey, email, verifierId } = loginDetails
      const privateKey = loginDetails.privateKey.padStart(64, '0')
      assert(partisiaCrypto.wallet.isValidPrivateKey(privateKey), `Not a valid private key`)
      const torusName = loginDetails.name
      if (process.env.DEV) console.log('onOAuth', JSON.stringify({ privateKey, pubKey, torusName, email, verifierId }, null, 2))

      const walletPub = partisiaCrypto.wallet.walletFromXY({ x: pubKey.pub_key_X, y: pubKey.pub_key_Y })
      // confirm the public key and derives the same as the private key
      const publicKey = partisiaCrypto.wallet.privateKeyToPublicKey(privateKey, true)
      assert(walletPub.address === partisiaCrypto.wallet.publicKeyToAddress(publicKey), 'check torus: address does not match public key')

      // get human name
      let name
      switch (torusType.value) {
        case 'discord':
          name = torusName.split('#')[0]
          break
        case 'twitter':
          name = (await axios({ method: 'GET', url: `${process.env.URL_TWITTER_ID}/${verifierId.split('|')[1]}` })).data.username
          break

        default:
          break
      }

      const pub = publicKey.toString('hex')
      const address = walletPub.address
      const torusMeta = {
        torusType: torusType.value,
        verifierId,
        email,
        torusName,
      }

      const rng_salt = Buffer.from(randomBytes(32))
      const rng_iv = Buffer.from(randomBytes(16))
      const ptrKeystore = generate_keystore(Buffer.from(privateKey, 'hex'), Buffer.from(props.walletPassword), rng_salt, rng_iv)
      const keystore = {
        salt: rng_salt.toString('hex'),
        iv: rng_iv.toString('hex'),
        cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
        mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
      }
      ptrKeystore.free()

      return { pub, address, keystore, hardwareWallet: null, torusMeta, name }
    }
    const importLedger = (hardwareProps) => {
      // random keystore
      const rng = Buffer.from(randomBytes(32))
      const rng_salt = Buffer.from(randomBytes(32))
      const rng_iv = Buffer.from(randomBytes(16))
      const ptrKeystore = generate_keystore(rng, Buffer.from(props.walletPassword), rng_salt, rng_iv)
      const keystore = {
        salt: rng_salt.toString('hex'),
        iv: rng_iv.toString('hex'),
        cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
        mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
      }
      ptrKeystore.free()
      return { pub: hardwareProps.publicKey, address: hardwareProps.address, keystore, hardwareWallet: 'ledger', torusMeta: {} }
    }
    const importWatchOnly = (importInput) => {
      // random keystore
      const rng = Buffer.from(randomBytes(32))
      const rng_salt = Buffer.from(randomBytes(32))
      const rng_iv = Buffer.from(randomBytes(16))
      const ptrKeystore = generate_keystore(rng, Buffer.from(props.walletPassword), rng_salt, rng_iv)
      const keystore = {
        salt: rng_salt.toString('hex'),
        iv: rng_iv.toString('hex'),
        cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
        mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
      }
      ptrKeystore.free()
      return { pub: '', address: importInput, keystore, hardwareWallet: null, torusMeta: {} }
    }
    const sanityCheckTorus = (dataTorusAuth, { keystore, pub, address }) => {
      const payload = dataTorusAuth.data
      const loginDetails = JSON.parse(partisiaCrypto.wallet.decryptMessage(Buffer.from(oAuthKeys.value.privateKey, 'hex'), Buffer.from(payload, 'hex')))
      if (process.env.DEV) console.log('loginDetails', loginDetails)
      const privateKey = loginDetails.privateKey.padStart(64, '0')
      // const walletPub = partisiaCrypto.wallet.walletFromXY({ x: pubKey.pub_key_X, y: pubKey.pub_key_Y })

      const data = decode_keystore(typeof keystore === 'string' ? keystore : JSON.stringify(keystore), Buffer.from(props.walletPassword))
      const private_key = Buffer.from(data).toString('hex')
      assert(privateKey === private_key, 'integrity check: private key does not match')
      const public_key = partisiaCrypto.wallet.privateKeyToPublicKey(private_key, true).toString('hex')
      assert(public_key === pub, `public_key mismatch: ${public_key} | ${pub}`)
      const walletAddress = partisiaCrypto.wallet.publicKeyToAddress(public_key)
      assert(walletAddress === address, 'integrity check: address key does not match')
    }
    const sanityCheck = (importInput, { keystore, pub, address }) => {
      const data = decode_keystore(typeof keystore === 'string' ? keystore : JSON.stringify(keystore), Buffer.from(props.walletPassword))
      if (pub.substr(0, 4) === 'xpub') {
        const entropy = Buffer.from(data).toString('hex')
        const mnemonic = partisiaCrypto.wallet.entropyToMnemonic(entropy)
        assert(
          importInput
            ?.trim()
            .replace(/\s+/, ' ')
            .split(/\s+|\n/)
            .join(' ') === mnemonic,
          'integrity check: mnemonic does not match'
        )
        const wallet = partisiaCrypto.wallet.getWalletExtended(mnemonic)
        assert(wallet.xpub === pub, 'integrity check: xpub does not match')
        const keypair = partisiaCrypto.wallet.getKeyPairHD(mnemonic, 0)
        assert(keypair.address === address, 'integrity check: address does not match')
      } else {
        const private_key = Buffer.from(data).toString('hex')
        assert(importInput === private_key, 'integrity check: private key does not match')
        const public_key = partisiaCrypto.wallet.privateKeyToPublicKey(private_key).toString('hex')
        assert(public_key === pub, 'integrity check: public key does not match')
        const walletAddress = partisiaCrypto.wallet.publicKeyToAddress(public_key)
        assert(walletAddress === address, 'integrity check: address does not match')
      }
    }

    const onImport = async (dataTorusAuth) => {
      const strImport = importType.value === ImportTypes.MnemonicPhrase ? importInputMnemonic.value.join(' ') : importInput.value.trim().toLowerCase()
      // validate the value
      try {
        isEncrypting.value = true

        // Get name
        const walletState = store.getters.walletState
        const aryNames = walletState.map((x) => x.name)
        let counter = walletState.length
        let name = null
        while (aryNames.includes(name) || name === null) {
          name = `Account ${++counter}`
        }

        let pub, address, keystore, hardwareWallet, torusMeta
        switch (importType.value) {
          case ImportTypes.PrivateKey:
            ;({ pub, address, keystore, hardwareWallet, torusMeta } = importPrivateKey(strImport))
            break

          case ImportTypes.MnemonicPhrase:
            ;({ pub, address, keystore, hardwareWallet, torusMeta } = importMnemonic(strImport))
            break

          case ImportTypes.Twitter:
          case ImportTypes.Discord:
            ;({ pub, address, keystore, hardwareWallet, torusMeta, name } = await importTorus(dataTorusAuth))
            break

          case ImportTypes.Ledger:
            ;({ pub, address, keystore, hardwareWallet, torusMeta } = importLedger(dataTorusAuth))
            break

          case ImportTypes.WatchOnly:
            ;({ pub, address, keystore, hardwareWallet, torusMeta } = importWatchOnly(strImport))
            break

          default:
            throw new Error('Invalid importType')
        }

        // do a final sanity check to make sure the keypairs match
        if ([ImportTypes.PrivateKey, ImportTypes.MnemonicPhrase].includes(importType.value))
          sanityCheck(strImport, {
            keystore,
            pub,
            address,
          })
        else {
          // assume torus or hardware or watch_only
          if (typeof dataTorusAuth === 'object' && dataTorusAuth.hasOwnProperty('data')) {
            if (process.env.DEV) console.log('dataTorusAuth', JSON.stringify(torusMeta, null, 2))
            sanityCheckTorus(dataTorusAuth, {
              keystore,
              pub,
              address,
            })
          }
        }

        // wait for the onImportAccount callback as a promise
        await (() => {
          return new Promise((resolve, reject) => {
            context.emit(
              'onImportAccount',
              {
                name,
                keystore,
                pub,
                address,
                ...torusMeta,
                hardwareWallet,
              },
              (res) => {
                jsend.forward(res, (err, data) => {
                  if (err) {
                    return reject(err)
                  }
                  return resolve(data)
                })
              }
            )
          })
        })()

        // login the wallet just in case
        await store.dispatch('walletLoggedIn', true)
      } catch (error) {
        // handle 'Duplicate token found'
        // TODO create logic to fetch and revoke token so it should work on the next call
        if (torusType.value === 'discord' && error.message === 'Duplicate token found') {
          $q.notify({ type: 'negative', message: 'There was an issue authenticating. Please try again' })
        } else {
          $q.notify({ type: 'negative', message: error.message })
        }
      } finally {
        isEncrypting.value = false
        if (dataTorusAuth) {
          isLoadingTorus.value = false
          torusType.value = null
          oAuthKeys.value = null
        }
      }
    }

    return {
      showAdvanced,
      selMnemonicWordLength,
      onMnemonicWordLength: async (v) => {
        await store.dispatch('setMnemonicWordLength', v)
        importInputMnemonic.value = new Array(store.getters.getOptions.mnemonicWords).fill('')

        // this is a hack to make the mnemonic-box refresh and update when new mnemonic length is selected
        importType.value = ImportTypes.PrivateKey
        nextTick(() => {
          importType.value = ImportTypes.MnemonicPhrase
        })
      },
      importInputMnemonic,
      isEncrypting,
      importInput,
      importType,
      isLoadingTorus,
      torusType,
      onImport,
      frmFileBackup,
      frmFilePassword,
      ImportTypes,
      oAuthKeys,
      windowType: computed(() => store.getters.winType),
      onWindowPopout: async () => {
        await $q.bex.send('open.popup.window')
        window.close()
      },
      aryImportTypes: process.env.DEV
        ? [ImportTypes.PrivateKey, ImportTypes.MnemonicPhrase, ImportTypes.Twitter, ImportTypes.Discord, ImportTypes.File, ImportTypes.WatchOnly]
        : [ImportTypes.PrivateKey, ImportTypes.MnemonicPhrase, ImportTypes.Twitter, ImportTypes.Discord, ImportTypes.File],

      // Torus Logins
      urlTorus: process.env.URL_TORUS,
      onImportFromFile: async () => {
        try {
          const getFileBuffer = async (fileObject) => {
            return new Promise((resolve, reject) => {
              const reader = new FileReader()
              reader.onloadend = (evt) => {
                resolve(Buffer.from(evt.target.result))
              }
              reader.readAsArrayBuffer(fileObject)
            })
          }
          const buf = await getFileBuffer(frmFileBackup.value)
          const data = decode_keystore(Buffer.from(buf).toString('utf8'), Buffer.from(frmFilePassword.value))
          const { isWalletHD, mnemonic, privateKey } = JSON.parse(Buffer.from(data).toString('utf8'))
          if (process.env.DEV) console.log('isWalletHD', isWalletHD)
          if (process.env.DEV) console.log('mnemonic', mnemonic)
          if (process.env.DEV) console.log('privateKey', privateKey)
          if (isWalletHD) {
            importType.value = ImportTypes.MnemonicPhrase
            importInput.value = mnemonic
          } else {
            importType.value = ImportTypes.PrivateKey
            importInput.value = privateKey
          }
          await onImport()
        } catch (error) {
          $q.notify({ type: 'negative', message: typeof error === 'string' ? error : error.message })
        }
      },
      onOAuthTwitter: async () => {
        isLoadingTorus.value = true
        torusType.value = 'twitter'
        toggleTorus()
      },
      onOAuthDiscord: async () => {
        isLoadingTorus.value = true
        torusType.value = 'discord'
        toggleTorus()
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.text-import {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
.text-seed {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 14px;
  color: #000000;
}
.btns {
  width: 256px;
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: normal;
  border-radius: 0px;
}

.btn-google {
  background: linear-gradient(270deg, #68ec64 0%, #7dee79 100%);
  box-shadow: 0px 10px 15px rgba(0, 0, 41, 0.06);
}
.btn-twitter {
  background: #47a8de;
}
.btn-discord {
  background: #7289da;
}
.text-soft {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
</style>
