<template>
  <q-btn v-if="windowType !== 'popup'" class="q-pa-none" style="position: absolute" icon="las la-expand" text-color="grey-7" @click="onPopout" />
  <div class="fit row justify-center">
    <q-img class="q-mt-xl" src="~assets/parti-logo.svg" :no-spinner="true" width="128px" />
  </div>
  <div class="q-mt-sm q-gutter-y-sm fit row justify-center content-center">
    <div class="h-text parti-color">Parti Wallet</div>
    <div class="mid-text">Welcome to the official Parti Wallet.</div>
    <div class="mid-text">Seamlessly and securely manage your crypto assets, using our trusted wallet solution.</div>
  </div>
  <q-footer class="q-px-md" style="background-color: transparent">
    <div class="q-mt-md full-width column">
      <q-btn :disable="isDisable" @click="onWalletNew" class="q-mt-md btn-partisia-primary" no-caps no-wrap label="Create new wallet" />
      <q-btn :disable="isDisable" outline @click="onWalletRestore" class="q-mt-md btn-partisia-secondary" no-caps no-wrap label="Sign into existing wallet" />
      <!-- disable google login for now. Takes a lot to publish the app -->
      <!-- <q-separator class="q-mt-md" /> -->
      <!-- <q-btn :disable="isDisable" :loading="isLoadingGoogle" @click="onOAuthGoogle" icon="lab la-google" class="q-mt-lg btns btn-google" no-caps no-wrap label="Login With Google" /> -->
      <!-- <q-btn :disable="isDisable" :loading="isLoadingTwitter" @click="onOAuthTwitter" class="q-mt-md btn-twitter" no-caps no-wrap label="Connect With Twitter" /> -->
    </div>
  </q-footer>
</template>

<script>
import { ref, getCurrentInstance, computed } from 'vue'
import { useQuasar } from 'quasar'
import { useStore } from 'vuex'

export default {
  // name: 'ComponentName',
  emits: ['onClick'],
  setup() {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const isDisable = ref(false)
    const windowType = computed(() => store.getters.winType)
    const windowPopout = async () => {
      await $q.bex.send('open.popup.window')
      window.close()
    }

    // force a popout
    if (windowType.value !== 'popup') {
      windowPopout()
    }
    return {
      isDisable,
      windowType,
      onPopout: windowPopout,
      onWalletNew: () => {
        app.emit('onClick', 'walletNew')
      },
      onWalletRestore: () => {
        app.emit('onClick', 'walletRestore')
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.h-text {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
.mid-text {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 14px;
  color: #000000;
  text-align: center;
}
</style>
