<template>
  <div class="text-center phrase-heading">Here is your secret backup phrase</div>
  <div class="text-center phrase-subheading">It simplifies account backup and restoration.</div>
  <div class="q-mt-md warning-box full-width row">
    <div class="row">
      <div class="col-shrink self-center">
        <q-icon color="white" size="md" name="info" />
      </div>
      <div class="col self-center q-ml-sm text-white">Protect this phrase. It grants full control over your tokens.</div>
    </div>
  </div>
  <div class="q-mt-md mnemonic-box">
    <div v-for="(r, ir) in mnemonicRows" :key="ir" class="full-width row justify-between">
      <div v-for="(c, ic) in mnemonicCols" :key="ic" class="q-mt-sm">
        <div class="mnemonic-word-num">
          {{ ir * mnemonicCols + ic + 1 }}
        </div>
        <q-field class="mnemonic-word-box" borderless square dense>
          <template v-slot:control>
            <div class="self-center full-width no-outline mnemonic-phrase">{{ mnemonicPhrase[ir * mnemonicCols + ic] }}</div>
          </template>
        </q-field>
      </div>
    </div>
    <div class="q-mt-md q-mb-xs row full-width justify-center">
      <q-btn class="" color="secondary" flat dense size="md" label="Regenerate" icon="las la-sync" no-caps @click="onMnemonicRenew" />
    </div>
    <div class="q-mt-md q-mb-xs row full-width">
      <div class="col-6 q-pr-xs">
        <q-btn class="btn-partisia-secondary btn-border full-width" no-caps label="Copy" @click="onCopyMnemonic" />
      </div>
      <div class="col-6 q-pl-xs">
        <q-btn class="btn-partisia-secondary btn-border full-width" no-caps label="Save as PDF" @click="onSaveAsPDF" />
      </div>
    </div>
  </div>
  <q-form @submit="onAcceptMnemonic" class="q-pa-sm q-mt-lg">
    <q-checkbox size="xs" v-model="mnemonicAccept" label="I have made a backup of my seed phrase" />
    <div class="q-pt-none text-center">
      <q-btn :disable="!mnemonicAccept" :loading="isEncrypting" label="Create Wallet" no-caps type="submit" class="full-width btn-partisia-primary" />
    </div>
  </q-form>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useStore } from 'vuex'
import { useQuasar, copyToClipboard } from 'quasar'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import { randomBytes } from 'crypto'
import { generate_keystore } from 'partisia-rust-keystore'
import { saveTextAsPDF } from 'src/boot/save-pdf'

export default defineComponent({
  name: 'WalletMnemonic',
  emits: ['onWalletEncrypted'],
  props: {
    walletPassword: { type: String, required: true },
  },
  components: {},
  methods: {
    onBack() {
      this.$emit('onBack')
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const mnemonicRows = ref(6)
    const mnemonicCols = ref(4)

    const mnemonicAccept = ref(false)
    const isEncrypting = ref(false)
    const mnemonicPhrase = ref(null)
    const encryptWallet = (walletPassword) => {
      isEncrypting.value = true

      // const priv_key = Buffer.from(randomBytes(32))
      const mnemonic = mnemonicPhrase.value.join(' ')
      const entropy = Buffer.from(partisiaCrypto.wallet.mnemonicToEntropy(mnemonic), 'hex')
      const walletExtended = partisiaCrypto.wallet.getWalletExtended(mnemonic)
      const rng_salt = Buffer.from(randomBytes(32))
      const rng_iv = Buffer.from(randomBytes(16))
      const password = Buffer.from(walletPassword)
      if (process.env.DEV) console.log('entropy', Buffer.from(entropy).toString('hex'))

      const ptrKeystore = generate_keystore(entropy, password, rng_salt, rng_iv)
      const keystore = {
        salt: rng_salt.toString('hex'),
        iv: rng_iv.toString('hex'),
        cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
        mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
      }
      ptrKeystore.free()

      if (process.env.DEV) console.log(JSON.stringify(keystore, null, 2))

      // https://next.router.vuejs.org/guide/advanced/composition-api.html#accessing-the-router-and-current-route-inside-setup
      // router.push({ path: 'popup' })

      // Get name
      const walletState = store.getters.walletState
      const aryNames = walletState.map((x) => x.name)
      let counter = walletState.length
      let name = null
      while (aryNames.includes(name) || name === null) {
        name = `Account ${++counter}`
      }

      // await store.dispatch('walletLoggedIn', true)
      // const res = await $q.bex.send('wallet.create', {
      //   // type: partisiaCrypto.wallet.WalletTypes.HD,
      //   name,
      //   keystore,
      //   pub: walletExtended.xpub,
      //   // watchOnly: false,
      // })
      // if (process.env.DEV) {
      //   console.log('res.data', res.data)
      // }
      // if (res.data.error) {
      //   // TODO need to display this
      //   $q.notify(res.data.error)
      // }
      isEncrypting.value = false
      return {
        name,
        keystore,
        pub: walletExtended.xpub,
        address: partisiaCrypto.wallet.walletFromXPub(walletExtended.xpub).address,
      }
    }
    const getMnemonic = () => {
      const mnemonic = partisiaCrypto.wallet.generateMnemonic(store.getters.getOptions.mnemonicWords)
      if (process.env.DEV) console.log(mnemonic)
      return mnemonic.split(' ')
    }

    switch (store.getters.getOptions.mnemonicWords) {
      case 12:
        mnemonicRows.value = 3
        mnemonicCols.value = 4
        break
      case 15:
        mnemonicRows.value = 5
        mnemonicCols.value = 3
        break
      case 18:
        mnemonicRows.value = 6
        mnemonicCols.value = 3
        break
      case 21:
        mnemonicRows.value = 6
        mnemonicCols.value = 4
        break

      default:
        break
    }

    mnemonicPhrase.value = getMnemonic()
    return {
      mnemonicRows,
      mnemonicCols,
      mnemonicAccept,
      isEncrypting,
      mnemonicPhrase,
      onMnemonicRenew: () => {
        mnemonicPhrase.value = getMnemonic()
      },
      onCopyMnemonic: () => {
        copyToClipboard(mnemonicPhrase.value.join(' '))
          .then(() => {
            $q.notify({ type: 'positive', message: 'phrase copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
      onSaveAsPDF: () => {
        saveTextAsPDF(mnemonicPhrase.value.map((v, i, a) => `${i + 1}: ${v}`).join('\n'))
      },
      onAcceptMnemonic: () => {
        if (mnemonicAccept.value !== true) {
          $q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Please check box to confirm you safely stored a copy of your Mnemonic Phrase',
          })
        } else {
          // Create the wallet
          const x = encryptWallet(props.walletPassword)
          if (process.env.DEV) {
            console.log('onAcceptMnemonic', JSON.stringify(x, null, 2))
          }
          context.emit('onWalletEncrypted', x)
        }
      },
    }
  },
})
</script>

<style lang="scss" scoped>
.mnemonic-renew {
  font-size: 1rem;
  top: 5px;
  // bottom: 5px;
}
.phrase-heading {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  color: #000000;
}
.phrase-subheading {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.warning-box {
  background: var(--Orange, #f69840);
  border-radius: 0px;
  padding: 12px;
}

.mnemonic-phrase {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}
</style>
