<template>
  <q-img class="promo-img" v-if="dappName === '3Suite.png'" src="~assets/dapps_promo/3Suite.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Blockchain-Ads.png'" src="~assets/dapps_promo/Blockchain-Ads.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'CyberPeace-Institute.png'" src="~assets/dapps_promo/CyberPeace-Institute.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'eTrusty.png'" src="~assets/dapps_promo/eTrusty.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'ICRC.png'" src="~assets/dapps_promo/ICRC.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'KIN.png'" src="~assets/dapps_promo/KIN.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Meta-Names.png'" src="~assets/dapps_promo/Meta-Names.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Monadi.png'" src="~assets/dapps_promo/Monadi.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Muwpay.png'" src="~assets/dapps_promo/Muwpay.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'OriginAll.png'" src="~assets/dapps_promo/OriginAll.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'P2P.png'" src="~assets/dapps_promo/P2P.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Parti.png'" src="~assets/dapps_promo/Parti.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Partiscan.png'" src="~assets/dapps_promo/Partiscan.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Partisia-Blockchain-Browser.png'" src="~assets/dapps_promo/Partisia-Blockchain-Browser.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Partisia-Blockchain-Explorer.png'" src="~assets/dapps_promo/Partisia-Blockchain-Explorer.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Partisia-Blockchain-Wallet.png'" src="~assets/dapps_promo/Partisia-Blockchain-Wallet.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Partisians.png'" src="~assets/dapps_promo/Partisians.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Thousand-Faces.png'" src="~assets/dapps_promo/Thousand-Faces.png" fit="cover" :height="h" :width="w" />
  <q-img class="promo-img" v-else-if="dappName === 'Weezi.png'" src="~assets/dapps_promo/Weezi.png" fit="cover" :height="h" :width="w" />
</template>

<script>
import { ref } from 'vue'
export default {
  // name: 'ComponentName',
  props: {
    dappName: {
      type: String,
      required: true,
    },
  },
  setup() {
    return {
      h: ref('96px'),
      w: ref('96px'),
    }
  },
}
</script>

<style lang="scss" scoped>
.promo-img {
  border: 1px solid #1d70ea;
}
</style>
