<template>
  <div class="q-pa-md q-gutter-y-md">
    <div class="title">Dapps built on Partisia Blockchain</div>
    <q-input v-model="txtSearch" dense type="text" color="secondary" label-color="secondary" label="Search..." filled square class="search">
      <template v-slot:append>
        <q-icon class="cursor-pointer" name="search" />
      </template>
    </q-input>
    <template v-for="(dapp, idx) in aryDapps.filter((d) => d.dappName.toLowerCase().indexOf(txtSearch.toLowerCase()) !== -1)" :key="idx">
      <q-separator v-if="idx !== 0" />
      <div class="full-width row no-wrap">
        <dapps-promo-img class="col-shrink" :dapp-name="dapp.promoImg" />
        <!-- <div style="height: 96px; width: 96px; background-color: red">
      </div> -->
        <div class="col">
          <div class="full-width column no-wrap q-pl-md items-start">
            <div class="t">{{ dapp.dappName }}</div>
            <q-btn class="q-pa-none" align="left" no-caps flat :ripple="false">
              <q-tooltip anchor="top left" self="bottom middle" :offset="[0, 10]" class="bg-transparent full-width" style="">
                <div class="d bg-grey-11 q-pa-sm" style="border: 1px solid #1d70ea; margin-left: 0px" v-html="dapp.description"></div>
              </q-tooltip>
              <div class="multiline-ellipsis d" v-html="dapp.description"></div>
            </q-btn>
            <q-btn
              size="md"
              class="text-bold q-px-md"
              color="secondary"
              outline
              square
              dense
              no-caps
              label="Visit website"
              icon-right="las la-arrow-right"
              @click="onUrl(dapp.url)"
              style="margin-top: 1px"
            />
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { openURL } from 'quasar'
import { ref, onBeforeMount } from 'vue'
import DappsPromoImg from './DappsPromoImg.vue'
export default {
  setup() {
    const txtSearch = ref('')
    const aryDapps = ref([])
    onBeforeMount(async () => {
      // do this as api in future
      aryDapps.value = [
        {
          dappName: 'Parti',
          url: 'https://parti.com',
          description: `Parti.com functions as a secure social network, livestream platform, and NFT marketplace all in one. Creators can establish their own profiles, send secure and private messages, livestream, generate their profile picture NFTs, and get paid for their content.`,
          promoImg: 'Parti.png',
        },
        {
          dappName: '3Suite',
          url: 'https://3suite.com',
          description: `3Suite is a complete payment system where it combines DID, credit scoring and a payment gateway to help facilitate the entire payment process.  Through PBC, they are able to keep individuals private data safe while still being able to provide DID and credit worthiness back to providers.`,
          promoImg: '3Suite.png',
        },
        {
          dappName: 'Blockchain Ads',
          url: 'https://blockchain-ads.com',
          description: `Blockchain Ads is aiming to revolutionize the ad industry by allowing users to retain ownership of their data, being rewarded for the use, and most importantly, allowing advertisers to gain real time data rather than point in time data`,
          promoImg: 'Blockchain-Ads.png',
        },
        {
          dappName: 'CyberPeace Institute',
          url: 'https://cyberpeaceinstitute.org',
          description: `CyberPeace Institute is helping NGOs share details of compromise in their network between each other while maintaining privacy.  This allows parties who have been compromised by malware or ransomware to work together without exposing themselves further.`,
          promoImg: 'CyberPeace-Institute.png',
        },
        {
          dappName: 'eTrusty',
          url: 'https://www.etrusty.io',
          description: `eTrusty is a blockchain based public tender procurement platform  Using a balance of MPC for privacy and the blockchain for transparency, they are looking to bring integrity back to the public procurement bidding system`,
          promoImg: 'eTrusty.png',
        },
        {
          dappName: 'ICRC',
          url: 'https://www.icrc.org',
          description: `ICRC is partnering with PBC to provide relief aid in conflict zones where privacy is paramount.  By providing relief in the form of a blockchain while privatizing transactions through MPC, ICRC has found the perfect solutions provider in PBC.`,
          promoImg: 'ICRC.png',
        },
        {
          dappName: 'KIN',
          url: 'https://www.betterinternetsearch.com',
          description: `Better Internet Search is an alternative search engine that eliminates ads and reduces commercial and political bias. Better Internet Search Ltd was established with the singular aim to deliver better search, much better search.`,
          promoImg: 'KIN.png',
        },
        {
          dappName: 'Meta Names',
          url: 'https://metanames.app',
          description: `Metanames is a naming service specific for the PBC network.  By using PBC’s unique cross-chain bridge, you can use a single name to support all your token assets that is supported by PBC.`,
          promoImg: 'Meta-Names.png',
        },
        {
          dappName: 'Muwpay',
          url: 'https://muwpay.com',
          description: `Muwpay is a MPC token based multi chain wallet that utilizes PBC’s BYOC bridge for cross chain swaps, while helping to privatize swap details.`,
          promoImg: 'Muwpay.png',
        },
        {
          dappName: 'Origin All',
          url: 'https://originall.com',
          description: `OriginAll offers consulting services, develops government platforms and is creating the first marketplace focused exclusively on authentic and traceable products.`,
          promoImg: 'OriginAll.png',
        },
        {
          dappName: 'P2P',
          url: 'https://p2p.org',
          description: `P2P Validator helps investors compound their cryptocurrency investments through secure staking. We offer high-uptime, secure staking with advanced monitoring & support.`,
          promoImg: 'P2P.png',
        },
        {
          dappName: 'Partiscan',
          url: 'https://partiscan.io',
          description: `Partiscan is a staking tool developed by our community.  It provides an alternate way to stake MPC tokens, gives additional insights to the chain and helps validate rewards.`,
          promoImg: 'Partiscan.png',
        },
        {
          dappName: 'Partisia Blockchain Browser',
          url: 'https://browser.partisiablockchain.com',
          description: `The official staking tool for PBC.  Supporting both community and node operators to stake, unstake and view current performance of the nodes in the network.`,
          promoImg: 'Partisia-Blockchain-Browser.png',
        },
        {
          dappName: 'MPC Explorer',
          url: 'https://mpcexplorer.com',
          description: `MPC Block Explorer is a comprehensive network explorer highlighting core Partisia Blockchain statistics. View Validator information, cluster data, transaction throughput, and more.`,
          promoImg: 'Partisia-Blockchain-Explorer.png',
        },
        {
          dappName: 'Partisians',
          url: 'https://partisians.live',
          description: `Partisians is the Next Generation Social NFT Platform, Producing a Metaverse Cartoon, Creating Collectibles, and more.   Partisians NFTs are the Master Pass to https://parti.com/ Launchpad.`,
          promoImg: 'Partisians.png',
        },
        {
          dappName: 'Thousand Faces',
          url: 'https://thousandfaces.art',
          description: `Thousand Faces is combining the power of NFT, DAO and female power to enable female founders get started with funding!  Their secret voting system allows NFT holders to vote privately on their favorite projects to help fund female founders in their success!`,
          promoImg: 'Thousand-Faces.png',
        },
        {
          dappName: 'Weezi',
          url: 'https://weezi.io',
          description: `Weezi is powering Secondlane.io’s SAFT platform where people will be able to sell and trade illiquid digital assets in a secondary market.  Using PBC, they will be able to help protect both seller and buyer information and privatize transactions.`,
          promoImg: 'Weezi.png',
        },
      ]
    })
    return {
      txtSearch,
      aryDapps,
      onUrl: (url) => {
        openURL(url)
      },
    }
  },
  components: {
    DappsPromoImg,
  },
}
</script>
<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.search {
  border: 1px solid var(--Blue, #1d70ea);
  background: var(--Blue-20, #d4dffb);
}
.t {
  color: var(--black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.d {
  color: var(--Gray-100, #626e82);
  font-family: 'F37 Bolton';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.multiline-ellipsis {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Set the number of lines you want to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
