<template>
  <q-dialog ref="dialogRef" seamless @hide="onDialogHide">
    <q-card class="q-dialog-plugin full-width">
      <q-card-section class="row items-center q-pb-none">
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-card-section>
        <div class="text-1">Connected sites</div>
        <div class="text-2 q-pt-sm">The following sites are connected to <b>{{}}</b> and have access to your account address.</div>
      </q-card-section>
      <q-card-section>
        <q-list separator>
          <template v-for="(site, i) in connectedSites" :key="i">
            <q-item>
              <q-item-section avatar>
                <q-img :src="site.favIconUrl" />
              </q-item-section>
              <q-item-section>
                <div class="truncate-chip-labels">
                  <q-chip square :ripple="false" color="transparent">
                    <div class="ellipsis" style="width: 84px">
                      {{ site.origin }}
                    </div>
                  </q-chip>
                  <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"> {{ site.origin }}</q-tooltip>
                </div>
              </q-item-section>
              <q-item-section>
                <q-btn dense label="Disconnect" no-caps class="text-bold" @click="onDisconnect(site.wallet_seed)" />
              </q-item-section>
            </q-item>
            <!-- <q-separator v-if="i !== connectedSites.length - 1" spaced inset style="padding-top: 1px" /> -->
          </template>
        </q-list>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { onBeforeMount, ref, computed } from 'vue'
import { openURL, useDialogPluginComponent } from 'quasar'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'

export default {
  props: {},
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const wallet = computed(() => store.getters.walletActive)

    const connectedSites = ref([])

    const getConnectedSites = async () => {
      const { data } = await $q.bex.send('storage.get', { key: `confirmbox` })
      connectedSites.value = data.filter((d) => d.onConnect.wallet.pub === wallet.value.pub)
    }

    onBeforeMount(async () => {
      await getConnectedSites()
    })
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

    return {
      dialogRef,
      onDialogHide,
      wallet,
      connectedSites,
      onDisconnect: async (wallet_seed) => {
        await $q.bex.send('disconnect.site', { wallet_seed })
        await getConnectedSites()
      },
      onUrl: (url) => {
        openURL(`https://${url}`)
      },
      onClose: () => {
        onDialogCancel()
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.text-1 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: 'F37 Bolton';
  font-weight: 700;
  line-height: 100%;
}
.text-2 {
  color: var(--black, #000);
  text-align: center;
  font-size: 14px;
  font-family: 'F37 Bolton';
}
</style>
