<template>
  <q-form @submit="onWalletUnlock">
    <div class="input-field">
      <h5>Enter your Password</h5>
      <q-input
        class="input-password q-mb-lg"
        dense
        borderless
        autofocus
        :type="showPassword ? 'text' : 'password'"
        v-model="walletUnlockPassword"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Enter Password']"
      >
        <template v-slot:append>
          <q-icon :name="showPassword ? 'visibility_off' : 'visibility'" @click="showPassword = !showPassword" class="cursor-pointer" />
        </template>
      </q-input>
    </div>
    <q-footer class="q-px-md" style="background-color: transparent">
      <q-btn class="full-width btn-partisia-primary" no-caps label="Unlock" type="submit" :disable="isWalletUnlocking" :loading="isWalletUnlocking" />
    </q-footer>
  </q-form>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue'
import { useQuasar } from 'quasar'
import { useStore } from 'vuex'
import assert from 'assert'
import { is_keystore_password } from 'partisia-rust-keystore'

export default {
  // name: 'ComponentName',
  emits: ['onUnlock'],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const walletUnlockPassword = ref('')
    const isWalletUnlocking = ref(false)
    return {
      walletUnlockPassword,
      isWalletUnlocking,
      onWalletUnlock: async () => {
        // attempt to unlock the wallet
        try {
          isWalletUnlocking.value = true
          const password = walletUnlockPassword.value
          const is_valid = is_keystore_password(JSON.stringify(store.getters.walletActive.keystore), Buffer.from(password))
          assert(is_valid, 'Incorrect Password')
          context.emit('onUnlock', walletUnlockPassword.value)
          await store.dispatch('walletLoggedIn', true)
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isWalletUnlocking.value = false
        }
      },
    }
  },
  data() {
    return {
      showPassword: false,
    }
  },
}
</script>
<style lang="scss" scoped>
.input-field {
  border: none;
  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 8px;
    margin-top: 0;
    text-align: left;
    color: rgba($color: #2b2b2b, $alpha: 0.8);
  }
}
</style>
