<template>
  <q-btn :loading="isConnecting" no-wrap class="full-width" icon="lab la-usb" no-caps color="grey-9" :label="`${label}`" @click="onLedger" />
</template>

<script>
import { ref } from 'vue'
import { useStore } from 'vuex'
import MpcTransport from 'ledger-mpc-app'
import HwTransport from '@ledgerhq/hw-transport-webusb'
import { useQuasar } from 'quasar'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'

const LEDGER_USB_VENDOR_ID = 0x2c97

export default {
  emits: ['onAddress', 'onSign'],
  props: {
    label: {
      type: String,
      default: 'Connect Ledger USB',
    },
    ledgerBytes: {
      type: Buffer,
      required: false,
    },
    showAddress: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const isConnecting = ref(false)

    const getAddress = async () => {
      const mpc = new MpcTransport(HwTransport)
      await mpc.Ready

      const { publicKey, address } = await mpc.getAddress({ boolDisplay: props.showAddress })
      // compress public key for consistency
      context.emit('onAddress', { publicKey: partisiaCrypto.wallet.getPublicKeyBuffer(publicKey, true).toString('hex'), address })
    }

    const sendTx = async () => {
      const mpc = new MpcTransport(HwTransport)
      await mpc.Ready

      const sigPartisia = await mpc.signTx(props.ledgerBytes)
      // compress public key for consistency
      context.emit('onSign', sigPartisia)
    }
    return {
      isConnecting,
      onLedger: async () => {
        try {
          isConnecting.value = true
          // https://devicehunt.com/view/type/usb/vendor/2C97
          const hid = window.navigator.hid
          const hidDevices = await hid.getDevices({
            filters: [{ vendorId: LEDGER_USB_VENDOR_ID }],
          })

          const isPaired = hidDevices.some((device) => device.vendorId === Number(LEDGER_USB_VENDOR_ID))
          if (!isPaired) {
            const connectedDevices = await hid.requestDevice({
              filters: [{ vendorId: LEDGER_USB_VENDOR_ID }],
            })
            const webHidIsConnected = connectedDevices.some((device) => device.vendorId === Number(LEDGER_USB_VENDOR_ID))
            if (!webHidIsConnected) return
          }

          // isPaired and connected
          if (props.ledgerBytes) {
            await sendTx()
          } else {
            await getAddress()
          }
        } catch (error) {
          if (process.env.DEV) console.error('error', error.message)
          if (error.message.indexOf('Ledger device: UNKNOWN_ERROR (') === 0) {
            $q.notify({ type: 'negative', message: 'Please have Ledger Unlocked with Partisia App Open' })
          } else {
            $q.notify({ type: 'negative', message: error.message })
          }
        } finally {
          isConnecting.value = false
        }
      },
    }
  },
}
</script>

<style lang="scss" scoped>
// .btn-ledger {
//   background: linear-gradient(270deg, rgb(29, 155, 240) 0%, rgb(29, 175, 260) 100%);
//   box-shadow: 0px 10px 15px rgba(0, 0, 41, 0.06);
// }
</style>
