<template>
  <div class="row">
    <div class="col-12 row-back">
      <q-btn @click="onBack" flat color="primary" icon="las la-angle-left" label="Back" />
    </div>
  </div>
  <div class="full-width row justify-center">
    <iframe width="100%" height="450px" src="PrivacyPolicy.html" style="border: none"> </iframe>
  </div>
  <div class="full-width row justify-center q-pt-md">
    <q-btn color="primary" class="full-width" label="download" text-color="black" @click="onDownload" />
  </div>
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'

export default defineComponent({
  name: 'LicenseTerms',
  emits: ['onBack'],
  methods: {
    onBack() {
      this.$emit('onBack')
    },
  },
  setup() {
    return {
      onDownload: () => {
        window.location.href = 'Privacy Policy.rtf'
      },
    }
  },
})
</script>
