<template>
  <!-- <pre>{{ aryTokens }}</pre> -->
  <div v-if="aryTokens.length === 0">
    <div class="full-width row justify-between">
      <!-- <q-icon class="" dense size="sm" color="grey" name="las la-arrow-left" @click="onBack" /> -->
      <div class="col-grow text-center">
        <div class="title">Tokens</div>
        <div class="toggle">No MPC20 Tokens discovered for this address</div>
      </div>
    </div>
  </div>
  <template v-else>
    <div class="full-width row justify-between">
      <!-- <q-icon class="" dense size="sm" color="grey" name="las la-arrow-left" @click="onBack" /> -->
      <div class="col-grow text-center">
        <div class="title">Tokens</div>

        <q-toggle v-model="enableAll" class="toggle" size="sm" label="Enable all" color="teal" @click="onEnableAll" />
      </div>
    </div>
    <q-list bordered padding dense>
      <template v-for="(token, tknIdx) in aryTokens" :key="tknIdx">
        <q-item class="q-mb-xs" clickable @click="onToggleToken(token.contract_address)">
          <!-- <pre>{{token}}</pre> -->
          <q-item-section>
            <q-item-label class="collection-title">Token: {{ token.contractState.name }}</q-item-label>
            <q-item-label class="collection-label"> {{ token.contractState.balanceConvert }} {{ token.contractState.symbol }} </q-item-label>
            <div class="collection-label no-wrap row full-width">
              <div class="self-center">Contract:</div>
              <q-btn class="q-pa-none q-ma-none" dense no-caps style="max-width: 160px" @click.stop="onContract(token.contract_address)">
                <div class="ellipsis">
                  &nbsp;<b>{{ token.contract_address }}</b>
                </div>
              </q-btn>
            </div>
          </q-item-section>
          <q-item-section side>
            <q-toggle v-model="aryEnabled[tknIdx]" class="toggle" size="sm" color="teal" @click="onToggleToken(token.contract_address)" />

            <!-- <pre v-if="$dev">{{ token }}</pre> -->
            <!-- <q-icon v-if="aryTokensEnabled.find((t) => t.id === token.id)?.enabled" color="light-green-14" name="las la-toggle-on" />
            <q-icon v-else color="amber-10" name="las la-toggle-off" /> -->
          </q-item-section>
        </q-item>

        <q-separator v-if="aryTokens.length - 1 !== tknIdx" spaced inset />
      </template>
    </q-list>
  </template>
</template>

<script>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import { openURL, useQuasar } from 'quasar'
import { Big } from 'big.js'
export default {
  components: {
    // RowBack,
  },
  setup() {
    const store = useStore()
    const address = store.getters.accountActive.address
    const parseTokens = (tokens = []) => {
      // return tokens.filter((t) => t.exists && new Big(t.contractState.balance).gt(0))
      return (
        tokens
          // this returns tokens that do not exist or have a balance gt 0; It filters out tokens that are 0 balance such as sold tokens
          // .filter((t) => !t.exists || new Big(t?.contractState?.balance || 0).gt(0))
          .filter((t) => new Big(t?.contractState?.balance || 0).gt(0) && t.exists === true)
          .sort((a, b) => a.contractState.name.localeCompare(b.contractState.name))
      )
    }
    const aryTokens = computed(() => parseTokens(store.getters.walletTokensErc20))
    const aryTokensEnabled = computed(() => store.getters.walletTokensErc20Enabled)

    const enableAll = computed({
      get: () => aryTokens.value.length === aryTokens.value.map((t) => Number(aryTokensEnabled.value.find((e) => t.contract_address === e.id)?.enabled || 0)).reduce((pv, cv, idx) => pv + cv, 0),
      set: (val) => {},
    })

    const aryEnabled = computed(() => aryTokens.value.map((token) => aryTokensEnabled.value.find((t) => t.id === token.contract_address)?.enabled || false))

    return {
      walletTokensErc20: store.getters.walletTokensErc20,
      aryTokens,
      aryTokensEnabled,
      enableAll,
      aryEnabled,
      onEnableAll: async () => {
        const disable = enableAll.value
        for (const tkn of aryTokens.value) {
          if (disable === Boolean(Number(aryTokensEnabled.value.find((e) => tkn.contract_address === e.id)?.enabled || 0))) {
            await store.dispatch('toggleTokenErc20Enabled', { walletIdx: store.getters.walletActiveIdx, id: tkn.contract_address })
          }
        }
      },
      onToggleToken: async (contract_address) => {
        await store.dispatch('toggleTokenErc20Enabled', { walletIdx: store.getters.walletActiveIdx, id: contract_address })
      },

      onContract: (address_contract) => {
        // https://browser.testnet.partisiablockchain.com/contracts/0296b935f95dbf30d0921ee23686099027b9759480?tab=state
        const link = store.getters.isTestnet ? store.getters.getOptions.blockExplorerContractTestnet : store.getters.getOptions.blockExplorerContract
        const url = new URL(link.replace('{0}', address_contract))
        openURL(url.href)
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.toggle {
  color: var(--black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.collection-title {
  color: var(--black, #000);
  font-family: 'F37 Bolton';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}
.collection-label {
  color: var(--black-50, rgba(0, 0, 0, 0.5));
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
}
</style>
