<template>
  <!-- <pre>{{ aryTokens }}</pre> -->
  <!-- <pre>{{ aryTokensEnabled }}</pre> -->
  <!-- <pre>{{ aryEnabled }}</pre> -->
  <!-- <pre>{{ walletTokensErc721 }}</pre> -->
  <!-- <pre>{{ enableAll }}</pre> -->
  <div v-if="aryTokens.length === 0">
    <div class="full-width row justify-between">
      <!-- <q-icon class="" dense size="sm" color="grey" name="las la-arrow-left" @click="onBack" /> -->
      <div class="col-grow text-center">
        <div class="title">NFTs</div>
        <div class="toggle">No NFTs discovered for this address</div>
      </div>
    </div>
  </div>
  <template v-else>
    <div class="full-width row justify-between">
      <!-- <q-icon class="" dense size="sm" color="grey" name="las la-arrow-left" @click="onBack" /> -->
      <div class="col-grow text-center">
        <div class="title">NFTs</div>

        <q-toggle v-model="enableAll" class="toggle" size="sm" label="Enable all" color="teal" @click="onEnableAll" />
      </div>
    </div>
    <q-list bordered padding dense>
      <template v-for="(token, tknIdx) in aryTokens" :key="tknIdx">
        <q-item class="q-mb-xs" clickable @click="onToggleToken(token.asset_contract)">
          <!-- <pre>{{token}}</pre> -->
          <q-item-section>
            <q-item-label class="collection-title">Collection: {{ token.name }}</q-item-label>
            <q-item-label class="collection-label">
              You own <b>{{ token.count }}</b> NFTs in this collection
            </q-item-label>
            <div class="collection-label no-wrap row full-width">
              <div class="self-center">Contract:</div>
              <q-btn class="q-pa-none q-ma-none" dense no-caps style="max-width: 160px" @click.stop="onContract(token.asset_contract)">
                <div class="ellipsis">
                  &nbsp;<b>{{ token.asset_contract }}</b>
                </div>
              </q-btn>
            </div>
          </q-item-section>
          <q-item-section side>
            <q-toggle v-model="aryEnabled[tknIdx]" class="toggle" size="sm" color="teal" @click="onToggleToken(token.asset_contract)" />

            <!-- <pre v-if="$dev">{{ token }}</pre> -->
            <!-- <q-icon v-if="aryTokensEnabled.find((t) => t.id === token.id)?.enabled" color="light-green-14" name="las la-toggle-on" />
            <q-icon v-else color="amber-10" name="las la-toggle-off" /> -->
          </q-item-section>
        </q-item>

        <q-separator v-if="aryTokens.length - 1 !== tknIdx" spaced inset />
      </template>
    </q-list>
  </template>
</template>

<script>
import { openURL } from 'quasar'
import { computed } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {
    const store = useStore()
    const address = store.getters.accountActive.address
    // const enableAll = true
    const parseTokens = (tokens = []) => {
      return tokens
        .map((t) => {
          return { ...t, count: (t?.aryTokens || []).filter((tkn) => tkn?.owner === address).length }
        })
        .filter((t) => t.count > 0 && t.exists === true)
        .sort((a, b) => {
          return a.name.localeCompare(b.name)
        })
    }
    // console.log('store.getters.walletTokensErc721', JSON.stringify(store.getters.walletTokensErc721, null, 2))

    const aryTokens = computed(() => parseTokens(store.getters.walletTokensErc721))
    const aryTokensEnabled = computed(() => store.getters.walletTokensErc721Enabled)
    const enableAll = computed({
      get: () => aryTokens.value.length === aryTokens.value.map((t) => Number(aryTokensEnabled.value.find((e) => t.asset_contract === e.id)?.enabled || 0)).reduce((pv, cv, idx) => pv + cv, 0),
      set: (val) => {},
    })

    const aryEnabled = computed(() => aryTokens.value.map((token) => aryTokensEnabled.value.find((t) => t.id === token.asset_contract)?.enabled || false))

    return {
      walletTokensErc721: store.getters.walletTokensErc721,
      aryTokens,
      aryTokensEnabled,
      enableAll,
      aryEnabled,
      onEnableAll: async () => {
        const disable = enableAll.value
        for (const tkn of aryTokens.value) {
          if (disable === Boolean(Number(aryTokensEnabled.value.find((e) => tkn.asset_contract === e.id)?.enabled || 0))) {
            await store.dispatch('toggleTokenErc721Enabled', { walletIdx: store.getters.walletActiveIdx, id: tkn.asset_contract })
          }
        }
      },
      onToggleToken: async (id) => {
        await store.dispatch('toggleTokenErc721Enabled', { walletIdx: store.getters.walletActiveIdx, id })
      },

      onContract: (address_contract) => {
        // https://browser.testnet.partisiablockchain.com/contracts/0296b935f95dbf30d0921ee23686099027b9759480?tab=state
        const link = store.getters.isTestnet ? store.getters.getOptions.blockExplorerContractTestnet : store.getters.getOptions.blockExplorerContract
        const url = new URL(link.replace('{0}', address_contract))
        openURL(url.href)
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.toggle {
  color: var(--black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.collection-title {
  color: var(--black, #000);
  font-family: 'F37 Bolton';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}
.collection-label {
  color: var(--black-50, rgba(0, 0, 0, 0.5));
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
}
</style>
