<template>
  <div class="q-mt-md mnemonic-box">
    <div v-for="(r, ir) in mnemonicRows" :key="ir" class="full-width row justify-between q-py-xs">
      <div v-for="(c, ic) in mnemonicCols" :key="ic">
        <div class="mnemonic-word-num">
          {{ ir * mnemonicCols + ic + 1 }}
        </div>
        <!-- <q-input class="q-pl-sm mnemonic-word-box" :placeholder="`word ${ir * mnemonicCols + ic + 1}`" v-model="mnemonicPhrase[ir * mnemonicCols + ic]" borderless square dense></q-input> -->
        <q-select
          :disable="disableWords.includes(ir * mnemonicCols + ic)"
          class="q-pl-sm mnemonic-word-box"
          borderless
          dense
          @input-value="onUpdateValue(ir * mnemonicCols + ic, $event)"
          v-model="mnemonicPhrase[ir * mnemonicCols + ic]"
          use-input
          hide-selected
          fill-input
          hide-dropdown-icon
          input-debounce="0"
          :options="options"
          @filter="filterFn"
          @popup-hide="onPopupHide(ir * mnemonicCols + ic)"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey"> No results </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>
    </div>
  </div>
</template>

<script>
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import { useQuasar } from 'quasar'
import { ref } from 'vue'
import { useStore } from 'vuex'

export default {
  emits: ['update:modelValue'],
  props: {
    modelValue: Array,
    disableWords: {
      type: Array,
      default: () => [],
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const mnemonicPhrase = ref(new Array(props.modelValue.length).fill(''))
    const mne = JSON.parse(JSON.stringify(props.modelValue))
    for (let i = 0; i < mnemonicPhrase.value.length; i++) {
      mnemonicPhrase.value[i] = mne[i]
    }

    const mnemonicRows = ref(6)
    const mnemonicCols = ref(4)
    switch (store.getters.getOptions.mnemonicWords) {
      case 12:
        mnemonicRows.value = 3
        mnemonicCols.value = 4
        break
      case 15:
        mnemonicRows.value = 5
        mnemonicCols.value = 3
        break
      case 18:
        mnemonicRows.value = 6
        mnemonicCols.value = 3
        break
      case 21:
        mnemonicRows.value = 7
        mnemonicCols.value = 3
        break

      default:
        break
    }
    const aryWordlist = partisiaCrypto.wallet.getWordlist()
    const options = ref(aryWordlist)
    return {
      onUpdateValue: (idx, val) => {
        context.emit('update:modelValue', mnemonicPhrase.value)
      },
      options,
      filterFn(val, update, abort) {
        if (val.length < 2) {
          abort()
          return
        }

        update(() => {
          const needle = val.toLowerCase()
          options.value = aryWordlist.filter((v) => v.toLowerCase().indexOf(needle) === 0)
        })
      },
      mnemonicPhrase,
      mnemonicRows,
      mnemonicCols,

      onPopupHide: (idx) => {
        if (options.value.length === 1) {
          mnemonicPhrase.value[idx] = options.value[0]
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped></style>
