<template>
  <div class="row">
    <div class="col-12 row-back">
      <q-btn class="row-back-btn" @click="onClick" flat size="md" icon="las la-chevron-circle-left" />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
export default defineComponent({
  name: 'RowBack',
  emits: ['onBack'],
  methods: {
    onClick() {
      this.$emit('onBack')
    },
  },
  setup() {
    return {}
  },
})
</script>
<style lang="scss" scoped>
.row-back-btn {
  margin-top: 16px;
  color: rgba($color: #474955, $alpha: 0.4);
}
</style>
