<template>
  <div v-if="tokenSymbol" class="row full-width justify-center q-pt-xl q-mb-md">
    <q-img v-if="tokenSymbol === 'MPC'" src="~assets/pb_logo.svg" no-spinner width="64px" height="64px" />
    <q-img v-if="tokenSymbol === 'ETH GOERLI'" src="~assets/byoc/eth.png" no-spinner width="64px" height="64px" />
    <q-img v-if="tokenSymbol === 'TEST COIN'" src="~assets/pb_logo.svg" no-spinner width="64px" height="64px" />
    <q-img v-if="tokenSymbol === 'ETH'" src="~assets/byoc/eth.png" no-spinner width="64px" height="64px" />
    <q-img v-if="tokenSymbol === 'USDC'" src="~assets/byoc/usdc.png" no-spinner width="64px" height="64px" />
    <q-img v-if="tokenSymbol === 'BNB'" src="~assets/byoc/bnb.png" no-spinner width="64px" height="64px" />
    <q-img v-if="tokenSymbol === 'MATIC'" src="~assets/byoc/matic.png" no-spinner width="64px" height="64px" />
    <q-img v-if="tokenSymbol === 'USDT'" src="~assets/byoc/usdt.png" no-spinner width="64px" height="64px" />
  </div>
  <div class="t q-px-md">You are sending {{ tokenSymbol }}</div>

  <div class="row full-width justify-center q-px-md q-pt-xl q-gutter-y-xs">
    <q-btn class="full-width btn-partisia-primary" no-caps no-wrap label="Proceed" @click="onConfirm" />
    <div>or</div>
    <q-btn class="full-width btn-partisia-secondary" outline no-caps no-wrap label="Go back" @click="onBack" />
  </div>
</template>

<script>
import { useStore } from 'vuex'

export default {
  // name: 'ComponentName',
  emits: ['onConfirm'],
  props: {
    tokenSymbol: {
      type: String,
      required: true,
    },
  },
  setup(props, context) {
    const store = useStore()
    return {
      onConfirm() {
        context.emit('onConfirm')
      },
      onBack: async () => {
        await store.dispatch('routeChange', null)
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.t {
  color: var(--black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}
</style>
