<template>
  <WalletSendTokenErc721 v-if="isSending" :token-id="tokenId" :token-key="tokenKey" />
  <div v-else-if="tokenId">
    <!-- <pre> {{ token }}</pre> -->
    <!-- <pre>{{ aryUrls }}</pre> -->
    <div class="title q-mt-md">NFTs</div>
    <div class="title-box q-pa-md q-mt-md">
      <div class="subtitle">Collection: {{ token.aryTokens[0].name }}</div>
      <!-- <div class="subtitle-caption q-mt-sm">
        Symbol: <b>{{ token.symbol }}</b>
      </div> -->
      <div class="subtitle-caption no-wrap row full-width">
        <div class="self-center">Contract:</div>
        <q-btn class="q-pa-none q-ma-none" dense no-caps style="max-width: 250px" @click="onNftContract">
          <div class="ellipsis">
            &nbsp;<b>{{ token.asset_contract }}</b>
          </div>
        </q-btn>
      </div>
    </div>
    <div class="row full-width q-pa-md q-gutter-y-md">
      <!-- <pre>{{ token }}</pre> -->
      <template v-for="(token, tknIdx) in token.aryTokens" :key="tknIdx">
        <div class="col-6" v-bind:class="{ 'q-pr-sm': tknIdx % 2 === 0, 'q-pl-sm': tknIdx % 2 === 1 }">
          <q-card class="nft-card">
            <q-card-section class="q-pa-none" style="background: var(--Blue-20, #d4dffb); height: 140px">
              <!-- NFT image is good -->
              <!-- <q-img
                @error="errorImg(tknIdx)"
                v-if="aryUrls[tknIdx].length > 0 && aryImgErrors[tknIdx] === false"
                :src="aryUrls[tknIdx]"
                @click.stop="onNftClick(tknIdx)"
                style="height: 140px"
                fit="cover"
              /> -->
              <q-img v-if="token.uri" :src="token.uri" @click.stop="onNftClick(token.uri)" style="height: 140px; border-radius: 4px" fit="cover" />
              <!-- NFT image is broken link -->
              <q-icon v-else-if="aryImgErrors[tknIdx]" color="secondary" size="xl" class="full-width justify-center" name="las la-unlink" style="height: 140px" />
              <!-- NFT meta data is invalid -->
              <div v-else style="height: 140px"></div>
            </q-card-section>
            <q-card-actions>
              <div class="row full-width justify-between">
                <div class="card-token-label self-center">ID: {{ token.token_id }}</div>
                <q-btn
                  class="btn-partisia-secondary text-bold"
                  size="sm"
                  no-caps
                  label="Send"
                  @click="
                    () => {
                      tokenKey = token.token_id
                      isSending = true
                    }
                  "
                />
              </div>
            </q-card-actions>
          </q-card>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { ref, onBeforeMount, onMounted } from 'vue'
import { useStore } from 'vuex'
import { openURL, useQuasar } from 'quasar'
import { axios } from 'src/boot/axios'
import WalletSendTokenErc721 from 'src/components/WalletSendTokenErc721.vue'

export default {
  props: {
    tokenId: {
      type: String,
      default: null,
    },
  },
  components: {
    WalletSendTokenErc721,
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    if (props.tokenId === null) store.dispatch('routeChange', null)
    else {
      const token = store.getters.walletTokensErc721.find((t) => t.asset_contract === props.tokenId)
      const aryUrls = ref(new Array(token.aryTokens.length).fill(''))
      const isSending = ref(false)
      const aryImgErrors = ref(new Array(aryUrls.value.length).fill(false))

      onMounted(() => {
        // attempt to resolve all the urls
        // for (let i = 0; i < aryUrls.value.length; i++) {
        //   const tokenURL = token.aryTokens[i].uri
        //   ;((i) => {
        //     if (tokenURL.length > 0) {
        //       axios
        //         .request({ method: 'HEAD', url: tokenURL })
        //         .then(async (res) => {
        //           if (res.status === 200) {
        //             if ((res.headers['content-type'] || res.headers['Content-Type']).toLowerCase() === 'application/json') {
        //               const { data } = await axios.request({ method: 'GET', url: tokenURL })
        //               // remove trailing / or leading /
        //               const pathImg = data.image
        //               // const urlLeft = baseURL.at(-1) === '/' ? baseURL.substring(0, baseURL.length - 1) : baseURL
        //               // const urlRight = pathImg.at(0) === '/' ? pathImg.substring(1) : baseURL
        //               // aryUrls.value[i] = `${urlLeft}/${urlRight}`
        //               aryUrls.value[i] = pathImg
        //             } else {
        //               // valid link but not json metadata
        //               // aryUrls.value[i] = res.config.baseURL + res.config.url
        //             }
        //           } else {
        //             // broken link
        //             // TODO; maybe display broken link icon
        //           }
        //         })
        //         .catch((e) => console.error(`error for ${i}:`, e.message))
        //     }
        //   })(i)
        // }
      })

      return {
        token,
        aryImgErrors,
        tokenKey: ref(null),
        aryUrls,
        isSending,
        onNftClick: (uri) => {
          openURL(uri)
        },
        onNftContract: () => {
          // https://browser.testnet.partisiablockchain.com/contracts/0296b935f95dbf30d0921ee23686099027b9759480?tab=state
          const link = store.getters.isTestnet ? store.getters.getOptions.blockExplorerContractTestnet : store.getters.getOptions.blockExplorerContract
          const url = new URL(link.replace('{0}', token.asset_contract))
          openURL(url.href)
        },
        errorImg: (idx) => {
          aryImgErrors.value[idx] = true
        },
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.title-box {
  border-top: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  border-bottom: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  background: #ecf1ff;
  .subtitle {
    color: #000;
    font-family: 'F37 Bolton';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
  }
  .subtitle-caption {
    color: var(--black-50, rgba(0, 0, 0, 0.5));
    font-family: 'F37 Bolton';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
  }
}
.card-token-label {
  color: var(--black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}
.nft-card {
  border: 1px solid var(--Blue, #1d70ea);
  background: var(--White, #fff);
  box-shadow: 6px 6px 0px 0px #1d70ea;
}
</style>
