<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <q-page>
      <!-- <RowBack @onBack="onBack" /> -->
      <!-- <pre v-if="$dev">{{ aryTokens }}</pre> -->
      <!-- <pre v-if="$dev">{{ aryTokensEnabled }}</pre> -->
      <div class="row">
        <div class="col-12">
          <div class="q-pa-md">
            <q-list padding>
              <q-item-label header>Discovered NFTs</q-item-label>
              <template v-for="(token, tknIdx) in aryTokens" :key="tknIdx">
                <q-item v-if="token.exists" class="q-mb-xs" clickable @click="onToggleToken(token.id)">
                  <q-item-section>
                    <q-item-label class="token-name"><span style="font-weight: normal">Collection: </span>{{ token.contractState.name }}</q-item-label>
                    <q-item-label class="token-amount"> {{ token.count }} {{ token.contractState.symbol }} </q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <!-- <pre v-if="$dev">{{ token.id }}</pre> -->
                    <q-icon v-if="aryTokensEnabled.find((t) => t.id === token.id)?.enabled" color="light-green-14" name="las la-toggle-on" />
                    <q-icon v-else color="amber-10" name="las la-toggle-off" />
                  </q-item-section>
                </q-item>
                <q-item v-else class="q-mb-xs">
                  <q-item-section>
                    <q-item-label class="token-amount text-red">{{ `Your Tokens on: ${token.address_contract} has been deleted due to lack of activity` }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </div>
        </div>
      </div>
    </q-page>
  </transition>
</template>

<script>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import RowBack from 'src/components/RowBack.vue'
import { useQuasar } from 'quasar'
import { Big } from 'big.js'
export default {
  components: {
    // RowBack,
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()
    const address = store.getters.accountActive.address
    const parseTokens = (tokens = []) => {
      return tokens
        .map((t) => {
          return { ...t, count: (t?.contractState?.aryTokens || []).filter((tkn) => tkn?.value?.owner === address).length }
        })
        .filter((t) => t.count > 0)
        .sort((a, b) => {
          if (a.exists === b.exists && a.exists === true) {
            return a.contractState.name.localeCompare(b.contractState.name)
          }
          return a.exists ? -1 : 1
        })
    }
    const aryTokens = computed(() => parseTokens(store.getters.walletTokensErc721))
    const aryTokensEnabled = computed(() => store.getters.walletTokensErc721Enabled)

    return {
      onBack: () => {
        store.dispatch('routeChange', null)
      },
      aryTokens,
      aryTokensEnabled,
      onToggleToken: async (id) => {
        await store.dispatch('toggleTokenErc721Enabled', { walletIdx: store.getters.walletActiveIdx, id })
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.token-name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.token-amount {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba($color: #979797, $alpha: 0.6);
}
</style>
