<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <div class="text-center" style="padding-top: 40px">
      <q-img class="q-ma-lg" src="~assets/parti-logo.svg" :no-spinner="true" width="128px" />
      <div class="full-width column content-center">
        <div class="text-welcome q-mb-lg">Welcome Back!</div>
        <div class="full-width row justify-center" style="margin-top: 20px">
          <div class="col-12 q-pa-lg">
            <FormPassword @onUnlock="onUnlockFromForm" />
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue'
import { useQuasar } from 'quasar'
import { useStore } from 'vuex'
import FormPassword from 'src/components/FormPassword.vue'

export default defineComponent({
  name: 'WalletUnlock',
  emits: ['onUnlock'],
  components: {
    FormPassword,
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    return {
      onUnlockFromForm: async (v) => {
        context.emit('onUnlock', v)
      },
    }
  },
})
</script>
<style lang="scss" scoped>
.text-welcome {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
}
</style>
