<template>
  <q-form @submit="onSubmit" class="q-gutter-y-md">
    <div class="">
      <div class="t">Password</div>
      <q-input
        :rules="[isValidPassword]"
        class="input-password"
        borderless
        ref="refWalletPassword"
        placeholder="Enter your password"
        :type="showPassword ? 'text' : 'password'"
        dense
        v-model="walletPassword"
      >
        <template v-slot:append>
          <q-icon :name="showPassword ? 'visibility_off' : 'visibility'" @click="showPassword = !showPassword" class="cursor-pointer" />
        </template>
      </q-input>
    </div>
    <div class="confirm-password">
      <div class="t">Confirm Password</div>
      <q-input
        class="input-password"
        dense
        borderless
        placeholder="Repeat your password"
        :type="showConfirmPassword ? 'text' : 'password'"
        v-model="walletPasswordRepeat"
        lazy-rules
        :rules="[(val) => (val && val.length > 0 && walletPassword === walletPasswordRepeat) || 'Password Mismatch']"
      >
        <template v-slot:append>
          <q-icon :name="showConfirmPassword ? 'visibility_off' : 'visibility'" @click="showConfirmPassword = !showConfirmPassword" class="cursor-pointer" />
        </template>
      </q-input>
    </div>
    <div class="q-pt-sm t-valid fit column q-gutter-y-xs">
      <q-radio
        dense
        size="xs"
        v-model="aryValid[0]"
        v-bind:class="{ 'is-valid': aryValid[0] }"
        disable
        checked-icon="task_alt"
        unchecked-icon="panorama_fish_eye"
        :val="true"
        label="Minimum 8 characters"
      />
      <q-radio
        dense
        size="xs"
        v-model="aryValid[1]"
        v-bind:class="{ 'is-valid': aryValid[1] }"
        disable
        checked-icon="task_alt"
        unchecked-icon="panorama_fish_eye"
        :val="true"
        label="At least one uppercase character (A-Z)"
      />
      <q-radio
        dense
        size="xs"
        v-model="aryValid[2]"
        v-bind:class="{ 'is-valid': aryValid[2] }"
        disable
        checked-icon="task_alt"
        unchecked-icon="panorama_fish_eye"
        :val="true"
        label="At least one lowercase character (a-z)"
      />
      <q-radio
        dense
        size="xs"
        v-model="aryValid[3]"
        v-bind:class="{ 'is-valid': aryValid[3] }"
        disable
        checked-icon="task_alt"
        unchecked-icon="panorama_fish_eye"
        :val="true"
        label="At least one digit (0-9)"
      />
      <q-radio
        v-bind:class="{ 'is-valid': aryValid[4] }"
        dense
        size="xs"
        v-model="aryValid[4]"
        disable
        checked-icon="task_alt"
        unchecked-icon="panorama_fish_eye"
        :val="true"
        :label="`At least one special character (!@#$%^&*()_-+={}[]|\\:;${'&quot;'}'<>,.?/~)`"
      />
    </div>

    <q-footer class="q-px-md" style="background-color: transparent">
      <div class="text-accept q-mb-xs">
        <q-checkbox size="xs" v-model="walletTermsAccept" label="I have read and agree to the" />
        <a @click="onViewTerms">the terms</a>
      </div>
      <q-btn
        :disable="!isDev && (!walletTermsAccept || !aryValid.every((v) => v === true) || walletPasswordRepeat !== walletPassword)"
        no-caps
        class="full-width btn-partisia-primary"
        :label="btnLabel || 'Create'"
        type="submit"
      />
    </q-footer>
  </q-form>
</template>

<script>
import { defineComponent, ref, onMounted, getCurrentInstance } from 'vue'
import { useQuasar } from 'quasar'
import { useStore } from 'vuex'

export default defineComponent({
  name: 'WalletPasswordConfirm',
  emits: ['onPassword', 'onLicenseTerms'],
  props: {
    btnLabel: {
      type: String,
      required: false,
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()

    const aryValid = ref(new Array(5).fill(false))
    const walletPassword = ref('')
    const walletPasswordRepeat = ref('')
    const walletTermsAccept = ref(false)
    // const refWalletPassword = ref(null)
    onMounted(() => {
      setTimeout(() => {
        app.refs.refWalletPassword.focus()
      }, 200)
    })
    const isValidPassword = (v) => {
      const aryPassword = v.split('')
      const uppercaseLetters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
      const uppercaseArray = uppercaseLetters.split('')
      const lowercaseLetters = uppercaseLetters.toLowerCase()
      const lowercaseArray = lowercaseLetters.split('')
      const digits = '0123456789'
      const aryDigits = digits.split('')
      const specialLetters = `!@#$%^&*()_-+={}[]|\:;"'<>,.?/~`
      const arySpecial = specialLetters.split('')

      aryValid.value[0] = v.length >= 8

      // check uppercase
      aryValid.value[1] = false
      for (let i = 0; i < aryPassword.length; i++) {
        if (uppercaseArray.includes(aryPassword[i])) {
          aryValid.value[1] = true
          break
        }
      }
      // check lowercase
      aryValid.value[2] = false
      for (let i = 0; i < aryPassword.length; i++) {
        if (lowercaseArray.includes(aryPassword[i])) {
          aryValid.value[2] = true
          break
        }
      }
      // check digits
      aryValid.value[3] = false
      for (let i = 0; i < aryPassword.length; i++) {
        if (aryDigits.includes(aryPassword[i])) {
          aryValid.value[3] = true
          break
        }
      }

      // check special
      aryValid.value[4] = false
      for (let i = 0; i < aryPassword.length; i++) {
        if (arySpecial.includes(aryPassword[i])) {
          aryValid.value[4] = true
          break
        }
      }
      return true
    }
    return {
      isDev: JSON.parse(process.env.DEV),
      aryValid,
      walletPassword,
      walletPasswordRepeat,
      walletTermsAccept,
      isValidPassword,
      onViewTerms() {
        context.emit('onLicenseTerms', {})
      },
      onSubmit() {
        context.emit('onPassword', walletPassword.value)
      },
    }
  },
  data() {
    return {
      showPassword: false,
      showConfirmPassword: false,
    }
  },
})
</script>
<style lang="scss" scoped>
.t {
  font-style: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.t-valid {
  font-family: 'F37 Bolton';
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.text-accept {
  display: flex;
  align-items: center;
  a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #61e66f;
    padding-left: 6px;
    cursor: pointer;
    text-decoration: underline;
  }
}
.is-valid {
  font-weight: bold;
  color: black;
}
</style>
