<template>
  <template v-if="isLocked">
    <!-- <RowBack @onBack="onBack" /> -->
    <div class="q-px-md q-py-md q-gutter-y-md">
      <div class="title">Reveal Private Key</div>
      <div class="t">You will need to know your private key and/or mnemonic phrase to recover your account in the event something happens to this device</div>
    </div>
    <div class="q-px-md">
      <div class="input-label">{{ walletActive.name }}</div>
      <q-field dense borderless class="input-field q-px-md" disable>
        <template v-slot:control>
          <div style="line-break: anywhere" class="self-center full-width no-outline ellipsis">{{ accountActive.address }}</div>
        </template>
      </q-field>
    </div>
    <div class="row full-width">
      <q-form @submit="onReveal" class="full-width q-gutter-y-md q-pa-md">
        <div>
          <div class="input-label">Password used to Protect Wallet</div>
          <q-input input-class="input-frm q-px-md" dense hide-bottom-space borderless type="password" ref="refPassword" v-model="walletPassword" />
        </div>
        <q-footer class="q-px-md" style="background-color: transparent">
          <q-btn class="full-width btn-partisia-primary" no-caps label="Reveal Private Key" type="submit" :disable="isWalletUnlocking" :loading="isWalletUnlocking" />
        </q-footer>
      </q-form>
    </div>
  </template>
  <template v-else>
    <!-- <RowBack @onBack="onBack" /> -->
    <div class="q-px-md q-py-md q-gutter-y-md">
      <div>
        <div class="input-label">Private Key</div>
        <q-field dense borderless class="input-field q-px-md">
          <template v-slot:control>
            <div class="ellipsis" style="color: #777">{{ privateKey }}</div>
          </template>
          <template v-slot:append>
            <q-btn color="grey-7" round flat icon="las la-copy" size="sm" @click="onCopyPrivateKey" />
          </template>
        </q-field>
      </div>
    </div>
    <div v-if="isWalletHD" class="q-pa-md">
      <div>
        <div class="input-label">Mnemonic Phrase</div>
        <q-field dense borderless class="input-field q-px-md">
          <template v-slot:control>
            <div style="line-break: normal; color: #777" class="self-center full-width no-outline">{{ mnemonic }}</div>
          </template>
          <template v-slot:append>
            <q-btn color="grey-7" round flat icon="las la-copy" size="sm" @click="onCopyMnemonic" />
          </template>
        </q-field>
      </div>
    </div>
    <div class="q-pa-md">
      <div class="input-label">Export to a Encrypted File</div>
      <q-btn class="full-width btn-partisia-secondary" no-caps label="Export to File" @click="onExportToFile" />
    </div>
  </template>
  <!-- <pre>{{ JSON.stringify(walletActive, null, 2) }}</pre> -->
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue'
import { useQuasar, copyToClipboard } from 'quasar'
import RowBack from 'src/components/RowBack.vue'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import { useStore } from 'vuex'
import assert from 'assert'
import { decode_keystore } from 'partisia-rust-keystore'
import { generate_keystore } from 'partisia-rust-keystore'
import { randomBytes } from 'crypto'
import { exportFile } from 'quasar'
import { exportData } from 'src/boot/landing'

export default defineComponent({
  name: 'WalletBackup',
  components: {
    // RowBack,
  },
  mounted() {
    setTimeout(() => {
      if (this.isLocked) {
        this.$refs.refPassword.focus()
        this.$refs.refPassword.$el.focus()
      }
    }, 10)
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const walletActive = store.getters.walletActive
    const isWalletUnlocking = ref(false)
    const isLocked = ref(store.getters.isWalletPasswordProtected)
    const mnemonic = ref(null)
    const pathHD = ref(null)
    const privateKey = ref(walletActive.privateKey || null)
    const walletPassword = ref('')

    onMounted(() => {
      // console.log(JSON.stringify( walletPassword))
      // const input = document.getElementById('walletPassword')
      // input.focus()
      // this.$refs.refPassword.focus()
    })
    const isWalletHD = store.getters.isWalletHD

    return {
      mnemonic,
      privateKey,
      pathHD,
      isLocked,
      isWalletUnlocking,
      accountActive: store.getters.accountActive,
      walletActive,
      walletPassword,
      isWalletHD,
      onExportToFile: () => {
        const message = Buffer.from(JSON.stringify({ isWalletHD, privateKey: privateKey.value, mnemonic: mnemonic.value }), 'utf8')
        const rng_salt = Buffer.from(randomBytes(32))
        const rng_iv = Buffer.from(randomBytes(16))
        const password = Buffer.from(walletPassword.value, 'utf8')
        const ptrKeystore = generate_keystore(message, password, rng_salt, rng_iv)
        const keystore = {
          salt: rng_salt.toString('hex'),
          iv: rng_iv.toString('hex'),
          cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
          mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
        }
        ptrKeystore.free()

        const status = exportData(JSON.stringify(keystore), 'backup.json', 'application/json')
        if (status !== true) {
          $q.notify({ type: 'negative', message: status.message })
        }
      },
      onBack: () => {
        store.dispatch('routeChange', null)
      },
      onCopyPrivateKey: () => {
        copyToClipboard(privateKey.value)
          .then(() => {
            $q.notify({ type: 'positive', message: 'privateKey copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
      onCopyMnemonic: () => {
        copyToClipboard(mnemonic.value)
          .then(() => {
            $q.notify({ type: 'positive', message: 'mnemonic copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
      onReveal: () => {
        try {
          isWalletUnlocking.value = true
          const password = walletPassword.value
          assert(password.length > 0, 'Enter your password')
          const data = decode_keystore(JSON.stringify(walletActive.keystore), Buffer.from(password))
          if (isWalletHD) {
            const entropy = Buffer.from(data).toString('hex')
            mnemonic.value = partisiaCrypto.wallet.entropyToMnemonic(entropy)
            const keypair = partisiaCrypto.wallet.getKeyPairHD(mnemonic.value, 0)
            privateKey.value = keypair.privateKey
            pathHD.value = keypair.path
          } else {
            privateKey.value = Buffer.from(data).toString('hex')
          }
          isLocked.value = false
        } catch (error) {
          $q.notify({ type: 'negative', message: typeof error === 'string' ? error : error.message })
        } finally {
          isWalletUnlocking.value = false
        }
      },
    }
  },
})
</script>
<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.t {
  color: var(--black, #000);
  text-align: center;
  font-family: F37 Bolton Trial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

</style>
