<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <div v-if="isLocked">
      <div class="q-pa-md">
        <div class="text-h5">Create New Account</div>
        <div class="text-caption">Create a new Address on the Partisia Blockchain</div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="q-pa-md">
            <FormPassword @onUnlock="onUnlock" />
          </div>
        </div>
      </div>
    </div>
    <div v-else class="q-pa-md">
      <Mnemonic :walletPassword="walletPassword" @onWalletEncrypted="onMnemonic" style="overflow: hidden" />
    </div>
  </transition>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue'
import { useStore } from 'vuex'
import { useQuasar, copyToClipboard } from 'quasar'
import Mnemonic from 'src/components/WelcomeSteps/Mnemonic.vue'
import FormPassword from 'src/components/FormPassword.vue'
import assert from 'assert'

export default defineComponent({
  name: 'WalletCreate',
  components: {
    Mnemonic,
    FormPassword,
  },
  mounted() {},
  methods: {},
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const isWalletUnlocking = ref(false)
    const isLocked = ref(true)
    // const isLocked = ref(false)
    const walletPassword = ref(null)

    return {
      isWalletUnlocking,
      isLocked,
      walletPassword,
      onUnlock: (v) => {
        walletPassword.value = v
        isLocked.value = false
      },
      onMnemonic: async (v) => {
        const res = await $q.bex.send('wallet.create', v)
        await store.dispatch('walletLoggedIn', true)
        if (process.env.DEV) console.log('res.data', res.data)

        if (res.data.error) {
          // TODO need to display this
          $q.notify(res.data.error)
        }
      },
    }
  },
})
</script>
