<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <div>
      <div class="t q-mt-md">Support</div>
      <q-form @submit="onSubmit" class="q-gutter-y-xs q-pa-md">
        <div class="q-gutter-y-sm">
          <div class="text-soft">Your name</div>
          <q-input v-model="txtName" dense input-class="input-frm q-px-md" borderless lazy-rules :rules="[(val) => (val && val.length > 0) || 'Required']" />
          <div class="text-soft">Your email</div>
          <q-input v-model="txtEmail" dense input-class="input-frm q-px-md" borderless lazy-rules :rules="[isValidEmail]" />
          <div class="text-soft">Problem description</div>
          <q-input
            v-model="txtDesc"
            type="textarea"
            dense
            input-class="input-frm q-px-md"
            borderless
            lazy-rules
            :rules="[(val) => (val && val.length > 0) || 'Required']"
            placeholder="Detail your issue here, including any error messages. Please provide steps to reproduce"
          />
        </div>
        <q-btn :disable="isSubmitting" dense class="full-width btn-partisia-primary" label="Submit" no-caps type="Send message" />
      </q-form>
    </div>
  </transition>
</template>

<script>
import { ref } from 'vue'
import { useStore } from 'vuex'
import axios from 'axios'
import { useQuasar } from 'quasar'
import assert from 'assert'

export default {
  // name: 'ComponentName',
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const form = ref(null)
    const txtName = ref('')
    const txtEmail = ref('')
    const txtDesc = ref('')
    const isSubmitting = ref(false)
    return {
      form,
      isSubmitting,
      txtName,
      txtEmail,
      txtDesc,
      isValidEmail: (val) => {
        const regex = /^([a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+)@([a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*)$/
        if (!regex.test(val)) {
          return 'invalid email'
        }
      },
      onSubmit: async () => {
        // send support request
        try {
          isSubmitting.value = true
          const res = await axios({
            url: 'https://support.mpcexplorer.com/support',
            method: 'POST',
            data: {
              name: txtName.value,
              email: txtEmail.value,
              description: txtDesc.value,
            },
          })
          assert(res.status === 200, res.data.message)
          $q.notify({ type: 'positive', message: 'your ticket has been submitted' })
          await store.dispatch('routeChange', null)
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isSubmitting.value = false
        }
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.t {
  color: var(--Black, #000);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.text-soft {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
</style>
