<template>
  <RowBack @onBack="onBack" />
  <div class="text-center text-h5">Backup Phrase</div>
  <q-separator color="grey" inset />
  <div class="row">
    <div class="col-12">
      <div class="q-pa-sm">
        <div class="text-subtitle1">Mnemonic Phrase</div>
        <div class="text-caption">Please securely save this phrase. This will be needed to restore your funds if you ever switch browsers or devices</div>

        <!-- <q-input v-model="mnemonicPhrase" filled readonly  type="textarea" /> -->
        <q-field outlined bg-color="grey-3" class="q-py-sm">
          <template v-slot:control>
            <div class="self-center full-width no-outline" style="margin: 15px">{{ mnemonicPhrase }}</div>
            <div class="absolute-top text-right">
              <q-icon name="las la-redo-alt" class="cursor-pointer mnemonic-renew" @click="onMnemonicRenew" />
            </div>
          </template>
        </q-field>
      </div>
    </div>
  </div>
  <div class="row justify-center">
    <div class="col-auto">
      <q-btn outline color="primary" no-caps icon="las la-copy" label="Copy to Clipboard" @click="onCopyAddress" />
    </div>
  </div>
  <q-form @submit="onAcceptMnemonic" class="q-pa-md">
    <div class="row accept-seed">
      <div class="col-2" style="margin-top: 20px">
        <q-toggle v-model="mnemonicAccept" label="" />
      </div>
      <div class="col">
        <div class="text-subtitle1">I made Seed Phrase backup</div>
        <div class="text-caption">I accept the risks that if I lose the phrase, my funds may be lost</div>
      </div>
    </div>
    <div class="q-pt-md text-center">
      <q-btn label="Create Wallet" type="submit" color="primary" :disable="isEncrypting" :loading="isEncrypting" />
    </div>
  </q-form>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useStore } from 'vuex'
import { useQuasar, copyToClipboard } from 'quasar'
import RowBack from 'src/components/RowBack.vue'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import { randomBytes } from 'crypto'
import { generate_keystore } from 'partisia-rust-keystore'

export default defineComponent({
  name: 'WalletMnemonic',
  emits: ['onBack'],
  props: {
    walletPassword: { type: String, required: true },
  },
  components: {
    RowBack,
  },
  methods: {
    onBack() {
      this.$emit('onBack')
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const mnemonicAccept = ref(false)
    const isEncrypting = ref(false)
    const mnemonicPhrase = ref(null)
    const encryptWallet = async (walletPassword) => {
      isEncrypting.value = true
      // const priv_key = Buffer.from(randomBytes(32))
      const entropy = Buffer.from(partisiaCrypto.wallet.mnemonicToEntropy(mnemonicPhrase.value), 'hex')
      const walletExteded = partisiaCrypto.wallet.getWalletExtended(mnemonicPhrase.value)
      const rng_salt = Buffer.from(randomBytes(32))
      const rng_iv = Buffer.from(randomBytes(16))
      const password = Buffer.from(walletPassword)
      if (process.env.DEV) console.log('entropy', Buffer.from(entropy).toString('hex'))

      const ptrKeystore = generate_keystore(entropy, password, rng_salt, rng_iv)
      const keystore = {
        salt: rng_salt.toString('hex'),
        iv: rng_iv.toString('hex'),
        cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
        mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
      }
      ptrKeystore.free()

      if (process.env.DEV) console.log(JSON.stringify(keystore, null, 2))

      // https://next.router.vuejs.org/guide/advanced/composition-api.html#accessing-the-router-and-current-route-inside-setup
      // router.push({ path: 'popup' })

      // Get name
      const walletState = store.getters.walletState
      const aryNames = walletState.map((x) => x.name)
      let counter = walletState.length
      let name = null
      while (aryNames.includes(name) || name === null) {
        name = `Account ${++counter}`
      }

      await store.dispatch('walletLoggedIn', true)
      const res = await $q.bex.send('wallet.create', {
        // type: partisiaCrypto.wallet.WalletTypes.HD,
        name,
        keystore,
        pub: walletExteded.xpub,
        // watchOnly: false,
      })
      if (process.env.DEV) console.log('res.data', res.data)
      if (res.data.error) {
        // TODO need to display this
        $q.notify(res.data.error)
      }
      isEncrypting.value = false
    }
    const getMnemonic = () => partisiaCrypto.wallet.generateMnemonic(store.getters.getOptions.mnemonicWords)
    mnemonicPhrase.value = getMnemonic()
    return {
      mnemonicAccept,
      isEncrypting,
      mnemonicPhrase,
      onMnemonicRenew: () => {
        mnemonicPhrase.value = getMnemonic()
      },
      onCopyAddress: () => {
        copyToClipboard(mnemonicPhrase.value)
          .then(() => {
            $q.notify({ type: 'positive', message: 'address copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
      onAcceptMnemonic() {
        if (mnemonicAccept.value !== true) {
          $q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Please safely store a copy of your Mnemonic Phrase',
          })
        } else {
          // Create the wallet
          encryptWallet(props.walletPassword)
        }
      },
    }
  },
})
</script>

<style lang="scss" scoped>
.mnemonic-renew {
  font-size: 1rem;
  top: 5px;
  // bottom: 5px;
}
</style>
