<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <q-page v-if="step === Steps.Landing" class="f">
      <!-- <RowBack @onBack="onBack" /> -->
      <div class="row">
        <div class="col-12">
          <div class="q-pa-none">
            <q-list padding>
              <q-item-label header>Settings</q-item-label>

              <q-item clickable @click="step = 'General'">
                <q-item-section avatar>
                  <q-icon color="dark" name="las la-cog" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>General</q-item-label>
                  <q-item-label caption lines="2">Manage general options like block explorer</q-item-label>
                </q-item-section>
              </q-item>
              <q-separator spaced inset="item" v-if="isWalletPasswordProtected" />
              <q-item clickable @click="step = 'ChangePassword'" v-if="isWalletPasswordProtected">
                <q-item-section avatar>
                  <q-icon color="dark" name="las la-key" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Change Password</q-item-label>
                  <q-item-label caption lines="2">Change your password used to Lock/Unlock this Wallet</q-item-label>
                </q-item-section>
              </q-item>
              <q-separator spaced inset="item" />
              <q-item clickable @click="step = 'About'">
                <q-item-section avatar>
                  <q-icon color="dark" name="las la-info-circle" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>About</q-item-label>
                  <q-item-label caption lines="2">View Information about this Wallet</q-item-label>
                </q-item-section>
              </q-item>
              <q-separator spaced inset="item" />
              <q-item clickable @click="step = 'Reset'">
                <q-item-section avatar>
                  <q-icon color="dark" name="las la-radiation-alt" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Reset All</q-item-label>
                  <q-item-label caption lines="2">Clears and removes all Cache and Data in this Wallet</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
      </div>
    </q-page>
    <q-page v-else-if="step === Steps.General">
      <!-- <RowBack @onBack="onBackLanding" /> -->
      <div class="row q-pa-md">
        <div class="col-12">
          <q-form @submit="onOptsSubmit" @reset="onOptsReset" class="q-gutter-y-xs">
            <!-- <q-input filled type="text" v-model="optFullScreen" label="Full Screen" /> -->
            <!-- <div class="bg-grey-2 q-pa-sm rounded-borders">
              <q-toggle v-model="optPreferPopout" checked-icon="check" color="green" unchecked-icon="clear" label="Open as Popout Window" />
            </div> -->
            <div class="q-gutter-y-sm">
              <div class="text-soft">How many words in Mnemonic Phrase (12, 15, 18, 21, 24)</div>
              <q-input
                dense
                input-class="input-frm q-px-md"
                borderless
                type="number"
                v-model="optMnemonicWords"
                lazy-rules
                :rules="[(val) => (val && [12, 15, 18, 21, 24].includes(Number(val))) || 'Must be 12, 15, 18, 21, or 24 words']"
              />
              <div class="text-soft">Minutes to wait for wallet to automatically lock</div>
              <q-input
                dense
                input-class="input-frm q-px-md"
                borderless
                type="number"
                v-model="optLockTimeout"
                lazy-rules
                :rules="[(val) => (val && Number(val) > 0 && Number(val) <= 60) || 'Must be number between 1 and 60']"
              />
              <div class="text-soft">Seconds before transaction expires</div>
              <q-input
                dense
                input-class="input-frm q-px-md"
                borderless
                type="number"
                v-model="optTransactionValidTimeout"
                lazy-rules
                :rules="[(val) => (val && Number(val) > 0) || 'Please type something']"
              />
              <div class="text-soft">Block Explorer Account Url</div>
              <q-input
                dense
                input-class="input-frm q-px-md"
                borderless
                :input-style="styleTextArea"
                type="textarea"
                v-model="optBlockExplorerAccount"
                lazy-rules
                :rules="[(val) => (val && val.length > 0) || 'Please type something']"
              />
              <div class="text-soft">Block Explorer Transaction Url</div>
              <q-input
                dense
                input-class="input-frm q-px-md"
                borderless
                :input-style="styleTextArea"
                type="textarea"
                v-model="optBlockExplorerTransaction"
                lazy-rules
                :rules="[(val) => (val && val.length > 0) || 'Please type something']"
              />
            </div>
            <div class="row">
              <div class="col-6 q-pr-xs">
                <q-btn dense class="full-width btn-partisia-secondary" label="Reset" no-caps type="reset" />
              </div>
              <div class="col-6 q-pl-xs">
                <q-btn dense class="full-width btn-partisia-primary" label="Submit" no-caps type="submit" />
              </div>
            </div>
          </q-form>
        </div>
      </div>
    </q-page>
    <q-page v-else-if="step === Steps.About">
      <!-- <RowBack @onBack="onBackLanding" /> -->
      <!-- <div class="text-center text-h5">About</div> -->
      <!-- <q-separator color="grey" inset /> -->
      <div class="row fit justify-center">
        <div class="col-shrink">
          <div class="q-pa-md">
            <q-item>
              <q-item-section avatar>
                <img height="48" src="~assets/parti-logo.svg" />
                <!-- <q-icon color="primary" name="bluetooth" /> -->
              </q-item-section>
              <q-item-section>
                <q-item-label>Parti Wallet</q-item-label>
                <q-item-label caption lines="1">
                  Version: <b>{{ appVersion }}</b>
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center text-subtitle2">
          Made by Partisia Blockchain Applications
          <q-icon color="black" size="lg" name="lab la-git" class="cursor-pointer" @click="onGit" />
        </div>
      </div>
      <div class="q-px-lg">
        <q-separator spaced />
      </div>
      <div class="row">
        <div class="col-12 text-center text-caption">Find out more about Partisia Blockchain<br /><q-btn flat no-caps label="https://partisiablockchain.com" @click="onUrlPartisia" /></div>
      </div>
    </q-page>
    <q-page v-else-if="step === Steps.ChangePassword">
      <!-- <RowBack @onBack="onBackLanding" /> -->
      <div v-if="!walletPassword" class="q-mx-md q-pt-lg">
        <div class="text-subtitle2 q-pb-md">Before updating your password, please confirm your current password</div>
        <FormPassword @onUnlock="onUnlock" />
      </div>
      <template v-else>
        <!-- <div class="text-center text-h5 q-mt-lg">Update Wallet Password</div>
        <q-separator color="grey" inset /> -->
        <div class="row">
          <div class="col-12">
            <div class="q-pa-md">
              <WalletPasswordConfirm btnLabel="Reset Password" @onPassword="onPasswordUpdate" />
            </div>
          </div>
        </div>
      </template>
    </q-page>
    <q-page v-else-if="step === Steps.Reset">
      <!-- <RowBack @onBack="onBackLanding" /> -->
      <div class="row">
        <div class="col-12">
          <div class="q-pa-none">
            <q-card flat :bordered="false">
              <q-card-section>
                <div class="text-h6 text-center">
                  <q-icon color="warning" size="lg" name="las la-radiation" />
                  Reset Wallet
                  <q-icon color="warning" size="lg" name="las la-radiation" />
                </div>
                <div class="text-subtitle2">
                  This will remove all the data for all accounts in this wallet. Make sure to backup any Accounts you need as you will not be able to access them after reset
                </div>
              </q-card-section>

              <q-card-actions vertical>
                <q-toggle v-model="isAcceptReset" label="I Understand" />
                <q-btn label="Reset All" type="submit" color="dark" @click="onResetWallet" />
              </q-card-actions>
            </q-card>
          </div>
        </div>
      </div>
    </q-page>
  </transition>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useStore } from 'vuex'
import { useQuasar, openURL } from 'quasar'
import FormPassword from 'src/components/FormPassword.vue'
import WalletPasswordConfirm from 'src/components/WalletPasswordConfirm.vue'
import { randomBytes } from 'crypto'
import assert from 'assert'
import { decode_keystore, generate_keystore } from 'partisia-rust-keystore'

export default defineComponent({
  name: 'WalletSettings',
  components: {
    // RowBack,
    FormPassword,
    WalletPasswordConfirm,
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const isAcceptReset = ref(false)
    const walletPassword = ref(null)
    const enumSettings = {
      Landing: 'Landing',
      General: 'General',
      About: 'About',
      ChangePassword: 'ChangePassword',
      Reset: 'Reset',
    }
    const step = ref(enumSettings.Landing)

    const options = store.getters.getOptions
    const optFullScreen = ref(options.isFullScreen)
    const optMnemonicWords = ref(options.mnemonicWords)
    const optLockTimeout = ref(options.lockTimeout)
    const optBlockExplorerAccount = ref(options.blockExplorerAccount)
    const optBlockExplorerTransaction = ref(options.blockExplorerTransaction)
    const optTransactionValidTimeout = ref(options.transactionValidTimeout)
    const optPreferPopout = ref(options.preferPopout)

    return {
      step,
      Steps: enumSettings,
      isWalletPasswordProtected: store.getters.isWalletPasswordProtected,
      appVersion: chrome.runtime.getManifest().version,
      isAcceptReset,
      walletPassword,
      onUnlock: (v) => {
        walletPassword.value = v
      },
      onPasswordUpdate: async (v) => {
        if (v !== walletPassword.value) {
          try {
            // update all the storage
            const aryWallets = JSON.parse(JSON.stringify(store.getters.walletState))
            for (const wallet of aryWallets) {
              const rng_salt = Buffer.from(randomBytes(32))
              const rng_iv = Buffer.from(randomBytes(16))
              const data = decode_keystore(JSON.stringify(wallet.keystore), Buffer.from(walletPassword.value))

              const ptrKeystore = generate_keystore(Buffer.from(data), Buffer.from(v), rng_salt, rng_iv)
              wallet.keystore = {
                salt: rng_salt.toString('hex'),
                iv: rng_iv.toString('hex'),
                cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
                mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
              }
              ptrKeystore.free()
            }

            if (process.env.DEV) console.log(JSON.stringify(aryWallets, null, 2))

            // set the new wallet info directly into bex storage
            const { data } = await $q.bex.send('wallet.set', aryWallets)
            assert(data.data, data.error)

            // set the new wallet info into the vuex store for this session
            await store.dispatch('walletLoad', aryWallets)

            walletPassword.value = null
            $q.notify({
              type: 'positive',
              icon: 'check',
              message: 'Password Updated',
            })
            step.value = enumSettings.Landing
          } catch (error) {
            $q.notify({ type: 'negative', message: typeof error === 'string' ? error : error.message })
          }
        }
      },
      onUrlPartisia: () => {
        openURL('https://www.partisiablockchain.com/')
      },
      onGit: () => {
        openURL('https://gitlab.com/partisiablockchainapplications/partisia-wallet-extension')
      },
      styleTextArea: ref({ lineBreak: 'anywhere', whiteSpace: 'pre-wrap', resize: 'none', height: '4em' }),
      optFullScreen,
      optMnemonicWords,
      optLockTimeout,
      optBlockExplorerAccount,
      optBlockExplorerTransaction,
      optTransactionValidTimeout,
      optPreferPopout,
      onOptsSubmit: async () => {
        await store.dispatch('setOptions', {
          // isFullScreen: Boolean(optFullScreen.value),
          mnemonicWords: Number(optMnemonicWords.value),
          lockTimeout: Number(optLockTimeout.value),
          transactionValidTimeout: Number(optTransactionValidTimeout.value),
          preferPopout: Boolean(optPreferPopout.value),
          blockExplorerAccount: optBlockExplorerAccount.value,
          blockExplorerTransaction: optBlockExplorerTransaction.value,
        })
        $q.notify({
          type: 'positive',
          icon: 'check',
          message: 'Changes Saved',
        })
      },
      onOptsReset: async () => {
        await store.dispatch('resetStateOptions')
        $q.notify({
          icon: 'announcement',
          message: 'Options have been restored to Default',
        })
        // optMnemonicWords.value = options.mnemonicWords
        // optLockTimeout.value = options.lockTimeout
        // optBlockExplorerAccount.value = options.blockExplorerAccount
        // optBlockExplorerTransaction.value = options.blockExplorerTransaction
      },
      onResetWallet: async () => {
        if (isAcceptReset.value !== true) {
          $q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Please Understand What You Are About to Do',
          })
        } else {
          try {
            const res = await $q.bex.send('storage.clear', {})
            await store.dispatch('resetStateOptions')
            await store.dispatch('resetStateRoutes')
            await store.dispatch('resetStateWallet')
            await store.dispatch('resetStateChain')
          } catch (error) {
            $q.notify({
              color: 'red-5',
              textColor: 'white',
              icon: 'warning',
              message: error.message,
            })
          }
        }
      },
      onBackLanding: () => {
        step.value = enumSettings.Landing
      },
      onBack: () => {
        store.dispatch('routeChange', null)
      },
    }
  },
})
</script>

<style lang="scss" scoped>
.f {
  font-family: 'F37 Bolton';
}
.text-soft {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
</style>
