<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <q-page>
      <!-- <RowBack @onBack="onBack" /> -->
      <!-- <pre v-if="$dev">{{ aryTokens[0] }}</pre>
      <pre v-if="$dev">{{ aryTokensEnabled }}</pre> -->
      <div class="row">
        <div class="col-12">
          <div class="q-pa-md">
            <q-list padding>
              <q-item-label header>Discovered MPC20 Tokens</q-item-label>
              <template v-for="(token, tknIdx) in aryTokens" :key="tknIdx">
                <q-item v-if="token.exists" class="q-mb-xs" clickable @click="onToggleToken(token.id)">
                  <q-item-section>
                    <q-item-label class="token-name">{{ token.contractState.name }}</q-item-label>
                    <q-item-label class="token-amount"> {{ token.contractState.balanceConvert }} {{ token.contractState.symbol }} </q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <!-- <pre v-if="$dev">{{ token.id }}</pre> -->
                    <q-icon v-if="aryTokensEnabled.find((t) => t.id === token.id)?.enabled" color="light-green-14" name="las la-toggle-on" />
                    <q-icon v-else color="amber-10" name="las la-toggle-off" />
                  </q-item-section>
                </q-item>
                <q-item v-else class="q-mb-xs">
                  <q-item-section>
                    <q-item-label class="token-amount text-red">{{ `Your Tokens on: ${token.address_contract} has been deleted due to lack of activity` }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </div>
        </div>
      </div>
    </q-page>
  </transition>
</template>

<script>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import RowBack from 'src/components/RowBack.vue'
import { useQuasar } from 'quasar'
import { Big } from 'big.js'
export default {
  components: {
    // RowBack,
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()
    const parseTokens = (tokens = []) => {
      // return tokens.filter((t) => t.exists && new Big(t.contractState.balance).gt(0))
      return (
        tokens
          // this returns tokens that do not exist or have a balance gt 0; It filters out tokens that are 0 balance such as sold tokens
          // .filter((t) => !t.exists || new Big(t?.contractState?.balance || 0).gt(0))
          .filter((t) => new Big(t?.contractState?.balance || 0).gt(0))
          .sort((a, b) => {
            if (a.exists === b.exists && a.exists === true) {
              return a.contractState.name.localeCompare(b.contractState.name)
            }
            return a.exists ? -1 : 1
          })
      )
    }
    const aryTokens = computed(() => parseTokens(store.getters.walletTokensErc20))
    const aryTokensEnabled = computed(() => store.getters.walletTokensErc20Enabled)

    return {
      onBack: () => {
        store.dispatch('routeChange', null)
      },
      aryTokens,
      aryTokensEnabled,
      onToggleToken: async (id) => {
        await store.dispatch('toggleTokenErc20Enabled', { walletIdx: store.getters.walletActiveIdx, id })
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.token-name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.token-amount {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba($color: #979797, $alpha: 0.6);
}
</style>
