<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <q-page v-if="!isConfirm">
      <sending-token-confirm :token-symbol="`Token ID: ${tokenKey} from NFT Collection: ${token.name}`" @onConfirm="isConfirm = true" />
    </q-page>
    <q-page v-else>
      <template v-if="!isWalletConfirm" class="column items-center">
        <div class="title q-pt-md">Send</div>
        <q-form @submit="onWalletConfirmLoad" class="full-width q-gutter-y-md q-pa-md">
          <div class="row full-width">
            <div class="col-6 q-pr-xs">
              <div class="input-label">Your token Id</div>
              <q-field dense borderless class="input-field" disable>
                <template v-slot:control>
                  <div class="self-center full-width no-outline q-px-md">{{ tokenKey }}</div>
                </template>
              </q-field>
            </div>
            <div class="col-6 q-pl-xs">
              <div class="input-label">Your gas balance</div>
              <q-field dense borderless class="input-field" disable>
                <template v-slot:control>
                  <div class="self-center full-width no-outline q-px-md">{{ formatGasBalanceMB }}</div>
                </template>
              </q-field>
            </div>
          </div>
          <div>
            <div class="input-label">Address</div>
            <q-input input-class="input-frm q-px-md" hide-bottom-space placeholder="address" dense borderless v-model="txtRecipient" lazy-rules :rules="[isValidAddress]" />
          </div>

          <q-btn class="q-mt-lg full-width btn-partisia-primary" no-caps label="Next" type="submit" />
        </q-form>
      </template>
      <template v-else>
        <wallet-confirm @onSign="onSign" @onReject="onReject" :wallet="wallet" :payload="payload" :payloadType="payloadType" :dontBroadcast="false" fromWallet :deserialized="deserialized" />
      </template>
    </q-page>
  </transition>
</template>

<script>
import { defineComponent, ref, getCurrentInstance, computed } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { formatBytes, publicContractActionToObject } from 'src/boot/landing'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import FetchNodeDetails from '@toruslabs/fetch-node-details'
import TorusUtils from '@toruslabs/torus.js'
import jsend from 'jsend'
import assert from 'assert'
import axios from 'axios'
import { promisify } from 'util'
import WalletConfirm from 'src/components/WalletConfirm.vue'
import { Big } from 'big.js'
import { AbiParser, BN, FnRpcBuilder, TypeIndex } from '@partisiablockchain/abi-client'
import { BigEndianByteOutput } from '@secata-public/bitmanipulation-ts'
import { PartisiaAccount } from 'partisia-blockchain-applications-rpc'
import RowBack from 'src/components/RowBack.vue'
import SendingTokenConfirm from './SendingTokenConfirm.vue'
import { serializeToBuffer } from 'partisia-blockchain-applications-crypto/lib/main/structs'

export default defineComponent({
  name: 'WalletToken',
  data() {
    return {}
  },
  components: {
    // WalletTokenHeader,
    WalletConfirm,
    SendingTokenConfirm,
  },
  props: {
    tokenId: {
      required: true,
      type: String,
    },
    tokenKey: {
      required: true,
      type: String,
    },
  },
  setup(props, ctx) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const from = computed(() => store.getters.walletActive.address)

    const aryTokens = store.getters.walletTokensErc721

    const refRecipient = ref(null)
    const txtRecipientHint = ref(null)
    const txtRecipient = ref('')
    const isWalletConfirm = ref(false)

    const token = ref(aryTokens.find((tkn) => tkn.asset_contract === props.tokenId))

    const payload = ref(null)
    const deserialized = ref(null)

    const fetchNodeDetails = () => new FetchNodeDetails({ network: 'mainnet', proxyAddress: process.env.TORUS_PROXY_ADDRESS })

    const derivePayloadERC721 = () => {
      const to = txtRecipientHint.value || txtRecipient.value
      const abi = [
        { field_name: 'action_shortname', field_type: 'num8' },
        { field_name: 'transfer_from', field_type: 'address' },
        { field_name: 'transfer_to', field_type: 'address' },
        { field_name: 'token_id', field_type: 'num128' },
      ]
      const obj = {
        action_shortname: 3,
        transfer_from: from.value,
        transfer_to: to,
        token_id: new BN(props.tokenKey),
      }

      const action = serializeToBuffer(obj, ...abi)
      payload.value = `${token.value.asset_contract}${action.toString('hex')}`
      deserialized.value = {
        actionName: 'transfer_from',
        arguments: obj,
      }

      isWalletConfirm.value = true
    }

    return {
      refRecipient,
      isConfirm: ref(true),
      txtRecipientHint,
      txtRecipient,
      aryTokens,
      token,
      isWalletConfirm,
      wallet: ref(store.getters.walletActive),
      payloadType: ref('hex_payload'),
      payload,
      deserialized,
      formatGasBalanceMB: computed(() => {
        return formatBytes(store.getters.getGasBalance)
      }),
      onRecipientCheck: () => {
        refRecipient.value.validate()
      },
      onWalletConfirmLoad() {
        try {
          derivePayloadERC721()
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      isValidAddress: async (val) => {
        try {
          assert(val, 'please enter address, or twitter handle')
          txtRecipientHint.value = null
          // if it is a torus address
          if (val.includes('@')) {
            if (val.substr(0, 1) === '@') {
              assert(val.length > 1, 'please enter full twitter handle')
              // twitter
              const torus = new TorusUtils()
              const verifier = process.env.TORUS_VERIFIER_TWITTER

              const getTwitterId = async (username) => {
                try {
                  const { data } = await axios({
                    method: 'POST',
                    url: process.env.URL_TWITTER_USER,
                    data: { username },
                  })

                  return jsend.success(data)
                } catch (error) {
                  return jsend.error(error.response.data)
                }
              }
              const t = await getTwitterId(val.substr(1))
              const { id } = await promisify(jsend.forward)(t)
              if (process.env.DEV) console.log(id)
              const verifierId = `twitter|${id}`
              const { torusNodeEndpoints, torusNodePub } = await fetchNodeDetails().getNodeDetails()
              const publicAddress = await torus.getPublicAddress(torusNodeEndpoints, torusNodePub, { verifier, verifierId }, true)
              const { X, Y } = publicAddress
              const partisiaAddress = partisiaCrypto.wallet.walletFromXY({ x: X, y: Y })
              if (process.env.DEV) console.log('Torus Address', JSON.stringify(partisiaAddress, null, 2))

              txtRecipientHint.value = partisiaAddress.address
              return true
            } else {
              // No google for now
              return

              // google
              const torus = new TorusUtils()
              const verifier = process.env.TORUS_VERIFIER_GOOGLE
              const verifierId = val
              const { torusNodeEndpoints, torusNodePub } = await fetchNodeDetails().getNodeDetails()
              const publicAddress = await torus.getPublicAddress(torusNodeEndpoints, torusNodePub, { verifier, verifierId }, true)
              const { X, Y } = publicAddress
              const partisiaAddress = partisiaCrypto.wallet.walletFromXY({ x: X, y: Y })
              if (process.env.DEV) console.log('Torus Address', JSON.stringify(partisiaAddress, null, 2))

              txtRecipientHint.value = partisiaAddress.address
              return true
            }
          }

          return partisiaCrypto.wallet.isValidAddress(val) ? true : 'Address is not valid'
        } catch (error) {
          return error.message
        }
      },
      onSign: async (payload) => {
        await store.dispatch('routeChange', null)
        // try {
        //   const rpcAccount = PartisiaAccount(store.getters.networkActive.ary_urls)
        //   const { trxHash, isFinalOnChain } = payload
        //   assert(isFinalOnChain, 'transaction has been broadcasted but is not yet final on chain.  Please check mpcexplorer for more information')
        //   const res = await rpcAccount.getTransactionEventTrace(trxHash)
        //   assert(!res.hasError, res.errorMessage)
        //   $q.notify({ type: 'positive', message: 'Successful transaction. It can take a minute to reflect balances in wallet' })
        // } catch (error) {
        //   $q.notify({ type: 'negative', message: error.message })
        // } finally {
        //   // isWalletConfirm.value = false
        //   await store.dispatch('routeChange', null)
        // }
      },
      onReject: () => {
        isWalletConfirm.value = false
      },
    }
  },
})
</script>

<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: 'F37 Bolton';
  font-weight: 700;
  line-height: 100%;
}
</style>
