<template>
  <div class="q-mx-md q-pt-md">
    <div class="q-px-xl">
      <q-select
        dense
        input-class="full-width text-bold"
        class="select-wallet q-mb-md"
        borderless
        color="secondary"
        @update:model-value="onNetworkToggle"
        v-model="partisiaNetwork"
        :options="['Partisia Blockchain Mainnet', 'Partisia Blockchain Testnet']"
      >
        <template v-slot:selected>
          <span class="inner-select">
            {{ partisiaNetwork }}
          </span>
        </template>
      </q-select>
    </div>
    <div class="container">
      <div class="full-width box">
        <div class="full-height column no-wrap items-center justify-between">
          <!-- <div class="network-frame q-px-md q-py-xs">Partisia Blockchain {{ networkName }}</div> -->
          <div class="text q-mt-sm">Token balance</div>
          <div class="mpc-balance" v-bind:style="{ 'font-size': getMpcTokenBalanceFormatted.length > 9 ? '30px' : '48px' }">
            {{ getMpcTokenBalanceFormatted }} <span style="font-weight: 400" v-bind:style="{ 'font-size': getMpcTokenBalanceFormatted.length > 9 ? '30px' : '40px' }">MPC</span>
          </div>
          <div class="text q-mt-sm">
            Gas balance
            <q-btn size="sm" round padding="xs" color="grey-14" flat icon="las la-info-circle" style="margin-top: -4px" @click="gasTooltip = !gasTooltip">
              <q-tooltip v-if="gasTooltip" :hide-delay="500" anchor="top right" self="center left" :offset="[-10, 45]" v-model="gasTooltip" class="bg-transparent" style="width: 37%; font-size: 10px">
                <q-chat-message
                  v-if="gasTooltip"
                  :text="['On the Partisia Blockchain, transaction fees are paid with BYOC (Bring Your Own Coin) tokens, which include ETH, BNB, and USDC.']"
                  bg-color="grey-9"
                  text-color="white"
                />
              </q-tooltip>
            </q-btn>
          </div>
          <div class="gas-balance">{{ formatGasBalanceMB }}</div>
          <div class="row full-width justify-evenly q-mt-sm">
            <div class="column">
              <q-btn round class="custom-orange text-white" icon="las la-plus" size="16px" @click="onDeposit" />
              <div class="btn-caption q-pt-sm">
                Deposit <br />
                <div style="color: #626e82; font-size: 11px; font-weight: normal">(Bridge)</div>
              </div>
            </div>
            <div class="column">
              <q-btn round class="custom-orange text-white" icon="las la-arrow-down" size="16px" style="transform: rotate(45deg)" @click="onReceive" />
              <div class="btn-caption q-pt-sm">Receive</div>
            </div>
            <div class="column">
              <q-btn round class="custom-orange text-white" icon="las la-arrow-down" size="16px" style="transform: rotate(225deg)" @click="onSendMpc" />
              <div class="btn-caption q-pt-sm">Send</div>
            </div>
          </div>
        </div>
      </div>
      <div class="corner-circle top-left"></div>
      <div class="corner-circle top-right"></div>
      <div class="corner-circle bottom-left"></div>
      <div class="corner-circle bottom-right"></div>
    </div>

    <q-tabs @update:model-value="onAssetTab" v-model="tabAsset" narrow-indicator dense class="q-mt-sm" indicator-color="secondary">
      <q-tab :ripple="false" name="byoc" label="BYOC" />
      <q-tab :ripple="false" name="mpc20" label="MPC20" />
      <q-tab :ripple="false" name="nft" label="NFT" />
    </q-tabs>
    <q-separator />

    <q-tab-panels v-model="tabAsset" animated class="bg-transparent">
      <q-tab-panel name="byoc" class="q-pa-none">
        <q-list separator>
          <q-item v-for="(byoc, i) in aryByoc" :key="i" class="" clickable v-ripple @click="onByoc(byoc.idx)">
            <q-item-section avatar>
              <q-img v-if="byoc.symbol === 'ETH GOERLI'" src="~assets/byoc/eth.png" no-spinner width="32px" height="32px" />
              <q-img v-if="byoc.symbol === 'TEST COIN'" src="~assets/pb_logo.svg" no-spinner width="32px" height="32px" />
              <q-img v-if="byoc.symbol === 'ETH'" src="~assets/byoc/eth.png" no-spinner width="32px" height="32px" />
              <q-img v-if="byoc.symbol === 'USDC'" src="~assets/byoc/usdc.png" no-spinner width="32px" height="32px" />
              <q-img v-if="byoc.symbol === 'BNB'" src="~assets/byoc/bnb.png" no-spinner width="32px" height="32px" />
              <q-img v-if="byoc.symbol === 'MATIC'" src="~assets/byoc/matic.png" no-spinner width="32px" height="32px" />
              <q-img v-if="byoc.symbol === 'USDT'" src="~assets/byoc/usdt.png" no-spinner width="32px" height="32px" />
            </q-item-section>
            <q-item-section>
              <q-item-label class="token-name">{{ byoc.token_name }}</q-item-label>
              <q-item-label caption>{{ byoc.formatted }} {{ byoc.symbol }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon dense name="las la-arrow-right" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-tab-panel>
      <q-tab-panel name="mpc20" class="q-pa-none">
        <q-btn class="btn-partisia-secondary full-width q-my-sm" no-caps label="Manage Tokens" @click="onManageMpc20" />
        <q-list separator>
          <!-- <pre>{{ aryErc20 }}</pre> -->
          <q-item class="q-mb-xs" clickable v-for="(token, tknIdx) in aryErc20" :key="tknIdx" @click="onTokenERC20(token.contract_address)">
            <!-- <pre>{{ token }}</pre> -->
            <q-item-section>
              <q-item-label class="token-name">{{ token.contractState.name }}</q-item-label>
              <q-item-label caption> {{ token.contractState.balanceConvert }} {{ token.contractState.symbol }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon dense name="las la-arrow-right" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-tab-panel>
      <q-tab-panel name="nft" class="q-pa-none">
        <!-- <pre>{{ aryErc721Enabled }}</pre> -->
        <q-btn class="btn-partisia-secondary full-width q-my-sm" no-caps label="Manage NFTs" @click="onManageNFTs" />
        <q-list separator>
          <!-- <pre>{{ aryErc721 }}</pre> -->
          <q-item class="q-mb-xs" clickable v-for="(token, tknIdx) in aryErc721" :key="tknIdx" @click="onTokenERC721(token.asset_contract)">
            <q-item-section>
              <div class="full-width">
                <q-item-label class="token-name ellipsis">{{ token.aryTokens[0].name || token.asset_contract }}</q-item-label>
              </div>
              <q-item-label caption> {{ token.count }} NFT{{ token.count === 1 ? '' : 's' }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon dense name="las la-arrow-right" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import { openURL } from 'quasar'
import tocase from 'to-case'
import { TOKEN_TYPE, convertDec, fetchActivity, fetchBalance, fetchTokensErc20, fetchTokensErc721, formatBytes, mpcTokenBalance, triggerWalletRefresh } from 'src/boot/landing'
import { Big } from 'big.js'
export default {
  props: {},
  emits: ['sendToken', 'onNft'],
  components: {},
  setup(props, context) {
    const store = useStore()
    const networkName = computed(() => tocase['title'](store.getters.networkActive.name))
    const accountBalances = computed(() => store.getters.accountBalances)
    const accountInfo = computed(() => store.getters.accountInfo)
    const address = computed(() => store.getters.accountActive.address)
    const partisiaNetwork = ref('Partisia Blockchain ' + networkName.value)

    const tabAsset = ref(store.getters.getTabAsset)
    const manageAsset = ref(null)
    const AssetTokens = {
      NFT: 'NFT',
      MPC20: 'MPC20',
    }

    const getMpcTokenBalance = computed(() => {
      return mpcTokenBalance(store)
    })

    const aryByoc = computed(() => {
      // Order should always be ETH, USDC
      const map = store.getters.byocCoins
      const ary = new Array(accountBalances.value.length)

      for (let i = 0; i < ary.length; i++) {
        if (!map[i]) continue
        const value = new Big(accountBalances.value[i]?.balance || 0).div(`1e${map[i].decimals}`)
        // max of 8 decimals
        const formatted = convertDec(value, { convertFromDecimals: false, decimals: Math.min(8, map[i].decimals), removeTrailingZeros: true })
        ary[i] = { symbol: map[i].symbol, value, token_name: map[i].token_name, formatted, idx: i }
      }
      return ary.filter((t) => t.formatted !== '0')
    })

    store.watch(
      (state, getters) => getters.walletActiveIdx,
      async (newValue, oldValue) => {
        triggerWalletRefresh(store, { isRepeat: false })
      }
    )
    store.watch(
      (state, getters) => getters.networkActive,
      async (newValue, oldValue) => {
        triggerWalletRefresh(store, { isRepeat: false })
      }
    )
    store.watch(
      (state, getters) => getters.refreshTime,
      async (newValue, oldValue) => {
        triggerWalletRefresh(store, { isRepeat: false })
      }
    )
    const aryErc721Enabled = computed(() => store.getters.walletTokensErc721Enabled)
    const aryErc721 = computed(() => {
      const tokens = store.getters.walletTokensErc721 || []
      if (process.env.DEV) console.log('walletTokensErc721', JSON.stringify(tokens, null, 2))

      return tokens
        .map((t) => {
          return { ...t, count: (t?.aryTokens || []).filter((tkn) => tkn?.owner === address.value).length }
        })
        .filter((t) => t.count > 0)
        .filter((t) => aryErc721Enabled.value.find((tkn) => tkn.asset_contract === t.id)?.enabled || false)
    })

    const aryErc20Enabled = computed(() => store.getters.walletTokensErc20Enabled)
    const aryErc20 = computed(() => {
      const tokens = store.getters.walletTokensErc20 || []
      if (process.env.DEV) console.log('walletTokensErc20', JSON.stringify(tokens, null, 2))

      return tokens.filter((t) => t.exists && new Big(t.contractState.balance).gt(0)).filter((t) => aryErc20Enabled.value.find((tkn) => tkn.id === t.contract_address)?.enabled || false)
    })
    return {
      gasTooltip: ref(false),
      partisiaNetwork,
      tabAsset,
      manageAsset,
      AssetTokens,
      aryByoc,
      aryErc721Enabled,
      aryErc721,
      aryErc20Enabled,
      aryErc20,
      formatGasBalanceMB: computed(() => {
        return formatBytes(store.getters.getGasBalance)
      }),
      networkName,
      getMpcTokenBalance,
      onAssetTab: async (val) => {
        await store.dispatch('setAssetTab', val)
      },
      getMpcTokenBalanceFormatted: computed(() => {
        return convertDec(getMpcTokenBalance.value, { convertFromDecimals: false, decimals: 4, removeTrailingZeros: true })
      }),
      onByoc: (idx) => {
        context.emit('sendToken', { tokenId: idx, tokenType: TOKEN_TYPE.BYOC })
      },
      onTokenERC20: (contractAddress) => {
        context.emit('sendToken', { contractAddress, tokenType: TOKEN_TYPE.ERC20 })
      },
      onSendMpc: () => {
        context.emit('sendToken', { tokenId: -1, tokenType: TOKEN_TYPE.MPC })
      },
      onDeposit: () => {
        const isTestnet = store.getters.isTestnet
        if (isTestnet) {
          openURL('https://browser.testnet.partisiablockchain.com/bridge')
        } else {
          openURL('https://browser.partisiablockchain.com/bridge')
        }
      },
      onReceive: async () => {
        await store.dispatch('routeChange', 'Receive')
      },
      onManageNFTs: async () => {
        await store.dispatch('routeChange', 'ManageAssetNft')
      },
      onManageMpc20: async () => {
        await store.dispatch('routeChange', 'ManageAssetMpc20')
      },
      onTokenERC721: async (id) => {
        context.emit('onNft', id)
        await store.dispatch('routeChange', 'ShowCollectionNft')
      },
      onNetworkToggle: async () => {
        const isTestnet = store.getters.isTestnet
        // await store.dispatch('routeChange', null)
        await store.dispatch('networkChange', isTestnet ? 0 : 1)
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.box {
  border-radius: 4px;

  padding: 20px 0;
  height: 270px;
  border: 1px solid #1d70ea;
  background: var(--Blue-10, #ecf1ff);

  .mpc-balance {
    color: var(--black, #000);
    text-align: center;
    font-size: 48px;
    font-family: 'F37 Bolton';
    font-weight: 700;
    line-height: 100%;
    white-space: nowrap;
  }
  .gas-balance {
    color: var(--black, #000);
    text-align: center;
    font-size: 24px;
    font-family: 'F37 Bolton';
    font-weight: 700;
    line-height: 100%;
  }
  .text {
    color: var(--black-50, rgba(0, 0, 0, 0.5));
    text-align: center;
    font-size: 12px;
    font-family: 'F37 Bolton';
    line-height: 100%;
  }
  .btn-caption {
    color: var(--black, #000);
    text-align: center;
    font-size: 12px;
    font-family: 'F37 Bolton';
    font-weight: 700;
    line-height: 100%;
  }
}

.token-name {
  color: var(--black, #000);
  font-size: 16px;
  font-family: 'F37 Bolton';
  font-weight: 700;
  line-height: 100%;
}
.custom-orange {
  background: var(--Blue, #1d70ea);
}
.tooltip-box {
  max-width: 20px;
}
</style>
