<template>
  <RowBack @onBack="onBack" />
</template>

<script>
import { defineComponent, ref, onBeforeMount, onMounted } from 'vue'
import RowBack from 'src/components/RowBack.vue'

export default defineComponent({
  name: 'WalletTokenCreate',
  components: {
    RowBack,
  },
  emits: ['onBack'],
  methods: {
    onBack() {
      this.$emit('onBack')
    },
  },
  setup() {
    return {}
  },
})
</script>
