<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <q-page v-if="!isConfirm">
      <sending-token-confirm :token-symbol="`${token.contractState.symbol}`" @onConfirm="isConfirm = true" />
    </q-page>
    <q-page v-else>
      <template v-if="!isWalletConfirm" class="column items-center">
        <!-- <pre>{{ token }}</pre> -->
        <div class="title q-pt-md">Send</div>
        <!-- <div class="title q-pt-md">You are sending {{ token.contractState.symbol }}</div> -->
        <!-- <div class="text-caption">{{ token.address_contract }}</div> -->
        <q-form @submit="onWalletConfirmLoad" class="full-width q-gutter-y-md q-pa-md">
          <div class="row full-width">
            <div class="col-6 q-pr-xs">
              <div class="input-label">Your token balance</div>
              <q-field dense borderless class="input-field" disable>
                <template v-slot:control>
                  <div class="self-center full-width no-outline q-px-md">{{ token.contractState.balanceConvert }} {{ token.contractState.symbol }}</div>
                </template>
              </q-field>
            </div>
            <div class="col-6 q-pl-xs">
              <div class="input-label">Your gas balance</div>
              <q-field dense borderless class="input-field" disable>
                <template v-slot:control>
                  <div class="self-center full-width no-outline q-px-md">{{ formatGasBalanceMB }}</div>
                </template>
              </q-field>
            </div>
          </div>
          <div>
            <div class="input-label">Address</div>
            <q-input input-class="input-frm q-px-md" hide-bottom-space placeholder="address" dense borderless v-model="txtRecipient" lazy-rules :rules="[isValidAddress]" />
          </div>
          <div>
            <div class="input-label">Amount</div>
            <q-input input-class="input-frm q-py-none q-px-md" style="margin-right: -5px" hide-bottom-space borderless dense v-model="txtAmount" :rules="[isValidAmount]">
              <template v-slot:after>
                <q-btn
                  color="secondary"
                  square
                  class="text-bold q-px-sm"
                  v-bind:style="{ 'margin-left': isValidAmount(txtAmount) == null || txtAmount === '' ? '-55px' : '-85px' }"
                  dense
                  label="MAX"
                  @click="onMax"
                  size="sm"
                />
              </template>
              <template v-slot:error> Please use maximum 3 characters. </template>
            </q-input>
          </div>
          <template v-if="isMpcToken">
            <q-expansion-item v-model="showAdvanced" label="Advanced settings" style="font-weight: bold">
              <q-btn-toggle
                dense
                spread
                no-caps
                square
                class="vertical-toggle"
                v-model="selMpcToken"
                toggle-color="secondary"
                unelevated
                toggle-text-color="white"
                color="white"
                text-color="secondary"
                style="border: 1px solid #1d70ea"
                :options="[
                  { label: 'None', value: 'None' },
                  { label: 'Memo', value: 'Memo' },
                  { label: 'Number Tag', value: 'Tag' },
                ]"
              >
              </q-btn-toggle>
              <div class="q-mt-md" style="font-weight: normal">
                <template v-if="selMpcToken === 'Tag'">
                  <div class="input-label">{{ selMpcToken }}</div>
                  <q-input input-class="input-frm q-px-md" hide-bottom-space placeholder="Enter a Number" dense borderless v-model="txtNumberTag" lazy-rules :rules="[isValidNumber]" />
                </template>
                <template v-else-if="selMpcToken === 'Memo'">
                  <div class="input-label">{{ selMpcToken }}</div>
                  <q-input input-class="input-frm q-px-md" hide-bottom-space placeholder="Enter a Memo" dense borderless v-model="txtMemo" lazy-rules :rules="[isValidMemo]" />
                </template>
              </div>
            </q-expansion-item>
          </template>
          <q-btn class="q-mt-lg full-width btn-partisia-primary" no-caps label="Next" type="submit" :loading="isLoading" />
        </q-form>
      </template>
      <template v-else>
        <wallet-confirm @onSign="onSign" @onReject="onReject" :wallet="wallet" :payload="payload" :payloadType="payloadType" :dontBroadcast="false" fromWallet :deserialized="deserialized" />
      </template>
    </q-page>
  </transition>
</template>

<script>
import { defineComponent, ref, getCurrentInstance, computed } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { convertDec, formatBytes, mpcAvailable, publicContractActionToObject, TOKEN_TYPE } from 'src/boot/landing'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import FetchNodeDetails from '@toruslabs/fetch-node-details'
import TorusUtils from '@toruslabs/torus.js'
import jsend from 'jsend'
import assert from 'assert'
import axios from 'axios'
import { promisify } from 'util'
import WalletConfirm from 'src/components/WalletConfirm.vue'
import { Big } from 'big.js'
import { AbiParser, BN, FnRpcBuilder, TypeIndex } from '@partisiablockchain/abi-client'
import { BigEndianByteOutput } from '@secata-public/bitmanipulation-ts'
import { PartisiaAccount } from 'partisia-blockchain-applications-rpc'
import RowBack from 'src/components/RowBack.vue'
import SendingTokenConfirm from 'src/components/SendingTokenConfirm.vue'
import { serializeToBuffer } from 'partisia-blockchain-applications-crypto/lib/main/structs'

export default defineComponent({
  name: 'WalletToken',
  data() {
    return {}
  },
  components: {
    // WalletTokenHeader,
    WalletConfirm,
    SendingTokenConfirm,
    // RowBack,
  },
  props: {
    tokenId: {
      type: Number,
      required: false,
    },
    contractAddress: {
      type: String,
      required: false,
    },
    tokenType: {
      required: true,
      type: String,
    },
  },
  setup(props, ctx) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()

    const payloadType = ref('hex_payload')
    const refRecipient = ref(null)
    const txtRecipientHint = ref(null)
    const txtRecipient = ref('')
    const txtAmount = ref('')
    const txtNumberTag = ref('')
    const txtMemo = ref('')
    const isWalletConfirm = ref(false)
    const selMpcToken = ref('None')
    const accountBalances = computed(() => store.getters.accountBalances)
    const aryTokens = store.getters.walletTokensErc20
    const showAdvanced = ref(false)
    const isLoading = ref(false)

    const isMpcToken = props.tokenType === TOKEN_TYPE.MPC
    // get mpc tokens available
    const mpcTokens = mpcAvailable(store) || (process.env.DEV ? '1000.0000' : '0')
    // convert from string back into big integer
    const mpcToken = {
      address_contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881',
      contractState: {
        name: 'MPC Token',
        symbol: 'MPC',
        decimals: 4,
        balance: new Big(mpcTokens).times(1e4).toFixed(0),
        balanceConvert: mpcTokens,
      },
    }

    const byocBalance = (i) => {
      const map = store.getters.byocCoins
      const value = new Big(accountBalances.value[i]?.balance || 0).div(`1e${map[i].decimals}`)
      // max of 8 decimals
      return convertDec(value, { convertFromDecimals: false, decimals: Math.min(8, map[i].decimals), removeTrailingZeros: true })
    }
    const byocToken = store.getters.byocCoins.map((t, idx) => {
      return {
        address_contract: t.address,
        contractState: {
          name: t.token_name,
          symbol: t.symbol,
          decimals: t.decimals,
          balance: accountBalances.value[idx]?.balance,
          balanceConvert: byocBalance(idx),
        },
      }
    })

    const token = ref(null)
    switch (props.tokenType) {
      case TOKEN_TYPE.MPC:
        token.value = mpcToken
        break
      case TOKEN_TYPE.ERC20:
        token.value = aryTokens.find((tkn) => tkn.contract_address === props.contractAddress)
        break
      case TOKEN_TYPE.BYOC:
        token.value = byocToken[props.tokenId]
        break
      default:
        break
    }

    const payload = ref(null)
    const deserialized = ref(null)

    const fetchNodeDetails = () => new FetchNodeDetails({ network: 'mainnet', proxyAddress: process.env.TORUS_PROXY_ADDRESS })
    const balance = computed(() => token.value.contractState.balance)

    const derivePayloadMPC = async () => {
      // should have recipient, amount
      Big.RM = 0
      const amount = new Big(txtAmount.value).times(`1e${token.value.contractState.decimals}`).toFixed(0)
      const recipient = txtRecipientHint.value || txtRecipient.value

      let invocationByte = 3
      let abi = partisiaCrypto.abi_system.Payload_MpcTransfer
      if (showAdvanced.value) {
        switch (selMpcToken.value) {
          case 'Tag':
            invocationByte = 13
            abi = partisiaCrypto.abi_system.Payload_MpcTransferWithNum
            break
          case 'Memo':
            invocationByte = 23
            abi = partisiaCrypto.abi_system.Payload_MpcTransferWithMemo
            break
        }
      }
      if (invocationByte === 23) {
        // add a warning if memo and leading/trailing space
        if (txtMemo.value.trim() !== txtMemo.value) {
          const is_continue = await new Promise((resolve, reject) => {
            $q.dialog({
              seamless: true,
              message: 'You have a memo with a leading or trailing space. Are you sure you want to continue?',
              position: 'bottom',
              color: 'secondary',
              cancel: true,
              persistent: true,
            })
              .onOk(async () => {
                resolve(true)
              })
              .onCancel(() => {
                resolve(false)
              })
              .onDismiss(() => {
                false
              })
          })
          if (!is_continue) {
            return
          }
        }
      }

      const dataPayload = partisiaCrypto.structs.serializeToBuffer(
        {
          invocationByte,
          recipient,
          amount,
          numberTag: txtNumberTag.value,
          memo: txtMemo.value,
        },
        ...abi
      )

      payloadType.value = 'hex'

      const aryUrls = store.getters.networkActive.ary_urls
      const rpcAccount = PartisiaAccount(aryUrls, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })
      const nonce = await rpcAccount.getNonce(store.getters.accountActive.address)
      const serialized = partisiaCrypto.transaction.serializedTransaction(
        { cost: '20000', nonce, validTo: Date.now() + 5 * 60 * 1000 }, // 5 minutes
        { contract: token.value.address_contract },
        dataPayload
      )
      payload.value = serialized.toString('hex')
      // payload.value = `${token.value.address_contract}${dataPayload.toString('hex')}`
      deserialized.value = partisiaCrypto.structs.deserializeFromBuffer(dataPayload, ...abi)
      if (process.env.DEV) console.log('dataPayload', dataPayload.toString('hex'))

      // trigger up a WalletConfirm
      isWalletConfirm.value = true
    }
    const derivePayloadByoc = async () => {
      // should have recipient, amount
      Big.RM = 0
      const amount = new Big(txtAmount.value).times(`1e${token.value.contractState.decimals}`).toFixed(0)
      const recipient = txtRecipientHint.value || txtRecipient.value

      const abi = partisiaCrypto.abi_system.Payload_BYOC_Transfer

      const dataPayload = partisiaCrypto.structs.serializeToBuffer(
        {
          invocationByte: 1,
          to: recipient,
          amount,
        },
        ...abi
      )

      payloadType.value = 'hex'

      const aryUrls = store.getters.networkActive.ary_urls
      const rpcAccount = PartisiaAccount(aryUrls, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })
      const nonce = await rpcAccount.getNonce(store.getters.accountActive.address)
      const serialized = partisiaCrypto.transaction.serializedTransaction(
        { cost: '16100', nonce, validTo: Date.now() + 5 * 60 * 1000 }, // 5 minutes
        { contract: token.value.address_contract },
        dataPayload
      )
      payload.value = serialized.toString('hex')
      // payload.value = `${token.value.address_contract}${dataPayload.toString('hex')}`
      deserialized.value = partisiaCrypto.structs.deserializeFromBuffer(dataPayload, ...abi)
      if (process.env.DEV) console.log('dataPayload', dataPayload.toString('hex'))

      // trigger up a WalletConfirm
      isWalletConfirm.value = true
    }
    const derivePayloadERC20 = () => {
      // // get the abi
      // const aryUrls = store.getters.networkActive.ary_urls
      // const rpcAccount = PartisiaAccount(aryUrls, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })
      // const { data } = await rpcAccount.getContract(token.value.contract_address)

      // the payload will be in the format: invocation address amount(u128)
      // 01 006679b71f43483a402f79719f1ba6a9b8a2ced062 00000000000000000000000000000001

      Big.RM = 0
      const amt = new Big(txtAmount.value).times(`1e${token.value.contractState.decimals}`).toFixed(0)
      const to = txtRecipientHint.value || txtRecipient.value

      const abi = [
        { field_name: 'action_shortname', field_type: 'num8' },
        { field_name: 'to', field_type: 'address' },
        { field_name: 'amount', field_type: 'num128' },
      ]

      const obj = {
        action_shortname: 1,
        to,
        amount: amt,
      }

      const action = serializeToBuffer(obj, ...abi)

      payload.value = `${token.value.contract_address}${action.toString('hex')}`
      deserialized.value = {
        actionName: 'transfer',
        // arguments: { ...obj, invocationByte: undefined },
        arguments: obj,
      }
      // deserialized.value = { x: 'y' }

      // trigger up a WalletConfirm
      isWalletConfirm.value = true
    }

    return {
      showAdvanced,
      isConfirm: ref(true),
      isMpcToken,
      refRecipient,
      txtRecipientHint,
      txtRecipient,
      isLoading,
      txtAmount,
      txtNumberTag,
      txtMemo,
      balance,
      aryTokens,
      token,
      isWalletConfirm,
      selMpcToken,
      wallet: ref(store.getters.walletActive),
      payloadType,
      payload,
      deserialized,
      onRecipientCheck: () => {
        refRecipient.value.validate()
      },
      formatGasBalanceMB: computed(() => {
        return formatBytes(store.getters.getGasBalance)
      }),
      onMax: () => {
        const decimals = Number(token.value.contractState.decimals)
        txtAmount.value = new Big(balance.value).div(`1e${decimals}`).toFixed(decimals)
      },
      onWalletConfirmLoad: async () => {
        try {
          isLoading.value = true
          switch (props.tokenType) {
            case TOKEN_TYPE.MPC:
              await derivePayloadMPC()
              break
            case TOKEN_TYPE.ERC20:
              derivePayloadERC20()
              break
            case TOKEN_TYPE.BYOC:
              await derivePayloadByoc()
              break
            default:
              throw new Error(`Not implemented for tokenType: ${props.tokenType}`)
          }
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isLoading.value = false
        }
      },
      isValidNumber: (val) => {
        try {
          const amt = new Big(val)
          // num must be valid u64
          assert(amt.gte(0), 'not valid number tag')
          assert(amt.lt(new Big(2).pow(64)), 'not valid number tag')
        } catch (error) {
          return error.message.replace('[big.js] ', '')
        }
      },
      isValidMemo: (val) => {
        try {
          const buf = Buffer.from(val, 'utf8')
          assert(buf.toString('utf8') === val, 'not valid utf8 memo')
          assert(buf.length <= 256, 'memo too long')
        } catch (error) {
          return error.message
        }
      },
      isValidAmount: (val) => {
        try {
          const amt = new Big(val).times(`1e${token.value.contractState.decimals}`)
          // const amt = new Big(val)
          assert(amt.gt(0), 'Cannot send 0')
          assert(amt.lte(balance.value), 'You do not have enough balance')
          const decimals = Number(token.value.contractState.decimals)
          if (decimals === 0) {
            assert(amt.toString().indexOf('.') === -1, 'No decimals allowed for this token')
          } else {
            assert((amt.toString().split('.')[1]?.length || 0) <= decimals, 'Too many decimals')
          }
        } catch (error) {
          return error.message.replace('[big.js] ', '')
        }
      },
      isValidAddress: async (val) => {
        try {
          assert(val, 'please enter address, or twitter handle')
          txtRecipientHint.value = null
          // if it is a torus address
          if (val.includes('@')) {
            if (val.substr(0, 1) === '@') {
              assert(val.length > 1, 'please enter full twitter handle')
              // twitter
              const torus = new TorusUtils()
              const verifier = process.env.TORUS_VERIFIER_TWITTER

              const getTwitterId = async (username) => {
                try {
                  const { data } = await axios({
                    method: 'POST',
                    url: process.env.URL_TWITTER_USER,
                    data: { username },
                  })

                  return jsend.success(data)
                } catch (error) {
                  return jsend.error(error.response.data)
                }
              }
              const t = await getTwitterId(val.substr(1))
              const { id } = await promisify(jsend.forward)(t)
              if (process.env.DEV) console.log(id)
              const verifierId = `twitter|${id}`
              const { torusNodeEndpoints, torusNodePub } = await fetchNodeDetails().getNodeDetails()
              const publicAddress = await torus.getPublicAddress(torusNodeEndpoints, torusNodePub, { verifier, verifierId }, true)
              const { X, Y } = publicAddress
              const partisiaAddress = partisiaCrypto.wallet.walletFromXY({ x: X, y: Y })
              if (process.env.DEV) console.log('Torus Address', JSON.stringify(partisiaAddress, null, 2))

              txtRecipientHint.value = partisiaAddress.address
              return true
            } else {
              // No google for now
              return

              // google
              const torus = new TorusUtils()
              const verifier = process.env.TORUS_VERIFIER_GOOGLE
              const verifierId = val
              const { torusNodeEndpoints, torusNodePub } = await fetchNodeDetails().getNodeDetails()
              const publicAddress = await torus.getPublicAddress(torusNodeEndpoints, torusNodePub, { verifier, verifierId }, true)
              const { X, Y } = publicAddress
              const partisiaAddress = partisiaCrypto.wallet.walletFromXY({ x: X, y: Y })
              if (process.env.DEV) console.log('Torus Address', JSON.stringify(partisiaAddress, null, 2))

              txtRecipientHint.value = partisiaAddress.address
              return true
            }
          }

          return partisiaCrypto.wallet.isValidAddress(val) ? true : 'Address is not valid'
        } catch (error) {
          return error.message
        }
      },
      onSign: async (payload) => {
        await store.dispatch('routeChange', null)
        // try {
        //   const rpcAccount = PartisiaAccount(store.getters.networkActive.ary_urls)
        //   const { trxHash, isFinalOnChain } = payload
        //   assert(isFinalOnChain, 'transaction has been broadcasted but is not yet final on chain.  Please check mpcexplorer for more information')
        //   const res = await rpcAccount.getTransactionEventTrace(trxHash)
        //   assert(!res.hasError, res.errorMessage)
        //   $q.notify({ type: 'positive', message: 'Successful transaction. It can take a minute to reflect balances in wallet' })
        // } catch (error) {
        //   $q.notify({ type: 'negative', message: error.message })
        // } finally {
        //   // isWalletConfirm.value = false
        //   await store.dispatch('routeChange', null)
        // }
      },
      onReject: () => {
        isWalletConfirm.value = false
      },
    }
  },
  mounted() {},
})
</script>

<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: 'F37 Bolton';
  font-weight: 700;
  line-height: 100%;
}
</style>
