<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <template v-if="transactionResult !== null">
      <div v-if="transactionResult.hasError">
        <div class="q-pt-md column full-width items-center q-gutter-y-md">
          <q-img class="" src="~assets/error_x.png" :no-spinner="true" width="64px" height="64px" />
          <div class="title">Error has occurred</div>
          <div class="q-px-md full-width">
            <div class="row err-box full-width q-pa-sm">
              <q-icon name="las la-info-circle" class="self-center col-shrink q-pr-sm" size="sm" color="white" />
              <div class="text-white self-center col">{{ transactionResult.errorMessage }}</div>
            </div>
          </div>
          <div class="q-px-md full-width">
            Your transaction hash is:
            <div class="ellipsis">
              <b>
                {{ transactionResult.trxHash }}
              </b>
            </div>
          </div>

          <div class="q-pt-lg q-px-md full-width">
            <div class="full-width row justify-between q-pb-md">
              <div class="col-6 q-pr-xs">
                <q-btn class="btn-partisia-secondary full-width" no-caps @click="onTransactionUrl(transactionResult.trxHash)" label="View in Explorer" />
              </div>
              <div class="col-6 q-pl-xs">
                <q-btn class="btn-partisia-primary full-width" no-caps @click="onBack" label="Return" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="q-pt-md column full-width items-center q-gutter-y-md">
          <q-img class="" src="~assets/success_check.png" :no-spinner="true" width="64px" height="64px" />
          <div class="title">Transaction Successful</div>

          <div class="q-px-md full-width">
            Your transaction hash is:
            <div class="ellipsis">
              <b>
                {{ transactionResult.trxHash }}
              </b>
            </div>
          </div>

          <div class="q-pt-lg q-px-md full-width">
            <div class="full-width row justify-between q-pb-md">
              <div class="col-6 q-pr-xs">
                <q-btn class="btn-partisia-secondary full-width" no-caps @click="onTransactionUrl(transactionResult.trxHash)" label="View in Explorer" />
              </div>
              <div class="col-6 q-pl-xs">
                <q-btn class="btn-partisia-primary full-width" no-caps @click="onBack" label="Return" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <div class="dims-confirm" v-else-if="!isError">
      <div class="full-width row justify-center q-pt-md">
        <div class="column no-wrap">
          <div class="title">Confirm&nbsp;{{ payloadType === 'utf8' ? 'Sign' : 'Transaction' }}</div>
          <template v-if="payloadType !== 'utf8'">
            <q-circular-progress
              font-size="16px"
              class="full-width q-ma-md"
              size="60px"
              :thickness="0.25"
              :min="0"
              :max="timerMax"
              :value="timerMax - timeExpire"
              :color="timerColor"
              track-color="grey-3"
              show-value
            >
              <!-- {{ timeExpire }} -->
              <q-btn round no-caps style="font-family: 'F37 Bolton'" @click="onAddMoreTime">
                <q-avatar size="24px"> <q-icon name="las la-clock" /> </q-avatar
              ></q-btn>
            </q-circular-progress>
            <div v-if="timeExpire" class="title">Expires in {{ timeExpire }} seconds</div>
            <div v-else class="title">Expired</div>
          </template>
        </div>
      </div>
      <div v-if="payloadType !== 'utf8'" class="row full-width no-wrap">
        <q-expansion-item class="full-width" label="Edit Fee" style="font-weight: bold">
          <div class="q-px-md">
            <q-btn-toggle
              dense
              spread
              no-caps
              square
              v-model="selFee"
              @update:model-value="onGasFee($event)"
              toggle-color="secondary"
              unelevated
              class="gas-toggle"
              toggle-text-color="white"
              color="white"
              text-color="secondary"
              style="border: 1px solid #1d70ea"
              :options="[
                { label: 'Low', value: 'low' },
                { label: 'Med', value: 'med' },
                { label: 'High', value: 'high' },
                { label: 'Custom', value: 'custom' },
              ]"
            >
            </q-btn-toggle>
            <div class="q-my-md" style="font-weight: normal">
              <template v-if="selFee === 'custom'">
                <q-input
                  type="number"
                  borderless
                  class="input-frm q-px-md"
                  hide-bottom-space
                  placeholder="Number of Bytes"
                  v-model="txtJson.inner.cost"
                  @update:model-value="refreshTransactionBytes"
                  dense
                >
                  <template v-slot:append><span style="font-size: 12px">Bytes</span></template></q-input
                >
              </template>
            </div>
          </div>
        </q-expansion-item>
      </div>
      <div class="q-gutter-y-xs q-px-md tx-info">
        <div class="row full-width no-wrap justify-between">
          <div class="col">Network</div>
          <div class="col-grow">{{ network.name }}</div>
        </div>
        <div class="row full-width no-wrap justify-between">
          <div class="col">From</div>
          <div class="col-grow">{{ meta.address.substring(0, 5) }}...{{ meta.address.substring(37) }}</div>
        </div>
        <div v-if="payloadType !== 'utf8'" class="row full-width no-wrap justify-between">
          <div class="col">To</div>
          <div class="col-grow">{{ txtJson.header.contract.substring(0, 5) }}...{{ txtJson.header.contract.substring(37) }}</div>
        </div>
        <div class="row full-width no-wrap justify-between">
          <div class="col">Gas Fee</div>
          <div class="col-grow">{{ getPaying }}</div>
        </div>
        <div class="row full-width no-wrap justify-between">
          <div class="col">Gas Available</div>
          <div class="col-grow">{{ getTotalGas }}</div>
        </div>
      </div>
      <q-expansion-item class="full-width" label="Technical information" style="font-weight: bold">
        <div class="q-px-md">
          <q-btn-toggle
            dense
            spread
            no-caps
            square
            class="vertical-toggle"
            v-model="selTechnicalInfo"
            toggle-color="secondary"
            unelevated
            toggle-text-color="white"
            color="white"
            text-color="secondary"
            style="border: 1px solid #1d70ea"
            :options="
              payloadType !== 'utf8'
                ? [
                    { label: 'Preview', value: 'preview' },
                    { label: 'JSON', value: 'json' },
                    { label: 'Bytes', value: 'bytes' },
                  ]
                : [
                    { label: 'Preview', value: 'preview' },
                    { label: 'Bytes', value: 'bytes' },
                  ]
            "
          >
          </q-btn-toggle>
          <div class="q-my-md" style="font-weight: normal">
            <template v-if="selTechnicalInfo === 'preview'">
              <div v-if="payloadType === 'utf8'">
                <q-card flat :bordered="false" class="card-tech-info">
                  <q-card-section>
                    <div>
                      {{ payload }}
                    </div>
                  </q-card-section>
                </q-card>
              </div>
              <div v-else>
                <q-card flat :bordered="false" class="card-tech-info">
                  <q-card-section>
                    <template v-if="typeof getPreviewText === 'string'">
                      <div class="">{{ getPreviewText }}</div>
                    </template>
                    <template v-else>
                      <q-list dense>
                        <q-item v-for="(item, idx) in getPreviewText" :key="idx" style="padding: 0 0 4px 0">
                          <q-item-section>
                            <q-item-label>{{ item.key }}</q-item-label>
                            <q-item-label caption>
                              <pre class="ellipsis">{{ item.value }}</pre>
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </template>
                  </q-card-section>
                </q-card>
              </div>
            </template>
            <template v-else-if="selTechnicalInfo === 'json'">
              <q-card flat :bordered="false" class="card-tech-info">
                <div class="row items-center no-wrap">
                  <div class="col q-px-md">
                    <pre class="json-preview ellipsis">{{ txtJson }}</pre>
                  </div>
                  <div class="col-auto self-start">
                    <q-btn color="grey-7" round flat icon="las la-copy" size="sm" @click="onCopyJSON" />
                  </div>
                </div>
              </q-card>
            </template>
            <template v-else-if="selTechnicalInfo === 'bytes'">
              <q-card flat :bordered="false" class="card-tech-info">
                <div class="row items-center no-wrap">
                  <div class="col q-px-md">
                    <pre class="json-preview ellipsis">{{ txtBytes }}</pre>
                  </div>
                  <div class="col-auto self-start">
                    <q-btn color="grey-7" round flat icon="las la-copy" size="sm" @click="onCopyBytes" />
                  </div>
                </div>
              </q-card>
            </template>
          </div>
        </div>
      </q-expansion-item>
      <div>
        <div class="full-width row justify-between q-pb-md q-px-md">
          <div class="col-6 q-pr-xs">
            <q-btn class="full-width btn-partisia-secondary" no-caps label="Reject" :disable="isBroadcasting" outline @click="onReject" />
          </div>
          <div class="col-6 q-pl-xs">
            <!-- <ledger-connect v-if="isLedger" label="Send to Ledger" :ledger-bytes="ledgerBytes" @onSign="onSign" /> -->
            <q-btn v-if="payloadType === 'utf8'" no-caps class="full-width btn-partisia-primary" label="Sign" @click="onSign()" />
            <q-btn
              v-else
              no-caps
              :loading="isBroadcasting"
              :disable="modeEdit || isBroadcasting || timeExpire === 0 || errMsg.length > 0 || isOutOfGas"
              class="full-width btn-partisia-primary"
              label="Confirm"
              @click="onSign"
            >
            </q-btn>
          </div>
        </div>
        <div v-if="!isLoading && (isOutOfGas || errMsg)" class="full-width q-px-sm q-mt-sm">
          <div class="row err-box full-width q-pa-sm">
            <q-icon name="las la-info-circle" class="self-center col-shrink q-pr-sm" size="sm" color="white" />
            <div class="text-white self-center col">{{ errMsg.length > 0 ? errMsg : 'Not Enough Gas' }}</div>
          </div>
        </div>
      </div>
      <q-inner-loading :showing="isLoading">
        <q-spinner-gears size="50px" color="primary" />
      </q-inner-loading>
    </div>
  </transition>
</template>

<script>
import { defineComponent, ref, onMounted, onBeforeMount, onUnmounted, computed } from 'vue'
import { useStore, mapGetters } from 'vuex'
import { useQuasar, copyToClipboard, openURL } from 'quasar'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import { PartisiaAccount, PartisiaRpc } from 'partisia-blockchain-applications-rpc'
import { broadcastTransactionPoller, formatBytes, getCoinBalances, publicContractActionToObject, triggerWalletRefresh } from 'src/boot/landing'
import assert from 'assert'
import tocase from 'to-case'
import { Big } from 'big.js'
import { sign, decode_keystore } from 'partisia-rust-keystore'
import LedgerConnect from './LedgerConnect.vue'
import { Console } from 'console'
import { EnumTrasactionPrefix } from 'ledger-mpc-app'

export default defineComponent({
  components: {
    // LedgerConnect,
  },
  name: 'WalletConfirm',
  emits: ['onSign', 'onReject'],
  props: {
    metaData: {
      required: false,
      type: Object,
    },
    networkData: {
      required: false,
      type: Object,
    },
    payload: {
      required: true,
      type: String,
    },
    payloadType: {
      required: true,
      type: String,
    },
    dontBroadcast: {
      required: true,
      type: Boolean,
    },
    wallet: {
      required: true,
      type: Object,
    },
    fromWallet: {
      type: Boolean,
      default: false,
    },
    deserialized: {
      required: false,
      type: Object,
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const isError = ref(false)
    const isLoading = ref(true)
    const txtJson = ref(null)
    const txtBytes = ref(null)
    const hardwarePrefix = ref(0)
    const isLedger = ref(props.wallet.hardwareWallet === 'ledger')
    const timeExpire = ref(null)
    const interval = ref(null)
    const isBroadcasting = ref(null)
    const isAutomaticallyBroadcasted = ref(false)
    const modeEdit = ref(false)
    const urlBroadcast = ref(null)
    const gasBalance = ref('0')
    const errMsg = ref('')
    const ledgerBytes = computed(() => Buffer.concat([Buffer.from([hardwarePrefix.value]), Buffer.from(txtBytes.value?.serializedTransaction || '', 'hex')]))
    const selFee = ref('med')
    const selTechnicalInfo = ref('preview')
    const transactionResult = ref(null)
    // const transactionResult = ref({
    //   signature: '003a3f0c47c4b0aecf74e78b8c6b07aa30eba77bbc0397d188ac2e795cdef9e36404b6e2fb9cdc536057aea862b2f6e27305e19de9e86ce54085ab1508be1b2611',
    //   serializedTransaction: '000000000000002e00000189cd5016db00000000000003e80100a7e41597691d4a46b1871a6d82b32c9a8329b50000001163000000000000000000000000000f4240',
    //   digest: '9e9a411a6c4ac68fcc1cbe300adec5fb8eee82df3b30f7742d77c29c51f77af1',
    //   trxHash: '546bd8df8a00de8a311129a9204491a55795e99ee06f1c21c2e29d3be2912beb',
    //   isFinalOnChain: true,
    //   hasError: true,
    //   eventTrace: [
    //     {
    //       shardId: 1,
    //       txHash: 'a5ae5e4875c011d97cd3401e9856dbc99998e384b7ccd7886c6946c5036aca48',
    //     },
    //   ],
    //   errorMessage: 'Contract does not exist',
    // })

    const meta = ref(
      props.metaData || {
        address: store.getters.accountActive.address,
        chainId: store.getters.networkActive.chainId,
        dappName: null,
        origin: null,
        permissions: null,
        favIconUrl: null,
      }
    )
    const network = ref(props.networkData || store.getters.networkActive)

    onUnmounted(() => {
      clearInterval(interval.value)
    })
    onMounted(() => {
      interval.value = setInterval(() => {
        if (txtJson.value) {
          timeExpire.value = Math.max(0, Math.ceil((new Date(txtJson.value.inner.validTo).getTime() - Date.now()) / 1000))
        }
      }, 250)
    })
    onBeforeMount(async () => {
      try {
        const { payload, payloadType, dontBroadcast } = props
        if (process.env.DEV) console.log(JSON.stringify(props, null, 2))

        if (payloadType === 'utf8') {
          hardwarePrefix.value = store.getters.isTestnet ? EnumTrasactionPrefix.SIGN_UTF8_TESTNET : EnumTrasactionPrefix.SIGN_UTF8
          // deserialize
          const serializedTransaction = Buffer.from(payload, payloadType)
          const digest = partisiaCrypto.transaction.deriveDigest(meta.value.chainId, serializedTransaction)
          txtBytes.value = { serializedTransaction: serializedTransaction.toString('hex'), digest: digest.toString('hex') }
          txtJson.value = {
            header: {},
            inner: {
              cost: 0,
            },
          }
        } else if (['hex', 'hex_payload'].includes(payloadType)) {
          hardwarePrefix.value = store.getters.isTestnet ? EnumTrasactionPrefix.SIGN_TRANSACTION_TESTNET : EnumTrasactionPrefix.SIGN_TRANSACTION
          if (payloadType === 'hex') {
            const serializedTransaction = Buffer.from(payload, 'hex')
            txtJson.value = { chainId: meta.value.chainId, ...partisiaCrypto.transaction.deserializeTransactionPayload(serializedTransaction, false) }
            timeExpire.value = Math.ceil((new Date(txtJson.value.inner.validTo).getTime() - Date.now()) / 1000)
            selFee.value = 'custom'
          } else if (payloadType === 'hex_payload') {
            const contract = payload.substring(0, 42)
            const bufPayload = Buffer.from(payload.substring(42), 'hex')

            const header = { contract, payload_length: bufPayload.length }
            const inner = {
              // nonce: null, // intentionally no nonce, it gets set below
              validTo: new Date(Date.now() + store.getters.getOptions.transactionValidTimeout * 1000).toISOString(),
              cost: null,
            }

            txtJson.value = {
              chainId: meta.value.chainId,
              header: header,
              inner: inner,
              payload: bufPayload.toString('hex'),
              deserialized: props.deserialized ? props.deserialized : partisiaCrypto.structs.deserializePayloadData(bufPayload, contract),
            }
            // set gas fee to med
            // add 49 for size of header and inner
            calcGasFee('med', bufPayload.length + 49)
          }
          isAutomaticallyBroadcasted.value = dontBroadcast === undefined ? true : !dontBroadcast

          // if there is no deserialized object but it is a public contact then attempt to fetch abi and deserialize it now
          try {
            const addressContract = txtJson.value.header.contract
            if (!props.deserialized && parseInt(addressContract.substr(0, 2), 16) === 2) {
              const aryUrls = network.value.ary_urls
              const rpcAccount = PartisiaAccount(aryUrls, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })
              const shardIdx = rpcAccount.deriveShardId(addressContract)
              const contractData = await rpcAccount.getContract(addressContract, shardIdx)

              const abiBuf = Buffer.from(contractData.data.abi, 'base64')
              txtJson.value.deserialized = publicContractActionToObject(abiBuf, txtJson.value.payload)
            }
          } catch (error) {
            console.error('unable to deserialized action', error.message)
          }

          // do validations
          try {
            // refresh account info to get nonce and gas balance
            const address = meta.value.address
            const aryUrls = network.value.ary_urls
            const rpcAccount = PartisiaAccount(aryUrls, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })
            const account = await rpcAccount.getAccount(address, store.getters.walletBalances[address]?.account?.shard_id)
            assert(account, 'This account does not exist on chain yet.')

            urlBroadcast.value = rpcAccount.getShardUrl(account.shard_id)
            const nonce = await rpcAccount.getNonce(address, account.shard_id)
            if (process.env.DEV) console.log('account', JSON.stringify(account, null, 2))
            const accountInfo = await getCoinBalances(rpcAccount, address, account.shard_id)
            if (process.env.DEV) console.log('accountInfo', JSON.stringify(accountInfo, null, 2))

            if (payloadType === 'hex_payload') {
              txtJson.value.inner.nonce = nonce
            }
            assert(txtJson.value.inner.nonce == nonce, 'account nonce mismatch')
            // set new txtBytes
            refreshTransactionBytes()

            gasBalance.value =
              accountInfo.balances
                .map((b) => new Big(b.balance).times(b.conversion.numerator).div(b.conversion.denominator))
                .reduce((pv, cv, idx) => pv.plus(cv), new Big(0))
                .toFixed(0) || '0'
            // assert(new Big(txtJson.value.inner.cost).lte(gasBalance), 'You do not have enough gas to cover the cost.')
          } catch (error) {
            errMsg.value = error.message
          }
        } else {
          throw new Error(`Unknown payloadType ${payloadType}`)
        }
      } catch (error) {
        isError.value = true
        $q.notify({ type: 'negative', message: error.message })
      } finally {
        isLoading.value = false
      }
    })

    const getWif = async (bufDigest) => {
      return new Promise((resolve, reject) => {
        if (props.wallet.privateKey) {
          try {
            const sig = sign(JSON.stringify(keystore), Buffer.from(props.wallet.privateKey, 'hex'), bufDigest)
            resolve(Buffer.from(sig))
          } catch (msg) {
            reject({ message: msg })
          }
          // return resolve(props.wallet.privateKey)
        }
        const { keystore, pub } = props.wallet
        const isWalletHD = pub.substr(0, 4) === 'xpub'
        // get the wif
        $q.dialog({
          // title:'Unlock Wallet',
          seamless: true,
          message: 'Please Enter Wallet Password',
          position: 'bottom',
          prompt: {
            model: '',
            isValid: (val) => val.length > 0,
            type: 'password',
            outlined: true,
            standout: true,
            square: true,
            color: 'secondary',
          },
          color: 'secondary',
          cancel: true,
          persistent: true,
        })
          .onOk(async (walletPassword) => {
            try {
              // For mnemonic HD wallets use idx of 0
              // For legacy private key only wallets use null or undefined
              let idxHd = isWalletHD ? 0 : null
              const sig = sign(JSON.stringify(keystore), Buffer.from(walletPassword), bufDigest, idxHd)
              resolve(Buffer.from(sig))
            } catch (msg) {
              reject({ message: msg })
            }
          })
          .onCancel(() => {
            reject({ message: 'user cancel' })
          })
          .onDismiss(() => {
            reject({ message: 'user cancel' })
          })
      })
    }

    const refreshTransactionBytes = () => {
      const dataInner = txtJson.value.inner
      const dataHeader = txtJson.value.header
      const dataPayload = Buffer.from(txtJson.value.payload, 'hex')
      const serializedTransaction = partisiaCrypto.transaction.serializedTransaction(dataInner, dataHeader, dataPayload)
      const digest = partisiaCrypto.transaction.deriveDigest(meta.value.chainId, serializedTransaction)
      txtBytes.value = { serializedTransaction: serializedTransaction.toString('hex'), digest: digest.toString('hex') }
    }
    const calcGasFee = (type, byteSize) => {
      // how many bytes is serializedTransaction
      // add 65 for signature length
      const bytes = (byteSize ?? Buffer.from(txtBytes.value.serializedTransaction, 'hex').length) + 65
      const cpu = bytes * 5 + 5000
      // The error message indicates that it tried to use 2500 gas, but only 2255 was available at that point.
      // Off the top of my head the fee should be set to `5*"size of signed transaction" + 5000`.
      // The 5000 is 2500 in CPU for the Synaps contract and 2500 to pay for the event sent to the BPO contract.

      if (type === 'low') txtJson.value.inner.cost = String(cpu * 1)
      else if (type === 'med') txtJson.value.inner.cost = String(Math.ceil(cpu * 1.5))
      else if (type === 'high') txtJson.value.inner.cost = String(cpu * 2)
    }
    return {
      isLedger,
      isBroadcasting,
      timeExpire,
      interval,
      isLoading,
      refreshTransactionBytes,
      meta,
      txtJson,
      txtBytes,
      network,
      modeEdit,
      gasBalance,
      errMsg,
      ledgerBytes,
      isError,
      selFee,
      selTechnicalInfo,
      tabPreview: ref('preview'),
      transactionResult,
      onTransactionUrl: async (txHash) => {
        await store.dispatch('routeChange', null)
        const link = store.getters.isTestnet ? store.getters.getOptions.blockExplorerTransactionTestnet : store.getters.getOptions.blockExplorerTransaction
        const url = new URL(link.replace('{0}', txHash))
        openURL(url.href)
      },
      onBack: async () => {
        context.emit('onSign', transactionResult.value)
      },
      timerColor: computed(() => {
        if (timeExpire.value > 15) {
          return 'primary'
        }
        if (timeExpire.value > 5) {
          return 'amber'
        }
        return 'red'
      }),
      timerMax: computed(() => Math.ceil((new Date(txtJson.value.inner.validTo).getTime() - Date.now()) / 1000)),
      isOutOfGas: computed(() => {
        if (props.payloadType === 'utf8') return false
        return new Big(txtJson?.value?.inner?.cost || 0).gt(gasBalance.value)
      }),
      getPaying: computed(() => {
        return formatBytes(txtJson?.value?.inner?.cost)
      }),
      getTotalGas: computed(() => {
        return formatBytes(gasBalance.value)
      }),
      getPreviewText: computed(() => {
        try {
          if (!txtJson.value) return ''
          if (process.env.DEV) console.log('txtJson', JSON.stringify(txtJson.value, null, 2))
          const payload = txtJson.value.deserialized
          if (payload && typeof payload === 'object') {
            // convert obj to array
            const ary = []
            for (const key of Object.keys(payload)) {
              const val = payload[key]
              ary.push({ key: tocase['capital'](key), value: typeof val === 'object' ? JSON.stringify(val, null, 2) : val })
            }
            return ary
          } else {
            return 'No Preview Available. Check other tabs.'
          }
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
          return ''
        }
      }),
      onPrettify: () => {
        setTimeout(() => {
          PR.prettyPrint()
        }, 10)
      },
      onSaveCustomFee: () => {
        modeEdit.value = false

        // set new txtBytes
        refreshTransactionBytes()
      },
      onAddMoreTime: () => {
        txtJson.value.inner.validTo = new Date(Date.now() + store.getters.getOptions.transactionValidTimeout * 1000).toISOString()

        // set new txtBytes
        refreshTransactionBytes()
      },
      onGasFee: (type) => {
        calcGasFee(type)
        refreshTransactionBytes()
      },
      onCopyJSON: () => {
        copyToClipboard(JSON.stringify(txtJson.value, null, 2))
          .then(() => {
            $q.notify({ type: 'positive', message: 'copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
      onCopyBytes: () => {
        copyToClipboard(JSON.stringify(txtBytes.value, null, 2))
          .then(() => {
            $q.notify({ type: 'positive', message: 'copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
      onReject: () => {
        context.emit('onReject')
      },
      onSign: async (sigPartisia) => {
        // get the wif
        try {
          isBroadcasting.value = true
          const { serializedTransaction, digest } = txtBytes.value
          const bufDigest = Buffer.from(digest, 'hex')
          const sig = typeof sigPartisia === 'string' ? Buffer.from(sigPartisia, 'hex') : await getWif(bufDigest)
          const bufTransaction = Buffer.from(serializedTransaction, 'hex')

          // const sig = partisiaCrypto.wallet.signTransaction(bufDigest, wif)
          const signature = sig.toString('hex')

          const trxHash = partisiaCrypto.transaction.getTrxHash(bufDigest, sig)
          if (process.env.DEV) console.log('trxHash', trxHash)
          const objPayload = { signature, serializedTransaction, digest, trxHash, isFinalOnChain: false, hasError: false, eventTrace: [], errorMessage: '' }

          if (isAutomaticallyBroadcasted.value) {
            const trx = partisiaCrypto.transaction.getTransactionPayloadData(bufTransaction, sig)
            if (process.env.DEV) console.log('trx broadcast', trx)
            const rpc = PartisiaRpc({ baseURL: urlBroadcast.value }, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })
            const res = await rpc.broadcastTransaction(trx)
            assert(res, 'Unknown Error')
            const isFinalOnChain = await broadcastTransactionPoller(trxHash, rpc)
            // check for errors
            objPayload.isFinalOnChain = isFinalOnChain
            if (isFinalOnChain) {
              const aryUrls = network.value.ary_urls
              const rpcAccount = PartisiaAccount(aryUrls, { auth_key: 'qMZNSjEq8hLderpxWfgIB28qPkfotSm3hbpR7Zjh' })

              const x = await rpcAccount.getTransactionEventTrace(trxHash)
              objPayload.hasError = x.hasError
              objPayload.errorMessage = x.errorMessage || ''
              objPayload.eventTrace = x.eventTrace
            } else {
              objPayload.hasError = true
              objPayload.errorMessage = 'blockchain not sending confirmation message, please check transaction hash on browser'
            }

            // refresh the wallet
            triggerWalletRefresh(store, { isRepeat: false })
            transactionResult.value = objPayload
          } else {
            context.emit('onSign', objPayload)
          }
          if (process.env.DEV) console.log('objPayload', JSON.stringify(objPayload, null, 2))

          // context.emit('onSign', objPayload)
        } catch (error) {
          isBroadcasting.value = false
          $q.notify({ type: 'negative', message: error.message })
        }
      },
    }
  },
})
</script>
<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}
.tx-info {
  color: var(--black, #000);
  font-family: 'F37 Bolton';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  div > div:nth-child(2) {
    font-weight: 700;
  }
}
.err-box {
  border-radius: 0px;
  background: #e8505b;
}
.card-tech-info {
  border: 1px solid var(--Blue, #1d70ea);
  background: var(--Blue-10, #ecf1ff);
  border-radius: 0px;
}
pre.ellipsis {
  white-space: pre;
  overflow-wrap: break-word;
}
.json-preview {
  color: var(--black, #000);
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}
</style>
