<template>
  <!-- <q-btn v-if="!isLedger || isApproved" flat no-caps icon="las la-copy" label="Copy to Clipboard" @click="onCopyAddress" />
  <ledger-connect v-if="isLedger && !isApproved" label="Confirm Address on Ledger" @onAddress="isApproved = true" :show-address="true" /> -->
  <div class="title q-py-md">Receive</div>
  <div class="container" style="margin: 0 50px">
    <div class="row justify-center box">
      <q-img :src="qrReceive" ratio="1" no-spinner />
    </div>

    <div class="corner-circle top-left"></div>
    <div class="corner-circle top-right"></div>
    <div class="corner-circle bottom-left"></div>
    <div class="corner-circle bottom-right"></div>
  </div>

  <div class="row full-width q-px-md q-gutter-y-sm q-mt-md">
    <div class="t">Your Partisia Blockchain address</div>
    <q-field dense borderless class="input-frm t full-width self-end" style="text-align: right">
      <template v-slot:control>
        <div class="self-center full-width no-outline text-center">{{ accountAddress }}</div>
      </template>
    </q-field>
    <q-btn color="primary" class="full-width text-bold" text-color="black" no-caps label="Copy to Clipboard" @click="onCopyAddress" />
  </div>
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'
import { useStore, mapGetters } from 'vuex'
import { useQuasar, openURL, copyToClipboard } from 'quasar'
import QRCode from 'qrcode'
import LedgerConnect from './LedgerConnect.vue'

export default defineComponent({
  components: {
    // LedgerConnect,
  },
  name: 'WalletReceive',
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const qrReceive = ref(null)
    const accountAddress = ref(store.getters.accountActive.address)
    const isLedger = ref(store.getters.walletActive?.hardwareWallet === 'ledger')
    const isApproved = ref(false)

    QRCode.toDataURL(accountAddress.value, {
      errorCorrectionLevel: 'H',
      type: 'image/png',
      width: 300,
      color: {
        dark: '#1d70eaFF',
        light: '#0000',
      },
      scale: 1,
    }).then((qr) => {
      qrReceive.value = qr
    })

    return {
      accountAddress,
      qrReceive,
      isLedger,
      isApproved,
      onCopyAddress: () => {
        copyToClipboard(accountAddress.value)
          .then(() => {
            $q.notify({ type: 'positive', message: 'address copied to clipboard' })
          })
          .catch(() => {
            $q.notify({ type: 'negative', message: 'unable to access clipboard' })
          })
      },
    }
  },
})
</script>

<style lang="scss" scoped>
.title {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: 'F37 Bolton';
  font-weight: 700;
  line-height: 100%;
}
.box {
  border: 1px solid #1d70ea;
  background: var(--Blue-10, #ecf1ff);
}
.t {
  color: var(--black-50, rgba(0, 0, 0, 0.5));
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
}
</style>
