<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
    <div v-if="isLocked">
      <div class="q-pa-md">
        <div class="text-subtitle2 q-mb-md">Before Importing a new Account, please confirm your password</div>
        <FormPassword @onUnlock="onPassword" />
      </div>
    </div>
    <div v-else class="q-pa-md">
      <ImportAccount :walletPassword="walletPassword" @onImportAccount="onImport" />
    </div>
  </transition>
</template>

<script>
import { useQuasar } from 'quasar'
import { defineComponent, ref } from 'vue'
import { useStore } from 'vuex'
import FormPassword from 'src/components/FormPassword.vue'
import ImportAccount from 'src/components/WelcomeSteps/ImportAccount.vue'
import assert from 'assert'
import { is_keystore_password } from 'partisia-rust-keystore'

export default defineComponent({
  name: 'WalletImport',
  components: {
    FormPassword,
    ImportAccount,
  },
  props: {
    password: { type: String, required: false },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    // const globalProperties = app.appContext.config.globalProperties

    const isWalletUnlocking = ref(false)
    const isLocked = ref(props.password ? false : true)
    const walletPassword = ref(isLocked.value ? null : props.password)
    return {
      walletPassword,
      isWalletUnlocking,
      isLocked,
      onPassword: (v) => {
        try {
          walletPassword.value = v
          isWalletUnlocking.value = true
          const walletState = store.getters.walletState
          const keystore = walletState.find((x) => x.keystore !== null).keystore
          const is_valid = is_keystore_password(JSON.stringify(keystore), Buffer.from(walletPassword.value))
          assert(is_valid, 'Incorrect Password')
          isLocked.value = false
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isWalletUnlocking.value = false
        }
      },
      onImport: async (v, cb) => {
        const res = await $q.bex.send('wallet.create', v)
        cb(res.data)
      },
    }
  },
})
</script>
