<template>
  <q-page class="welcome-page" v-if="isShowTerms">
    <LicenseTerms @onBack="isShowTerms = false" />
  </q-page>
  <q-page class="welcome-page q-pa-lg" v-else-if="walletType === null">
    <Landing @onClick="onWallet" />
  </q-page>

  <q-page class="welcome-page" v-else>
    <div class="">
      <!-- header box -->
      <div class="nav-bar q-pt-md q-px-md">
        <div class="nav-bar-title">
          <span v-if="walletType === 'walletNew'"> Create new wallet {{ step }}/5 </span>
          <span v-else> Import an account {{ step }}/3 </span>
        </div>
        <div class="row full-width justify-between q-mt-xs">
          <div class="circle" v-bind:class="{ active: step >= 1 }" v-bind:style="{ width: walletType === 'walletRestore' ? '106px' : '' }"></div>
          <div class="circle" v-bind:class="{ active: step >= 2 }" v-bind:style="{ width: walletType === 'walletRestore' ? '106px' : '' }"></div>
          <div class="circle" v-bind:class="{ active: step >= 3 }" v-bind:style="{ width: walletType === 'walletRestore' ? '106px' : '' }"></div>
          <div v-if="walletType === 'walletNew'" class="circle" v-bind:class="{ active: step >= 4 }"></div>
          <div v-if="walletType === 'walletNew'" class="circle" v-bind:class="{ active: step >= 5 }"></div>
        </div>
      </div>
      <q-stepper v-if="walletType === 'walletNew'" class="stepper" header-class="hidden" :bordered="false" :flat="true" v-model="step" ref="stepper" contracted color="primary" animated>
        <q-step title="" :name="1" :done="step > 1">
          <CreatePassword @onLicenseTerms="onViewTerms" @onPassword="onPassword" />
        </q-step>
        <q-step title="" :name="2" :done="step > 2">
          <AnyoneWatching @on-back="step = 1" @on-next="step = 3" />
        </q-step>
        <q-step title="" :name="3">
          <Mnemonic :walletPassword="walletPassword" @onWalletEncrypted="onMnemonic" />
        </q-step>
        <q-step title="" :name="4">
          <ConfirmMnemonic @onMnemonicConfirm="onMnemonicConfirm" :mnemonic="mnemonic" />
        </q-step>
        <q-step title="" :name="5">
          <CompleteSignUp @onCompleteSignUp="onCompleteSignUp" />
        </q-step>
      </q-stepper>
      <q-stepper v-else class="stepper" header-class="hidden" :bordered="false" :flat="true" v-model="step" ref="stepper" contracted color="primary" animated>
        <q-step title="" :name="1" :done="step > 1">
          <ImportAccount @onImportAccount="onImportAccount" wallet-password="x" />
        </q-step>
        <q-step title="" :name="2" :done="step > 2">
          <CreatePassword @onLicenseTerms="onViewTerms" @onPassword="onPasswordRestore" />
        </q-step>
        <q-step title="" :name="3" :done="step > 3">
          <CompleteSignUp @onCompleteSignUp="onCompleteSignUp" />
        </q-step>
      </q-stepper>
    </div>
  </q-page>
</template>

<script>
import { ref, onMounted, getCurrentInstance } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import Landing from 'src/components/WelcomeSteps/Landing.vue'
import CreatePassword from 'src/components/WelcomeSteps/CreatePassword.vue'
import ImportAccount from 'src/components/WelcomeSteps/ImportAccount.vue'
import Mnemonic from 'src/components/WelcomeSteps/Mnemonic.vue'
import ConfirmMnemonic from 'src/components/WelcomeSteps/ConfirmMnemonic.vue'
import AnyoneWatching from 'src/components/WelcomeSteps/AnyoneWatching.vue'
import CompleteSignUp from 'src/components/WelcomeSteps/CompleteSignUp.vue'
import LicenseTerms from 'src/components/LicenseTerms.vue'
import { partisiaCrypto } from 'partisia-blockchain-applications-crypto'
import { randomBytes } from 'crypto'
import assert from 'assert'
import { decode_keystore, generate_keystore } from 'partisia-rust-keystore'

export default {
  components: {
    Landing,
    CreatePassword,
    ImportAccount,
    LicenseTerms,
    AnyoneWatching,
    Mnemonic,
    CompleteSignUp,
    ConfirmMnemonic,
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const step = ref(1)
    const mnemonic = ref('')
    const walletPassword = ref(null)
    const isShowTerms = ref(false)
    const walletType = ref(null)
    var walletEncrypted = null

    //////////////////////////
    // This is for DEV
    //////////////////////////
    // walletType.value = 'walletNew'
    // step.value = 4
    //////////////////////////
    return {
      mnemonic,
      step,
      walletType,
      isShowTerms,
      walletPassword,
      onViewTerms() {
        isShowTerms.value = true
      },
      onPassword: (v) => {
        walletPassword.value = v
        const stepper = app.refs.stepper
        stepper.next()
      },
      onPasswordRestore: async (v) => {
        const keystore = walletEncrypted.keystore
        const data = decode_keystore(JSON.stringify(keystore), Buffer.from('x'))

        const rng_salt = Buffer.from(randomBytes(32))
        const rng_iv = Buffer.from(randomBytes(16))
        const ptrKeystore = generate_keystore(Buffer.from(data), Buffer.from(v), rng_salt, rng_iv)
        walletEncrypted.keystore = {
          salt: rng_salt.toString('hex'),
          iv: rng_iv.toString('hex'),
          cipher: Buffer.from(ptrKeystore.get_cipher).toString('hex'),
          mac: Buffer.from(ptrKeystore.get_mac).toString('hex'),
        }
        ptrKeystore.free()

        const stepper = app.refs.stepper
        stepper.next()
      },
      onNext: () => {
        const stepper = app.refs.stepper
        stepper.next()
      },
      onBack: async () => {
        const stepper = app.refs.stepper
        stepper.previous()
        if (step.value === 1) {
          await store.dispatch('resetStateOptions')
          await store.dispatch('resetStateRoutes')
          await store.dispatch('resetStateWallet')
          await store.dispatch('resetStateChain')
        }
      },
      onWallet: async (v) => {
        walletType.value = v
      },
      onMnemonic: (v) => {
        walletEncrypted = v

        // get the mnemonic back out
        const keystore = walletEncrypted.keystore
        const data = decode_keystore(JSON.stringify(keystore), Buffer.from(walletPassword.value))
        const entropy = Buffer.from(data).toString('hex')
        mnemonic.value = partisiaCrypto.wallet.entropyToMnemonic(entropy)

        if (process.env.DEV) console.log('walletEncrypted', walletEncrypted)
        const stepper = app.refs.stepper
        stepper.next()
      },
      onMnemonicConfirm: (v) => {
        try {
          // const keystore = walletEncrypted.keystore
          // const data = decode_keystore(JSON.stringify(keystore), Buffer.from(walletPassword.value))
          // const entropy = Buffer.from(data).toString('hex')
          // const mnemonicPhrase = partisiaCrypto.wallet.entropyToMnemonic(entropy)

          // if (process.env.DEV) console.log('mnemonic', mnemonicPhrase)
          if (process.env.DEV) console.log('mnemonic', mnemonic.value)
          if (process.env.DEV) console.log('mnemonic confirm', v)
          // assert(v === mnemonicPhrase || process.env.DEV, 'mnemonic mismatch')
          assert(v === mnemonic.value || process.env.DEV, 'mnemonic mismatch')

          const stepper = app.refs.stepper
          stepper.next()
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onImportAccount: (v) => {
        if (process.env.DEV) console.log(v)
        walletEncrypted = v
        const stepper = app.refs.stepper
        stepper.next()
      },
      onCompleteSignUp: async () => {
        const res = await $q.bex.send('wallet.create', walletEncrypted)
        await store.dispatch('walletLoggedIn', true)
        if (process.env.DEV) console.log('res.data', res.data)

        if (res.data.error) {
          // TODO need to display this
          $q.notify(res.data.error)
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.nav-bar {
  // position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
}
.nav-bar-title {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.icon-back {
  color: #bdbdbd;
  left: 16px;
  top: 23px;
  cursor: pointer;
}
.circle {
  width: 63px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}
.circle.active {
  background-color: #1d70ea;
}
.circle:first-child {
  border-radius: 3px 0px 0px 3px;
}
.circle:last-child {
  border-radius: 0px 3px 3px 0px;
}
.stepper {
  // padding-top: 66px;

  background-color: white;
}
.welcome-page {
  background-color: white;
}
</style>
