// app global css in SCSS form
@font-face {
    font-family: 'F37 Bolton';
    src: url(./fonts/F37Bolton-Bold-Web/F37Bolton-Bold/F37Bolton-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url(./fonts/F37Bolton-Regular-Web/F37Bolton-Regular/F37Bolton-Regular.woff);
    font-weight: normal;
}

.q-footer {
    width: 360px;
    margin: 0 auto 22px auto;
}

// app global css in SCSS form
#q-app {
    margin: 0 auto;
    width: 360px;
    min-height: 600px;
    background-color: #ffffff;
    font-family: 'F37 Bolton';
    overflow-x: hidden;
}

.btn-partisia-primary {
    background: #61E66F;
    border-radius: 0px;
    color: #000;
    font-weight: 700;
}

.btn-partisia-primary:disabled {
    background: var(--Blue-10, #ECF1FF);
    border-radius: 0px;
    color: #626E82
}

.btn-partisia-secondary {
    border: 1px solid var(--Blue, #1D70EA);
    background: var(--White, #FFF);
    border-radius: 0px;
    color: #1D70EA;
    font-weight: 700;
}

.btn-border {
    border: 1px solid;
}

.vertical-toggle>.q-btn:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
}

.vertical-toggle5>.q-btn:nth-child(4) {
    border-left: 1px solid;
    border-right: 1px solid;
}

.gas-toggle>.q-btn:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
}

.gas-toggle>.q-btn:nth-child(3) {
    border-right: 1px solid;
}

.parti-color {
    color: #1D70EA;

}