<template>
  <router-view v-if="isLoaded" />
</template>
<script>
import { defineComponent, onBeforeMount, onMounted, ref } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import compareVersions from 'compare-versions'

export default defineComponent({
  name: 'App',
  data() {
    return {
      isDev: JSON.parse(process.env.DEV),
    }
  },
  computed: {},
  setup() {
    const $q = useQuasar()
    const store = useStore()

    store.watch(
      (state, getters) => getters.walletActivity,
      async (newValue, oldValue) => {
        // anytime wallet activity updates save it in the bex storage
        if (process.env.DEV) console.log('walletActivity newValue', newValue.length)
        if (newValue.length) {
          // await $q.bex.send('wallet.activity', { walletIdx: store.getters.walletActiveIdx, aryActivity: newValue })
        }
      }
    )
    store.watch(
      (state, getters) => getters.walletTokensErc20,
      async (newValue, oldValue) => {
        if (process.env.DEV) console.log('walletTokensErc20 newValue', newValue.length)
        if (newValue.length) {
          // await $q.bex.send('wallet.activity.erc20', { walletIdx: store.getters.walletActiveIdx, aryActivity: newValue })
        }
      }
    )
    const isLoaded = ref(false)
    onBeforeMount(async () => {
      // reload the wallet from storage
      const walletState = (await $q.bex.send('wallet.state', {})).data
      if (process.env.DEV) console.log('walletState bex', JSON.stringify(walletState, null, 2))
      // reset the vuex state with the storage values
      const aryWallets = JSON.parse(JSON.stringify(store.getters.walletState))
      if (process.env.DEV) console.log('aryWallets', JSON.stringify(aryWallets, null, 2))
      for (let i = 0; i < aryWallets.length; i++) {
        const wallet = aryWallets[i]
        wallet.name = walletState[i].name
        wallet.keystore = walletState[i].keystore
        wallet.address = walletState[i].address
        wallet.pub = walletState[i].pub
      }
      await store.dispatch('walletLoad', aryWallets)

      const appVersion = chrome.runtime.getManifest().version

      const migrateVersion = await $q.bex.send('storage.get', { key: `migrate_version` })
      const migrate = await $q.bex.send('storage.get', { key: `migrate_${appVersion}` })
      console.log('migrateVersion', migrateVersion.data)
      console.log('migrated', migrate.data || false)

      const runMigrations = async (migrateVersion, migrate) => {
        const appVersion = chrome.runtime.getManifest().version
        if (migrateVersion === appVersion && migrate) {
          // Version is current and updated; Nothing to do
          console.log('Version is current and up to date')
          return
        }
        if (migrateVersion === undefined && migrate === false) {
          // This means that it is a first time run
          console.log('first time run')
          // Nothing to migrate so set the flags and return.
          // Clear all storage just be safe in case there was a old version
          await $q.bex.send('storage.clear', {})
          await store.dispatch('resetStateOptions')
          await store.dispatch('resetStateRoutes')
          await store.dispatch('resetStateWallet')
          await store.dispatch('resetStateChain')

          await $q.bex.send('storage.set', { key: 'migrate_version', data: appVersion })
          await $q.bex.send('storage.set', { key: `migrate_${appVersion}`, data: true })
          return
        }

        if (migrateVersion !== appVersion) {
          console.log(`migrate from ${migrateVersion} to ${appVersion}`)

          // any version before 1.0.37 reset everything new betanet
          if (compareVersions.compare(migrateVersion, '1.0.61', '<')) {
            console.log('before 1.0.61 resetStateChain')
            await $q.bex.send('storage.clear', {})
            await store.dispatch('resetStateOptions')
            await store.dispatch('resetStateRoutes')
            await store.dispatch('resetStateWallet')
            await store.dispatch('resetStateChain')
            $q.notify({
              timeout: 0,
              actions: [{ icon: 'close', color: 'white' }],
              type: 'positive',
              message: 'At long last Mainnet has arrived! Please import your keys to access your funds.',
            })
          }
          if (compareVersions.compare(migrateVersion, '1.0.67', '<')) {
            console.log('before 1.0.66 reset networks')
            await store.dispatch('resetNetworkPartisia')
          }
          if (compareVersions.compare(migrateVersion, '1.0.78', '<')) {
            await store.dispatch('resetTokensErc20')
          }
          // set the migrate versions
          await $q.bex.send('storage.set', { key: 'migrate_version', data: appVersion })
          await $q.bex.send('storage.set', { key: `migrate_${appVersion}`, data: true })
        }
        if (compareVersions.compare(migrateVersion, '1.0.87', '<')) {
          // moving to reader.pbdevs.com for mainnet
          await store.dispatch('resetNetworkPartisia')
        }
        if (compareVersions.compare(migrateVersion, '1.0.89', '<')) {
          // moving to reader.pbdevs.com back to reader.partisiablockchain.com
          await store.dispatch('resetNetworkPartisia')
        }
        if (compareVersions.compare(migrateVersion, '2.0.0', '<')) {
          await store.dispatch('resetStateOptions')
          await store.dispatch('resetStateChain')
          await store.dispatch('resetStateRoutes')
        }
        if (compareVersions.compare(migrateVersion, '3.0.2', '<')) {
          await store.dispatch('resetStateChain')
        }
        if (compareVersions.compare(migrateVersion, '3.0.6', '<')) {
          await store.dispatch('resetTokensErc20')
          await store.dispatch('resetTokensErc721')
          // $q.notify({
          //   timeout: 0,
          //   actions: [{ icon: 'close', color: 'white' }],
          //   type: 'info',
          //   position: 'center',
          //   message:
          //     'Partisia Blockchain has issued a directive to no longer display MPC20 tokens and NFTs within this wallet. It is crucial to underscore that this decision is in no way a reflection of the developer team behind this wallet. In the event of disagreement, we emphasize the importance of refraining from expressing any dissatisfaction towards the wallet or its developers. Instead, we kindly request that all criticisms be directed to the designated Partisia Blockchain discord channel for proper consideration.',
          // })
        }
        if (compareVersions.compare(migrateVersion, '3.0.15', '<')) {
          await store.dispatch('resetTokensErc20')
          await store.dispatch('resetTokensErc721')
        }
        if (compareVersions.compare(migrateVersion, '3.0.19', '<')) {
          await store.dispatch('resetStateChain')
          await store.dispatch('resetTokensErc20')
          await store.dispatch('resetTokensErc721')
        }
        if (compareVersions.compare(migrateVersion, '3.0.20', '<')) {
          await store.dispatch('resetTokensErc721')
        }
      }
      await runMigrations(migrateVersion.data, migrate.data || false)

      // await store.dispatch('resetTokensErc20')
      // await store.dispatch('resetTokensErc721')

      const LOCK_TIMEOUT = store.getters.getOptions.lockTimeout * 60 * 1000
      if (Date.now() - store.getters.idleTime > LOCK_TIMEOUT) {
        await store.dispatch('walletLoggedIn', false)
      }
      // update idle time to prevent unexpected lock
      await store.dispatch('setIdleTime', Date.now())

      isLoaded.value = true
    })
    return {
      isLoaded,
    }
  },
  created() {
    //  alert(this.$q.bex)
  },
  mounted() {
    document.onreadystatechange = async () => {
      if (document.readyState == 'complete') {
      }
    }
  },
})
</script>
<style lang="scss">
.q-btn:before {
  box-shadow: none;
}
.btn-green {
  height: 46px;
  background: linear-gradient(270deg, #47e8ad 0%, #00af6f 100%);
  box-shadow: 0px 4px 4px 2px rgba(0, 202, 128, 0.2);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #000029;
}
.text-accept {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* identical to box height, or 21px */

  // color: #b7b7b7;
}
.q-checkbox__inner {
  margin-left: -8px;
  color: #1d70ea;
}
.q-checkbox__label {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000;
}

// .q-field--dense .q-field__control,
// .q-field--dense .q-field__marginal {
//   height: 46px;
// }

.q-tab__indicator {
  color: #1d70ea;
}
.q-tab__label {
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: rgba($color: #474955, $alpha: 0.4);
}
.q-tab--active {
  .q-tab__label {
    color: #1d70ea;
  }
}
.q-stepper__step-inner {
  padding: 8px 24px !important;
}

.input-frm {
  border: 1px solid var(--Blue, #1d70ea);
  background: var(--Blue-20, #d4dffb);
}
.input-password {
  margin-top: 3px;
  padding: 0 10px;
  border-radius: 0px;
  outline: none;
  border: 1px solid var(--Blue, #1d70ea);
  background: var(--Blue-20, #d4dffb);
}

.input-label {
  color: var(--Gray-90, #798397);
  font-weight: 700;
  font-size: 12px;
  font-family: 'F37 Bolton';
  line-height: 100%;
  padding-bottom: 4px;
}
.input-field {
  border-radius: 1px;
  border: 1px solid var(--Gray-90, #798397);
  background: var(--White, #fff);
}
.mnemonic-box {
  background: #ecf1ff;
  border-radius: 0px;
  padding: 6px;
}
.mnemonic-word-box {
  border: 1px solid var(--Blue, #1d70ea);
  background: var(--Blue-20, #d4dffb);

  border-radius: 0px;
  width: 70px;
}
.mnemonic-word-num {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  margin-left: -3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'F37 Bolton';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.select-wallet {
  padding: 0 12px;
  border-radius: 0px;

  border: 1px solid var(--Blue, #1d70ea);
  background: var(--Blue-20, #d4dffb);
  color: var(--Blue, #1d70ea);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.inner-select {
  color: var(--Blue, #1d70ea);
  text-align: center;
  font-family: 'F37 Bolton';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}

.container {
  position: relative;
}
.corner-circle {
  width: 8px;
  height: 8px;
  background-color: #1d70ea; /* Circle color */
  border-radius: 50%; /* Makes it a circle */
  position: absolute;
  &.top-left {
    top: -4px;
    left: -4px;
  }
  &.top-right {
    top: -4px;
    right: -4px;
  }

  &.bottom-left {
    bottom: -4px;
    left: -4px;
  }

  &.bottom-right {
    bottom: -4px;
    right: -4px;
  }
}
</style>
